<app-menu></app-menu>
<section class="page-title centred" style="background-image:url(assets/images/background/banner\ resoluciones.jpg)">
</section>
<div class="container mt-4" style="font-family: Arial, sans-serif;">
  <nav arial-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
        <a routerLink="/inicio" style=" text-decoration: none;">
          Inicio
        </a>
      </li>
      <li class="" style="font-size: 22px; font-weight: bold;">
        <a routerLink="/ceibas" style="text-decoration: none;">
          Las Ceibas
        </a>
      </li>
      <li class="" style="font-size: 22px; color: #6c757d; font-weight: bold;">
        Resoluciones
      </li>
    </ol>
  </nav>
</div>
<div class="container mt-4">
  <div class="sec-title">
    <h1>Resoluciones.</h1>
  </div>
  <div id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button custom-accordion-button" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseOne">
          <h4 class="custom-accordion-title"><img
              src="../../../assets/images/icons/iconos-sistema-integrado/informacion.png" alt width="50px" height="50px"
              hspace="70px"> 2022</h4>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show custom-accordion-body" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample" [collapse]="isCollapsed">
        <div class="accordion-body">

          <ul class="list clearfix">
            <li><a href="../../../assets/Archivos/resoluciones/2022/RESOLUCION 010 DE 2022.pdf" target="_blank"
                rel="noopener noreferrer">Resolución 010 DE 2022</a></li>
            <li><a href="../../../assets/Archivos/resoluciones/2022/RESOLUCION 124 DE 2022.pdf" target="_blank"
                rel="noopener noreferrer">Resolución 124 DE 2022</a></li>
            <li><a href="../../../assets/Archivos/resoluciones/2022/RESOLUCION 2083 DE 2022.pdf" target="_blank"
                rel="noopener noreferrer">Resolución 2083 DE 2022</a></li>
            <li><a href="../../../assets/Archivos/resoluciones/2022/RESOLUCION 066 DE 2022.pdf" target="_blank"
                rel="noopener noreferrer">Resolución 066 DE 2022</a></li>
            <li><a href="../../../assets/Archivos/resoluciones/2022/RESOLUCION 009 DE 2022.pdf" target="_blank"
                rel="noopener noreferrer">Resolución 009 DE 2022</a></li>
            <li><a href="../../../assets/Archivos/resoluciones/2022/resolucion_22_2022.pdf" target="_blank"
                rel="noopener noreferrer">Resolucion 22 2022</a></li>
          </ul>
        </div>
      </div>
    </div><br>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button custom-accordion-button" type="button" (click)="isCollapsed2 = !isCollapsed2"
          [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseTwo">
          <h4 class="custom-accordion-title"><img
              src="../../../assets/images/icons/iconos-sistema-integrado/contratacion.png" alt="" width="50px"
              height="50px" hspace="70px"> 2021</h4>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse custom-accordion-body" aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample" [collapse]="isCollapsed2">
        <div class="accordion-body">

          <ul class="list clearfix">
            <li><a
              href="../../../assets/Archivos/resoluciones/2021/RES 399 POR MEDIO DE LA CUAL SE NOMBRAN LOS REPRESENTANTES PRINCIPALES Y SUPLENTES.pdf"
              target="_blank" rel="noopener noreferrer"> Resolución 399 POR MEDIO DE LA CUAL SE NOMBRAN LOS REPRESENTANTES PRINCIPALES Y SUPLENTES</a></li>
            <li><a
                href="../../../assets/Archivos/resoluciones/2021/ACUERDO 014 DE 2021.pdf"
                target="_blank" rel="noopener noreferrer"> Acuerdo 014 de 2021</a></li>
            <li><a
                href="../../../assets/Archivos/resoluciones/2021/RESOLUCION 443 DE 2021.pdf"
                target="_blank" rel="noopener noreferrer"> Resolución 443 de 2021</a></li>
            <li><a
                href="../../../assets/Archivos/resoluciones/2021/RESOLUCION 442 DE 2021.pdf"
                target="_blank" rel="noopener noreferrer"> Resolución 442 de 2021</a></li>
            <li><a
                href="../../../assets/Archivos/resoluciones/2021/RESOLUCION_202_PAGO_CONCILIACION_RAD._41001418900420190050300._08-06-2021.pdf"
                target="_blank" rel="noopener noreferrer"> Resolución 202 pago conciliación RAD.
                41001418900420190050300.
                08-06-2021</a></li>
            <li><a
                href="../../../assets/Archivos/resoluciones/2021/RESOLUCION_254_CUMPLIMIENTO_FALLO_TUTELA_RAD._2013-00489._08-07-2021.pdf"
                target="_blank " rel="noopener noreferrer">Resolución 254 cumplimientos fallo tutela RAD. 2013
                00489.
                08-07-2021</a></li>
            <li><a
                href="../../../assets/Archivos/resoluciones/2021/RESOLUCION_255_CUMPLIMIENTO_FALLO_DE_TUTELA_RAD._2013-00489._08-07-2021.pdf"
                target="_blank " rel="noopener noreferrer">Resolución 255 cumplimiento fallo de tutela RAD.2013
                00489.
                08-07-2021</a></li>
            <li><a
                href="../../../assets/Archivos/resoluciones/2021/RESOLUCION_305_PAGO_CONCILIACION_RAD_41001418900520190036300._03-08-2021.pdf"
                target="_blank" rel="noopener noreferrer">Resolución 305 pago conciliación RAD
                41001418900520190036300.
                03-08-2021</a></li>
            <li><a
                href="../../../assets/Archivos/resoluciones/2021/RESOLUCION_493_PAGO_CONCILIACION_RAD._41001-31-05-001-2020-00009-00_29-11-2021.pdf"
                target="_blank" rel="noopener noreferrer">Resolución 493 pago conciliación RAD.
                41001-31-05-001-2020-00009-00 29-11-2021</a></li>
            <li><a
                href="../../../assets/Archivos/resoluciones/2021/RESOLUCION_494_PAGOAUDIENCIA_CONCILIACION_RAD_41-001-31-05-001-2020-009-00_-2021.pdf"
                target="_blank" rel="noopener noreferrer">Resolución 494 pago audienca conciliación RAD 41 001
                31 05 001
                2020 009 00 2021</a></li>
            <li><a
                href="../../../assets/Archivos/resoluciones/2021/RESOLUCION_548_PAGO_PARCIAL_RAD._41001310500320150123300._13-12-2021.pdf"
                target="_blank" rel="noopener noreferrer">Resolución 548 pago parcial RAD.
                41001310500320150123300.
                13-12-2021</a></li>
            <li><a
                href="../../../assets/Archivos/resoluciones/2021/RESOLUCION_495_PAGO_CONCILIACION_RAD._41-001-33-33-001-2017-00215-00.__29-11-2021.pdf"
                target="_blank" rel="noopener noreferrer">Resolución 495 pago conciliación RAD.
                41-001-33-33-001-2017-00215-00. 29-11-2021</a></li>
            <li><a
                href="resoluciones/2021/RESOLUCION_004_PAGO_AUDIENCIA_ORAL_RAD._41-001-41-05-001-2016-00216-00._21-01-20_21.pdf"
                target="_blank " rel="noopener noreferrer">Resolición 004 pago audiencia oral RAD.
                41-001-41-05-001-2016-00216-00. 21-01-20_21</a></li>
            <li><a
                href="../../../assets/Archivos/resoluciones/2021/RESOLUCION_005_PAGO_CONCILIACION_RAD._41001-31-05-001-2017-00165-00.__21-01-2021.pdf"
                target="_blank " rel="noopener noreferrer">Resolución 005 pago conciliación RAD.
                41001-31-05-001-2017-00165-00. 21-01-2021</a></li>
            <li><a
                href="../../../assets/Archivos/resoluciones/2021/RESOLUCION_033_CUMPLIMIENTO_FALLO_DE_TUTELA__RAD._2013-00489._26-01-2021.pdf"
                target="_blank " rel="noopener noreferrer">Resolución 033 cumplimiento fallo de tutela RAD.
                2013-00489.
                26-01-2021</a></li>
            <li><a
                href="../../../assets/Archivos/resoluciones/2021/RESOLUCION_034_CUMPLIMIENTO_FALLO_TUTELA_RAD._2013-00489._26-01-_2021.pdf"
                target="_blank" rel="noopener noreferrer">Resolución 034 cumpliminetofallo tutela RAD.
                2013-00489.
                26-01-_2021</a></li>
            <li><a
                href="../../../assets/Archivos/resoluciones/2021/RESOLUCION_155_PAGO_CONDENA_EN_COSTAS_RAD._41001333300720170006100._12-05-2021.pdf"
                target="_blank" rel="noopener noreferrer">Resolución 155 pago condena en costas RAD.
                41001333300720170006100. 12-05-2021</a></li>
            <li><a
                href="../../../assets/Archivos/resoluciones/2021/RESOLUCION_156_PAGO_CONCILIACION_RAD._410013333008-2020-00171-00._12-05-2021.pdf"
                target="_blank " rel="noopener noreferrer">Resolución 156 pago conciliación RAD.
                410013333008-2020-00171-00. 12-05-2021</a></li>
            <li><a
                href="../../../assets/Archivos/resoluciones/2021/RESOLUCION_188_PAGO_CONDENA_CONTROL_REPARACION_DIRECTA_RAD._41001333170220120011801._28-05-2021.pdf"
                target="_blank " rel="noopener noreferrer">Resolución 188 pago condena control reparación
                directa RAD.
                41001333170220120011801. 28-05-2021</a></li>
            <li><a
                href="../../../assets/Archivos/resoluciones/2021/RESOLUCION 159 POR EL CUAL SE MODIFICA LA PLANTA DE PERSONAL Y SE ADOPTAN OTRAS DECISIONES 13-05-2021.pdf"
                target="_blank" rel="noopener noreferrer">Resolución 159 por el cual se modifica la planta de
                personal y
                se adoptan otras decisiones 13-05-2021</a></li>
            <li><a
                href="../../../assets/Archivos/resoluciones/2021/RESOLUCION 160 MANUAL ESPECIFICO DE FUNCIONES, PARA LOS EMPLEOS DE LA PLANTA DE PERSONAL DE LAS CEIBAS EPN E.S.P..pdf"
                target="_blank" rel="noopener noreferrer">Resolución 160 manual especifico de funciones, para
                los
                empleados de la planta de personal de las ceibas EPN E.S.P.</a></li>
          </ul>
        </div>
      </div>
    </div><br>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button custom-accordion-button" type="button" (click)="isCollapsed3 = !isCollapsed3"
          [attr.aria-expanded]="!isCollapsed3" aria-controls="collapseThree">
          <h4 class="custom-accordion-title"><img
              src="../../../assets/images/icons/iconos-sistema-integrado/presentacion-financiera.png" alt=""
              width="50px" height="50px" hspace="70px"> 2020</h4>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse custom-accordion-body" aria-labelledby="headingThree"
        data-bs-parent="#accordionExample" [collapse]="isCollapsed3">
        <div class="accordion-body">

          <ul class="list clearfix">
            <li><a
                href="../../../assets/Archivos/resoluciones/2020/RESOLUCION_0391_CONSTITUCION_COMITE_DE_CONCILIACION_29-05-2020.pdf"
                target="_blank" rel="noopener noferrer">Resolución 0391 constitución comite de conciliación
                29-05-2020</a>
            </li>
            <li><a
                href="../../../assets/Archivos/resoluciones/2020/RESOLUCION_116_UNIDAD_ADMINISTRATIVA_ESPECIAL_CONTADURIA_GENERAL_DE_LA_NACION_06-04-2017.pdf"
                target="_blank" rel="noopener noreferrer">Resolución 116 unidad administrativa especial
                contaduria general
                de la nación 06-04-2017</a></li>
            <li><a
                href="../../../assets/Archivos/resoluciones/2020/RESOLUCION_360_PAGO_CONCILIACION_RAD._41001-31-05-001-2017-00165-00._11-11-2020.pdf"
                target="_blank" rel="noopener noreferrer">Resolución 360 pago conciliación RAD.
                41001-31-05-001-2017-00165-00. 11-11-2020</a></li>
            <li><a
                href="../../../assets/Archivos/resoluciones/2020/RESOLUCION_369_PAGO_CONCILIACION_RAD._41001-31-05-001-2017-00476-00._18-11-2020.pdf"
                target="_blank" rel="noopener noreferrer">Resolución 369 pago conciliación RAD.
                41001-31-05-001-2017-00476-00. 18-11-2020</a></li>
            <li><a
                href="../../../assets/Archivos/resoluciones/2020/RESOLUCION_378_PAGO_CONCILIACION_RAD._41001-41-2020.pdf"
                target="_blank" rel="noopener noreferrer">Resolución 378 pago conciliación RAD.
                41001-41-2020</a></li>
            <li><a
                href="../../../assets/Archivos/resoluciones/2020/RESOLUCION_436_PAGO_CONCILIACION_RAD._41001-31-03-001-2019-00267-00._17-12-2020.pdf"
                target="_blank" rel="noopener noreferrer">Resolución 436 pago conciliación RAD.
                41001-31-03-001-2019-00267-00.17-12-2020</a></li>
            <li><a href="../../../assets/Archivos/resoluciones/2020/360_de_2020.pdf" target="_blank "
                rel="noopener noreferrer">360 de
                2020</a></li>
            <li><a href="../../../assets/Archivos/resoluciones/2020/369_de_2020_2__0.pdf" target="_blank "
                rel="noopener noreferrer">369
                de 2020</a>
            </li>
            <li><a href="../../../assets/Archivos/resoluciones/2020/resolucion_233-aprobacion_pdi_2020-2023.pdf"
                target="_blank" rel="noopener noreferrer">Resolución 233 aprobacion pdi 2020-2023</a></li>
          </ul>
        </div>
      </div>
    </div><br>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button custom-accordion-button" type="button" (click)="isCollapsed4 = !isCollapsed4"
          [attr.aria-expanded]="!isCollapsed4" aria-controls="collapseFour">
          <h4 class="custom-accordion-title"><img
              src="../../../assets/images/icons/iconos-sistema-integrado/agente-de-servicio-al-cliente.png" alt=""
              width="50px" height="50px" hspace="70px"> Adjunto</h4>
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse custom-accordion-body" aria-labelledby="headingFour"
        data-bs-parent="#accordionExample" [collapse]="isCollapsed4">
        <div class="accordion-body">

          <ul class="list clearfix">
            <li><a href="../../../assets/Archivos/resoluciones/adjuntos/resolucion_no._416_de_2016.pdf" target="_blank"
                rel="nnopener noreferrer">Resolución no.416 de 2016</a></li>
            <li><a href="../../../assets/Archivos/resoluciones/adjuntos/resolucion_numero_0609.pdf" target="_blank"
                rel="noopener noferrer">Resolución
                número 0609</a></li>
            <li><a href="../../../assets/Archivos/resoluciones/adjuntos/resolucion_no._0100_de_2015.pdf" target="_blank"
                rel="noopener noferrer">Resolución no. 0100 de 2015</a></li>
            <li><a href="../../../assets/Archivos/resoluciones/adjuntos/res_120_mipg_adopcion_mipg_en_las_ceibas.pdf"
                target="_blank" rel="noopener noferrer">Resolución 120 mipg adopción mipg en las ceibas</a></li>
            <li><a
                href="../../../assets/Archivos/resoluciones/adjuntos/res_121_mipg_creacion_comite_institucional_de_gestion_y_desempeno.pdf"
                target="_blank" rel="noopener noferrer">Resolución 121 mipg creación comite institucional de
                gestión y
                desempeño</a></li>
            <li><a href="../../../assets/Archivos/resoluciones/adjuntos/resolucion_0123_del_2018.pdf" target="_blank"
                rel="noopener noferrer">Resolución 0123 del 2018</a></li>
            <li><a href="../../../assets/Archivos/resoluciones/adjuntos/resolucion_1046_2018_restructuracion_mipg.pdf"
                target="_blank" rel="nooperner noferrer">Resolución 1046 2018 restructuración mipg</a> </li>
            <li><a href="../../../assets/Archivos/resoluciones/adjuntos/resolucion_0073_de_2019_-_aprobacion_planes.pdf"
                target="_blank" rel="noopener noreferrer">Resolución 0073 de 2019 aprobación planes</a></li>
            <li><a href="../../../assets/Archivos/resoluciones/adjuntos/resolucion_378-20.pdf" target="_blank"
                rel="noopener noreferrer">Resolución
                378
                20</a></li>
            <li><a
                href="../../../assets/Archivos/resoluciones/adjuntos/plan_institucional_de_bienestar_e_incentivos_2019.pdf"
                target="_blank" rel="noopener noreferrer">Plan institucional de bienestar e incentivos 2019</a>
            </li>
            <li><a
                href="../../../assets/Archivos/resoluciones/adjuntos/resolucion_391-2000_constitucion_comite_de_conciliacion.pdf"
                target="_blank" rel="noopener noreferrer">Resolución 391-2000 constitución comite de
                conciliación</a></li>
            <li><a href="../../../assets/Archivos/resoluciones/adjuntos/resolucion_436_-_20.pdf" target="_blank"
                rel="noopener noreferrer">Resolución
                436-20</a></li>
            <li><a href="../../../assets/Archivos/resoluciones/adjuntos/resolucion_438-20.pdf" target="_blank"
                rel="noopener noreferrer">Resolución
                438-20</a></li>
            <li><a
                href="../../../assets/Archivos/resoluciones/adjuntos/Res. 180 POR MEDIO DE LA CUAL SE DEROGAN LAS REOLUCIONES 112, 127, 129 Y 135.pdf"
                target="_blank " rel="noopener noreferrer">Res. 180 por medio de la cual se derogan las
                resoluciones 112,
                127, 129 Y 135</a></li>
          </ul>
        </div>
      </div>
    </div>
    <br>
  </div>
</div><br><br><br><br><br><br>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>