<app-menu></app-menu>
<section class="page-title centred" style="background-image:url(assets/images/background/banner\ cartera.jpg)">
</section>
<div class="container mt-4" style="font-family: Arial, sans-serif;">
  <nav arial-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
              <a routerLink="/inicio" style=" text-decoration: none;">
              Inicio
              </a>
          </li>
          <li class="" style="font-size: 22px; font-weight: bold;">
            <a routerLink="/ceibas" style=" text-decoration: none;">
              Las Ceibas
            </a>
          </li>
          <li class="" style="font-size: 22px; color: #6c757d; font-weight: bold;">
            Cartera
          </li>
      </ol>
  </nav>
</div>
<section class="faq-page-section">
  <div class="container pt-4">
    <div class="row">
      <div class="card-body">
        <div class="auto-container">
          <div class="row clearfix">
            <div class="col-lg-12ne col-md-12 col-sm-12 content-column">
              <li class="accordion block">
                <div class="sec-title">
                  <h1>Cartera</h1>
                  <img src>
                </div>
                <div class="sec-title">
                  <p>Según informe de “empalme” las EPN emitió la Resolución 072 del 2 de febrero/2011, mediante la cual
                    permite a los usuarios de estratos 1 y 2 que se encuentran en mora para financiar hasta 20 años
                    dicha
                    cartera, exonerado el 100% de los intereses de mora y no cobrando intereses de financiación por
                    dicha
                    cartera.</p>
                </div>
                <div class="sec-title">
                  <p>La distribución de cartera por estrato de 9,572 usuarios está concentrada en los estratos 1 y 2 con
                    el
                    78%. El Total de cartera reportado fue de $15.227.000.000 que equivale aproximadamente a 10 meses de
                    facturación mensual de suministro de agua potable.</p>
                </div>
                <div class="sec-title">
                  <p>Las EPN a través del contrato 158/2011, a cargo de la firma Contac Tc Ltda, efectúa actividades de
                    recuperación de cartera a través de outbound-(salida de llamadas) realización con contactación
                    telefónica
                    a los usuarios de EPN que presenten atraso en los pagos de obligaciones financieras en horas y
                    fechas
                    diferentes para garantizar la máxima efectividad en los cobros, por un valor de $26,448,000 y un
                    plazo de
                    tres (39 meses con fecha de inicio de 7 de octubre de 2011. </p>
                </div>
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>
