<app-menu></app-menu>
<section class="page-title centred" style="background-image:url(assets/images/background/las-ceibas.jpg)">
</section><br>
<section>
  <div style="font-family: Arial, sans-serif; margin-left: 20px;">
    <nav arial-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
          <a routerLink="/inicio" style=" text-decoration: none;">
            Inicio
          </a>
        </li>
        <li class="" style="font-size: 22px; color: #6c757d; font-weight: bold;">
          Las Ceibas
        </li>
      </ol>
    </nav>
  </div>
</section>
<section class="about-section">
  <div class="auto-container">
    <div class="row align-items-center clearfix">
      <div class="col-lg-6 col-md-12 col-sm-12 image-column">
        <figure class="image-box clearfix wow fadeInLeft animated" data-wow-delay="00ms" data-wow-duration="1500ms"><img
            src="../../../assets/images/sede-principal.png" alt="imagen de la Sede principal" width="530px"
            height="550px">
        </figure>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 content-column">
        <div class="content_block_1">
          <div class="content-box wow fadeInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms">
            <div class="sec-title">
              <h3><b style="color:#00556a">Las Ceibas.</b></h3>
              <h4 style="font-size: 30px;"> Empresas Públicas de Neiva E.S.P</h4>
            </div>
            <div class="text-justify">
              <p style="font-size: 20px;">Las Ceibas Empresas Públicas de Neiva E.S.P tienen por objeto:
                La prestación y/u operación y/o administración y/o distribución y/o generación y/o comercialización de
                los servicios públicos de: Acueducto, Alcantarillado, Aseo, Tratamiento y aprovechamiento de basuras,
                Energía Eléctrica, Gas y sus actividades complementarias o conexas, propias de todos y cada uno de los
                servicios que se indican en su objeto social y de acuerdo al marco legal regulatorio.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="service-details">
  <div class="auto-container">
    <div class="row clearfix">
      <div class="sec-title">
        <app-ceiba1></app-ceiba1>
      </div>
    </div>
  </div>
</section>
<section>

  <div class="shape-layer">
    <div class="shape-3" style="background-image:url(assets/images/shape/shape-36.png)"></div>
  </div>
  <div class="outer-container">
    <!-- Personal Las Ceibas -->
    <div class="container">
      <div class="sec-title text-center">
        <h1 class="text-white mb-5">NUESTRO EQUIPO</h1>
      </div>
      <div class="row">

        <div class="col-md-4">
          <div class="card">
            <img src="../../../assets/Archivos/fotos-empleados/gerente.jpg" class="card-img-top mt-4"
              alt="Andrés Eduardo Charry Guilombo">
            <div class="card-body">
              <h2 class="card-title employee-name">Andrés Eduardo Charry Guilombo</h2>
              <h3 class="card-subtitle employee-position">Gerente General</h3>
              <p class="card-text">
                <i class="fa-solid fa-circle-check pe-2"></i>Contador Público y Abogado<br>
                <i class="fa-solid fa-circle-check pe-2"></i>Especialista en Derecho Administrativo y Constitucional. <br>
                <i class="fa-solid fa-circle-check pe-2"></i>Especialista en Contratación Estatal. <br>
                <i class="fa-solid fa-circle-check pe-2"></i>Empresario, con amplia experiencia en el sector público en
                entidades como la Contraloría
              </p>
              <div class="contenedor">
                <a href="#" class="boton-verde" target="_blank">Ver Declaración de Renta</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <img src="../../../assets/Archivos/fotos-empleados/subgerente-administrativa.jpg" class="card-img-top mt-4"
              alt="Olga Lucía Castaño Muñoz">
            <div class="card-body">
              <h2 class="card-title employee-name">Olga Lucía Castaño Muñoz</h2>
              <h3 class="card-subtitle employee-position">Subgerente Administrativa y Financiera</h3>
              <p class="card-text">
                <i class="fa-solid fa-circle-check pe-2"></i>Administradora Financiera egresada de la Universidad
                Surcolombiana. <br>
                <i class="fa-solid fa-circle-check pe-2"></i>Especialista en Administración Pública Contemporánea de la
                Escuela Superior de Administración Pública (ESAP)
              </p> <br>
              <div class="contenedor">
                <a href="#" class="boton-verde" target="_blank">Ver Declaración de Renta</a>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-4">
          <div class="card">
            <img src="../../../assets/Archivos/fotos-empleados/subgerente-comercial.jpg" class="card-img-top mt-4"
              alt="Gerardo Humberto Morera Rodríguez">
            <div class="card-body">
              <h2 class="card-title employee-name">Gerardo Humberto Morera Rodríguez</h2>
              <h3 class="card-subtitle employee-position">Subgerente Comercial</h3>
              <p class="card-text">
                <i class="fa-solid fa-circle-check pe-2"></i>Economista especializado en finanzas <br>
                <i class="fa-solid fa-circle-check pe-2"></i>MBA cursado
              </p><br><br>
              <div class="contenedor">
                <a href="#" class="boton-verde" target="_blank">Ver Declaración de Renta</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-md-4">
          <div class="card">
            <img src="../../../assets/Archivos/fotos-empleados/subgerente-tic.jpg" class="card-img-top mt-4"
              alt="María Fernanda Triana" width="150" height="150" />
            <div class="card-body">
              <h2 class="card-title employee-name">María Fernanda Triana</h2>
              <h3 class="card-subtitle employee-position">Subgerente TIC</h3>
              <p class="card-text">
                <i class="fa-solid fa-circle-check pe-2"></i>Abogada.<br>
                <i class="fa-solid fa-circle-check pe-2"></i>Especialista en Contratación Estatal.<br>
                <i class="fa-solid fa-circle-check pe-2"></i>Candidata Máster en Derecho Constitucional.
              </p> <br><br><br>
              <div class="contenedor">
                <a class="boton-verde" href="#"
                  target="_blank">Ver Declaración de Renta</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <img src="../../../assets/Archivos/fotos-empleados/subgerente-tecnico.jpg" class="card-img-top mt-4"
              alt="Mauricio Andrés Rodriguez Romero" width="150" height="150" />
            <div class="card-body">
              <h2 class="card-title employee-name">Mauricio Andrés Rodríguez Romero</h2>
              <h3 class="card-subtitle employee-position">Subgerente Técnico y Operativo</h3>
              <p class="card-text">
                <i class="fa-solid fa-circle-check pe-2"></i>Ingeniero Civil, con más de 15 años de experiencia en obras civiles. <br>
              </p> <br><br><br>
              <div class="contenedor">
                <a href="#" class="boton-verde" target="_blank">Ver Declaración de Renta</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <img src="../../../assets/Archivos/fotos-empleados/jefe-contratacion.jpg" class="card-img-top mt-4"
              alt="Jhonatan Ramirez Perdomo" width="150" height="150" />
            <div class="card-body">
              <h2 class="card-title employee-name">Jhonatan Ramirez Perdomo</h2>
              <h3 class="card-subtitle employee-position">Director Administrativo de Contratación</h3>
              <p class="card-text px-xl-3">
                <i class="fa-solid fa-circle-check pe-2"></i>Abogado egresado de la Universidad Cooperativa de Colombia.
                <br>
                <i class="fa-solid fa-circle-check pe-2"></i>Especialista en Contratación Estatal, universidad de La
                Sabana. <br>
                <i class="fa-solid fa-circle-check pe-2"></i>Especialista en derecho administrativo y procedimiento
                administrativo, Universidad Antonio Nariño.
              </p>
              <div class="contenedor">
                <a href="#" class="boton-verde" target="_blank">Ver Declaración de Renta</a>
              </div>
            </div>
          </div>
        </div>
        

      </div>

      <div class="row">

        <div class="col-md-4">
          <div class="card">
            <img src="../../../assets/Archivos/fotos-empleados/jefe-juridica.JPG" class="card-img-top mt-4"
              alt="Juan David Bravo Pabón" width="150" height="150" />
            <div class="card-body">
              <h2 class="card-title employee-name">Juan David Bravo Pabón</h2>
              <h3 class="card-subtitle employee-position">Jefe Oficina Jurídica y Asuntos Disciplinarios</h3>
              <p class="card-text px-xl-3">
                <i class="fa-solid fa-circle-check pe-2"></i>Abogado Especialista en contratación estatal - Universidad
                de la Sabana <br>
                <i class="fa-solid fa-circle-check pe-2"></i>Especialista (c) Gerencia Publica y Control Fiscal -
                Universidad del Rosario.
              </p> <br>
              <div class="contenedor">
                <a href="#" class="boton-verde" target="_blank">Ver Declaración de Renta</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <img src="../../../assets/Archivos/fotos-empleados/jefe-planeacion.jpg" class="card-img-top mt-4"
              alt="Ana Lucía Muñoz" width="150" height="150" />
            <div class="card-body">
              <h2 class="card-title employee-name">Ana Lucía Muñoz</h2>
              <h3 class="card-subtitle employee-position">Jefe Oficina Asesora de Planeación y Análisis Financiero</h3>
              <p class="card-text px-xl-3 text-justify">
                <i class="fa-solid fa-circle-check pe-2"></i> Ingeniera de Sistemas <br>
                <i class="fa-solid fa-circle-check pe-2"></i>Especialista en Administración Pública Universidad Antonio
                Nariño. Con experiencia en Administración de Servicios Públicos, Capacitación y Planeación, así como en
                Dirección de Proyectos.
              </p>
              <div class="contenedor">
                <a href="#" class="boton-verde" target="_blank">Ver Declaración de Renta</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <img src="../../../assets/Archivos/fotos-empleados/directora-financiera.jpg" class="card-img-top mt-4"
              alt="Maria Welkis Perdomo Cubides" width="150" height="150" />
            <div class="card-body">
              <h2 class="card-title employee-name">Maria Welkis Perdomo Cubides </h2>
              <h3 class="card-subtitle employee-position">Directora Financiera</h3>
              <p class="card-text px-xl-3 text-justify">
                <i class="fa-solid fa-circle-check pe-2"></i>Economista de la Universidad Externado de Colombia. <br>
                <i class="fa-solid fa-circle-check pe-2"></i>Especialista en Gerencia de la Calidad y Auditoría en
                Salud.
              </p><br><br>
              <div class="contenedor">
                <a href="#" class="boton-verde" target="_blank">Ver Declaración de Renta</a>
              </div>
            </div>
          </div>
        </div>


      </div>

      <div class="row">

        <div class="col-md-4">
          <div class="card">
            <img src="../../../assets/Archivos/fotos-empleados/jefe-controlig.jpg" class="card-img-top mt-4"
              alt="Luis Alfredo Ortega" width="150" height="150" />
            <div class="card-body">
              <h2 class="card-title employee-name">Luis Alfredo Ortega</h2>
              <h3 class="card-subtitle employee-position">Asesor Control Interno de Gestión</h3>
              <p class="card-text px-xl-3 text-justify">
                <i class="fa-solid fa-circle-check pe-2"></i>Economista egresado de la Universidad Católica de Colombia
                <br>
                <i class="fa-solid fa-circle-check pe-2"></i>Especialista en Proyectos De Inversión.
              </p> <br>
              <div class="contenedor">
                <a class="boton-verde" href="../../../assets/Archivos/fotos-empleados/decla-renta/luisortega.pdf"
                  target="_blank">Ver Declaración de Renta</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <img src="../../../assets/Archivos/fotos-empleados/jefe-controlid.jpg" class="card-img-top mt-4"
              alt="Fabian Sánchez Jiménez" />
            <div class="card-body">
              <h2 class="card-title employee-name">Fabian Sánchez Jiménez</h2>
              <h3 class="card-subtitle employee-position">Jefe Oficina Control Interno Disciplinario</h3>
              <p class="card-text px-xl-3 text-justify">
                <i class="fa-solid fa-circle-check pe-2"></i>Abogado egresado de la Universidad Antonio Nariño <br>
                <i class="fa-solid fa-circle-check pe-2"></i>Especialista. Derecho administrativo, Universidad Surcolombiana.
              </p>
              <div class="contenedor">
                <a href="#" class="boton-verde" target="_blank">Ver Declaración de Renta</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <img src="../../../assets/Archivos/fotos-empleados/jefe-juzgamiento.jpg" class="card-img-top mt-4"
              alt="Juan Enrique González Urquijo" />
            <div class="card-body">
              <h2 class="card-title employee-name">Juan Enrique González Urquijo</h2>
              <h3 class="card-subtitle employee-position">Jefe Oficina de Juzgamiento Disciplinario</h3>
              <p class="card-text px-xl-3 text-justify">
                <i class="fa-solid fa-circle-check pe-2"></i>Abogado de la Universidad Cooperativa de Colombia <br>
                <i class="fa-solid fa-circle-check pe-2"></i>Especialista en Derecho Administrativo de la Universidad
                Nacional de Colombia
              </p>
              <div class="contenedor">
                <a href="#" class="boton-verde" target="_blank">Ver Declaración de Renta</a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-md-4">
          <div class="card">
            <img src="../../../assets/Archivos/fotos-empleados/jefe-th.jpg" class="card-img-top mt-4"
              alt="Andrés Mauricio Charry Calderón" width="150" height="150" />
            <div class="card-body">
              <h2 class="card-title employee-name">Andrés Mauricio Charry Calderón</h2>
              <h3 class="card-subtitle employee-position">Director Administrativo de Talento Humano</h3>
              <p class="card-text px-xl-3">
                <i class="fa-solid fa-circle-check pe-2"></i>Ingeniero Industrial <br>
                <i class="fa-solid fa-circle-check pe-2"></i>Candidato a Magister Universitario en Direccion y Gestion de Recursos Humanos-Executive.
              </p>
              <div class="contenedor">
                <a href="#" class="boton-verde" target="_blank">Ver Declaración de Renta</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <img src="../../../assets/Archivos/fotos-empleados/contadora.JPG" class="card-img-top mt-4"
              alt="Bellanur Puentes Carvajal" width="150" height="150" />
            <div class="card-body">
              <h2 class="card-title employee-name">Bellanur Puentes Carvajal</h2>
              <h3 class="card-subtitle employee-position">Contabilidad</h3>
              <p class="card-text px-xl-3">
                <i class="fa-solid fa-circle-check pe-2"></i>Contadora Pública egresada de la Universidad Antonio Nariño
                <br>
                <i class="fa-solid fa-circle-check pe-2"></i>Formación en contabilidad, auditoría y finanzas.
              </p>
              <div class="contenedor">
                <a href="#" class="boton-verde" target="_blank">Ver Declaración de Renta</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <img src="../../../assets/Archivos/fotos-empleados/tesorero.jpg" class="card-img-top mt-4"
              alt="Alejandro Cardozo Farfán" width="150" height="150" />
            <div class="card-body">
              <h2 class="card-title employee-name">Alejandro Cardozo Farfán</h2>
              <h3 class="card-subtitle employee-position">Tesorero General</h3>
              <p class="card-text px-xl-3 text-justify">
                <i class="fa-solid fa-circle-check pe-2"></i>Contador Público <br>
                <i class="fa-solid fa-circle-check pe-2"></i>Especialista en Finanzas de la Universidad del Tolima.
              </p>
              <div class="contenedor">
                <a href="#" class="boton-verde" target="_blank">Ver Declaración de Renta</a>
              </div>
            </div>
          </div>
        </div>


      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img src="../../../assets/Archivos/fotos-empleados/comunidades.jpg" class="card-img-top mt-4"
              alt="María Yurani Vidal" width="150" height="150" />
            <div class="card-body">
              <h2 class="card-title employee-name">María Yurani Vidal</h2>
              <h3 class="card-subtitle employee-position">Comunidades</h3>
              <p class="card-text px-xl-3">
                <i class="fa-solid fa-circle-check pe-2"></i>
                <br>
                <i class="fa-solid fa-circle-check pe-2"></i>
              </p>
              <div class="contenedor">
                <a href="#" class="boton-verde" target="_blank">Ver Declaración de Renta</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<section class="service-details">
  <div class="auto-container">
    <div class="row clearfix">
      <div class="sec-title">

        <app-ceiba2></app-ceiba2>
      </div>
    </div>
  </div>
</section>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>