<app-menu></app-menu>
<section class="page-title centred"
  style="background-image:url(assets/images/background/banner\ presupuesto\ anual.jpg)">
</section>
<section>
  <div class="container mt-4" style="font-family: Arial, sans-serif;">
    <nav arial-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #ffffff; border-radius: 0; padding: 8px 16px; border-left: 5px solid #17a2b8;">
            <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
                <a routerLink="/inicio" style="color: #17a2b8; text-decoration: none;">
                  Inicio
                </a>
            </li>
            <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
              <a routerLink="/ceibas" style="color: #17a2b8; text-decoration: none;">
                Las Ceibas
              </a>
            </li>
            <li class="breadcrumb-item" style="font-size: 22px; color: #6c757d; font-weight: bold;">
                Presupuesto Anual
            </li>
        </ol>
    </nav>
  </div>
</section>
<section class="about-section">
  <div class="container pt-4">
    <div class="row">
      <div class="card-body">
        <div class="table-wrapper">
          <table class="fl-table">
            <thead>
              <tr>
                <th>Tipo de documento</th>
                <th>Archivo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="responsive" data-th="Tipo de documento"><a href="../../../assets/Archivos/documentos-tranparencia/4.1.1 Presupuesto anual/RESOLUCION_DESAGREGACION_DEL_PTTO_2024.pdf" target="_blank">PDF</a></td>
                <td class="responsive" data-th="Archivo">
                  <div class="title-wrapper">RESOLUCION 600 DE 2023 - DESAGREGACION PRESUPUESTO 2024</div>
                </td>
              </tr>
              <tr>
                <td class="responsive" data-th="Tipo de documento"><a href="../../../assets/Archivos/documentos-tranparencia/4.1.1 Presupuesto anual/RESOLUCION 520 DE 2022 - DESAGREGACION PRESUPUESTO 2023.pdf" target="_blank">PDF</a></td>
                <td class="responsive" data-th="Archivo">
                  <div class="title-wrapper">RESOLUCION 520 DE 2022 - DESAGREGACION PRESUPUESTO 2023</div>
                </td>
              </tr>
              <tr>
                <td class="responsive" data-th="Tipo de documento"><a href="../../../assets/Archivos/presupuesto-anual/Resolucion_No_462__ADOPTA_PRESUPUESTO_2021.pdf" target="_blank">PDF</a></td>
                <td class="responsive" data-th="Archivo">
                  <div class="title-wrapper">Resolucion No 462_ ADOPTA PRESUPUESTO 2021</div>
                </td>
              </tr>
              <tr>
                <td class="responsive" data-th="Tipo de documento"><a href="../../../assets/Archivos/presupuesto-anual/EJECUCION DE INGRESOS 2021.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
                <td class="responsive" data-th="Archivo">
                  <div class="title-wrapper">Ejecución de ingresos 20212</div>
                </td>
              </tr>
              <tr>
                <td class="responsive" data-th="Tipo de documento"><a href="../../../assets/Archivos/presupuesto-anual/ejecucion_presupuesto_de_ingresos_y_egresos_a_julio_2016.pdf" target="_blank">PDF</a></td>
                <td class="responsive" data-th="Archivo">
                  <div class="title-wrapper">Ejecucion presupuesto de ingresos y egresos a junio 2016</div>
                </td>
              </tr>
              <tr>
                <td class="responsive" data-th="Tipo de documento"><a href="../../../assets/Archivos/presupuesto-anual/PTO_DESAGREGADO_2022.pdf" target="_blank">PDF</a></td>
                <td class="responsive" data-th="Archivo">
                  <div class="title-wrapper">PTO_DESAGREGADO_2022</div>
                </td>
              </tr>
              <tr>
                <td class="responsive" data-th="Tipo de documento"><a href="../../../assets/Archivos/presupuesto-anual/ejecucion_presupuesto_de_ingresos_y_egresos_a_junio_2016.pdf" target="2">PDF</a></td>
                <td class="responsive" data-th="Archivo">
                  <div class="title-wrapper">Ejecucion presupuesto e ingresos y egresos a julio 2016</div>
                </td>
              </tr>
              <tr>
                <td class="responsive" data-th="Tipo de documento"><a href="../../../assets/Archivos/presupuesto-anual/EJECUCION DE GASTOS 2021.pdf" target="_blank">PDF</a></td>
                <td class="responsive" data-th="Archivo">
                  <div class="title-wrapper">Ejeccion de gasto 2021</div>
                </td>
              </tr>
              <tr>
                <td class="responsive" data-th="Tipo de documento"><a href="../../../assets/Archivos/presupuesto-anual/resol.868-2017_desagregacion_presup.2018.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
                <td class="responsive" data-th="Archivo">
                  <div class="title-wrapper">Resolución 868-2017 desagregacion presup.2018</div>
                </td>
              </tr>
              <tr>
                <td class="responsive" data-th="Tipo de documento"><a href="../../../assets/Archivos/presupuesto-anual/resol_2095_de_2018_ppto_2019.pdf"
                    target="_blank">PDF</a>
                </td>
                <td class="responsive" data-th="Archivo">
                  <div class="title-wrapper">Resolución 2095 de 2018 ppto 2019</div>
                </td>
              </tr>
              <tr>
                <td class="responsive" data-th="Tipo de documento"><a
                    href="../../../assets/Archivos/presupuesto-anual/acta_045_del_12-12-2018_aprobacion_del_presupuesto_2019.pdf"
                    target="_blank">PDF</a></td>
                <td class="responsive" data-th="Archivo">
                  <div class="title-wrapper">Acta 045 del 12-12-2018 aprobación del presupuesto_2019</div>
                </td>
              </tr>
              <tr>
                <td class="responsive" data-th="Tipo de documento"><a href="../../../assets/Archivos/presupuesto-anual/resol.851-2017-aprobac.presupuesto_-_2018.pdf"
                    target="_blank">PDF</a></td>
                <td class="responsive" data-th="Archivo">
                  <div class="title-wrapper">Resolución 851-2017-aprobac.presupuesto - 2018</div>
                  </td>
              </tr>
              <tr>
                <td class="responsive" data-th="Tipo de documento"><a
                    href="../../../assets/Archivos/presupuesto-anual/res_no_0704_desagrega_el_presupuesto_de_ingrersos_gastos_e_inversion_vigencia_2020.pdf"
                    target=_blank rel="nooperner no ferrer">PDF</a></td>
                <td class="responsive" data-th="Archivo">
                  <div class="title-wrapper">Resolución No 0704 desagrega el presupuesto de ingrersos gastos e inversion vigencia 2020</div>
                </td>
              </tr>
            <tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section><br>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>
