<app-menu></app-menu>
<section class="page-title centred"
  style="background-image:url(assets/images/background/banner\ directorio\ de\ entidades.jpg)">
</section>
<div class="container mt-4" style="font-family: Arial, sans-serif;">
  <nav arial-label="breadcrumb">
      <ol class="breadcrumb" style="background-color: #ffffff; border-radius: 0; padding: 8px 16px; border-left: 5px solid #17a2b8;">
          <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
              <a routerLink="/inicio" style="color: #17a2b8; text-decoration: none;">
                Inicio
              </a>
          </li>
          <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
            <a routerLink="/transparenci" style="color: #17a2b8; text-decoration: none;">
              Transparencia
            </a>
          </li>
          <li class="breadcrumb-item" style="font-size: 22px; color: #6c757d; font-weight: bold;">
              Directorio de Entidades
          </li>
      </ol>
  </nav>
</div><br><br><br>
<section class="feature-section centred about-section">
  <div class="auto-container">
    <div class="inner-container wow fadeInLeft animated" data-wow-delay="00ms" data-wow-duration="1500ms">
      <div class="title-text">
        <h2>Directorio entidades</h2>
        <hr>
      </div>
      <div class="row clearfix">
        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
         <div class="feature-block-one">
            <div class="inner-box" x>
              <div class="icon-box">
                <a href="https://petro.presidencia.gov.co/" target="_blank" ><img
                    src="../../../assets/images/iconos-entidades/presidencia.png" width="90" height="90"
                    alt="imagen de notificaciones"></a>
              </div>
              <h4><a href>Presidencia de<br> la República</a></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
          <div class="feature-block-one">
            <div class="inner-box">
              <div class="icon-box">
                <a href="https://www.huila.gov.co/" target="_blank"><img
                    src="../../../assets/images/iconos-entidades/gobernacion-huila.png" width="90" height="90"
                    alt="imagen de contrato"></a>
              </div>
              <h4><a href>Gobernación <br> del Huila</a></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
          <div class="feature-block-one">
            <div class="inner-box">
              <div class="icon-box">
                <a href="https://www.alcaldianeiva.gov.co/" target="_blank"><img
                    src="../../../assets/images/iconos-entidades/alcaldia.png" width="55" height="55"
                    alt="imagen de contrato"></a>
              </div>
              <h4><a href>Alcaldia <br> de Neiva</a></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
          <div class="feature-block-one">
            <div class="inner-box">
             <div class="icon-box">
                <a href="http://www.minvivienda.gov.co/" target="_blank"><img
                    src="../../../assets/images/iconos-entidades/Ministerio_de_Vivienda_de_Colombia.png" width="90" height="90"
                    alt="imagen seguimiento cuenta de cobro"></a>
              </div>
              <h4><a href>Ministerio de Vivienda Ciudad y Territorio</a></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
          <div class="feature-block-one">
            <div class="inner-box">
              <div class="icon-box">
                <a href="https://www.cchuila.org/" target="_blank"><img
                    src="../../../assets/images/iconos-entidades/camara-comercio.png" width="90" height="90"
                    alt="imagen Reinstalación del Servicio"></a>
              </div>
              <h4><a href>Camara de <br> Comercio</a></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
          <div class="feature-block-one">
            <div class="inner-box">
               <div class="icon-box">
                <a href="https://www.minambiente.gov.co/" target="_blank"><img
                    src="../../../assets/images/iconos-entidades/dnp-logo-aislado.png" width="150px" height="110px"
                    alt="imagen Paz y Salvo"></a>
              </div>
              <h4><a href>Departamento Nacional <br> de Planeación</a></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
          <div class="feature-block-one">
            <div class="inner-box">
               <div class="icon-box">
                <a href="https://www.minambiente.gov.co/" target="_blank"><img
                    src="../../../assets/images/iconos-entidades/ministerio-ambiente.png" width="90" height="90"
                    alt="imagen Contact Center"></a>
              </div>
              <h4><a href>Ministerio de Ambiente y Desarrollo Sostenible</a></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
          <div class="feature-block-one">
            <div class="inner-box">
              <div class="icon-box">
                <a href="https://cam.gov.co/ " target="_blank" ><img
                    src="../../../assets/images/iconos-entidades/cam-logo.png" width="160" height="160"
                    alt="imagen Gestión Documental"></a>
              </div>
              <h4><a href>Corporación autónoma del Alto Magdalena CAM</a></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
          <div class="feature-block-one">
            <div class="inner-box">
              <div class="icon-box">
                <a href="https://www.igac.gov.co/" target="_blank" ><img
                    src="../../../assets/images/iconos-entidades/igac.png" width="90px" height="90px"
                    alt="imagen Factura web"></a>
              </div>
              <h4><a href>Instituto Geográfico Agustín Codazzi</a></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
          <div class="feature-block-one">
            <div class="inner-box">
              <div class="icon-box">
                <a href="https://www.setpneiva.gov.co/" target="_blank " ><img
                    src="../../../assets/images/iconos-entidades/SETP.png" width="150" height=150 alt="imagen Factura web"></a>
              </div>
              <h4><a href>Sistema Estrategico de Transporte Publico Neiva</a></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><br><br><br><br>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>

