<div class="container mt-4">
    <div id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button custom-accordion-button" type="button"
                    (click)="isCollapsed3 = !isCollapsed3" [attr.aria-expanded]="!isCollapsed3"
                    aria-controls="collapseheadingThree">
                    <h4 class="custom-accordion-title"><img
                            src="../../../../assets/images/icons/iconos-sistema-integrado/informe-anual.png" alt
                            width="50px" height="50px" hspace="10px">2023</h4>
                </button>
            </h2>
            <div id="collapseThree" [collapse]="isCollapsed3" class="accordion-collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body custom-accordion-body">
                    <li><b> 4.10 Informes trimestrales sobre acceso a
                            información, quejas y reclamos</b></li>
                    <ul>
                        <li><a href="../../../../assets/Archivos/documentos-tranparencia/4.10/INFORME PRIMER TRIMESTRE 2023.pdf"
                                target="_blank"><img src="assets/images/icons/pin.png" alt="circular interna "
                                    rel="noopener noferrer " width="20px" height="20px" /> Primer trimestre</a></li>
                        <li><a href="../../../../assets/Archivos/documentos-tranparencia/4.10/INFORME SEGUNDO TRIMESTRE 2023.pdf"
                                target="_blank"><img src="assets/images/icons/pin.png" alt="circular interna "
                                    rel="noopener noferrer " width="20px" height="20px" /> Segundo trimestre </a></li>
                    </ul>
                </div>
            </div>
        </div><br>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button custom-accordion-button" type="button"
                    (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                    aria-controls="collapseOne">
                    <h4 class="custom-accordion-title"><img
                            src="../../../../assets/images/icons/iconos-sistema-integrado/informe-anual.png" alt
                            width="50px" height="50px" hspace="10px">2022</h4>
                </button>
            </h2>
            <div id="collapseOne" [collapse]="isCollapsed" class="accordion-collapse" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body custom-accordion-body">
                    <li><b> 4.10 Informes trimestrales sobre acceso a
                            información, quejas y reclamos</b></li>
                    <ul>
                        <li><a href="../../../../assets/Archivos/documentos-tranparencia/4.10/informepqrprimertrimestre2022.pdf"
                                target="_blank"><img src="assets/images/icons/pin.png" alt="circular interna "
                                    rel="noopener noferrer " width="20px" height="20px" /> Primer trimestre</a></li>
                        <li><a href="../../../../assets/Archivos/documentos-tranparencia/4.10/informepqrsegundotrimestre2022.pdf"
                                target="_blank"><img src="assets/images/icons/pin.png" alt="circular interna "
                                    rel="noopener noferrer " width="20px" height="20px" /> Segundo trimestre </a></li>
                        <li><a href="../../../../assets/Archivos/documentos-tranparencia/4.10/informepqrtecertrimestre2022.pdf"
                                target="_blank"><img src="assets/images/icons/pin.png" alt="circular interna "
                                    rel="noopener noferrer " width="20px" height="20px" /> Tercer trimestre</a></li>
                        <li><a href="../../../../assets/Archivos/documentos-tranparencia/4.10/INFORME CUARTO TRIMESTRE 2022.pdf"
                                target="_blank"><img src="assets/images/icons/pin.png" alt="circular interna "
                                    rel="noopener noferrer " width="20px" height="20px" /> Cuarto trimestre</a></li>
                    </ul>
                </div>
            </div>
        </div><br>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button custom-accordion-button" type="button"
                    (click)="isCollapsed2 = !isCollapsed2" [attr.aria-expanded]="!isCollapsed2"
                    aria-controls="collapseTwo">
                    <h4 class="custom-accordion-title"><img
                            src="../../../../assets/images/icons/iconos-sistema-integrado/informe-anual.png" alt=""
                            width="50px" height="50px" hspace="10px">2021</h4>
                </button>
            </h2>
            <div id="collapseTwo" [collapse]="isCollapsed2" class="accordion-collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body custom-accordion-body">
                    <li><b> 4.10 Informes trimestrales sobre acceso a
                            información, quejas y reclamos</b></li>
                    <ul>
                        <li><a href="../../../../assets/Archivos/documentos-tranparencia/4.10/1. INFORME ATENCIÓN AL CIUDADANO PRIMER TRIMESTRE 2021 (1).pdf"
                                target="_blank"><img src="assets/images/icons/pin.png" alt="circular interna "
                                    rel="noopener noferrer " width="20px" height="20px" /> Primer trimestre</a></li>
                        <li><a href="../../../../assets/Archivos/documentos-tranparencia/4.10/2. INFORME ATENCIÓN AL CIUDADANO SEGUNDO TRIMESTRE 2021 (1).pdf"
                                target="_blank"><img src="assets/images/icons/pin.png" alt="circular interna "
                                    rel="noopener noferrer " width="20px" height="20px" /> Segundo trimestre </a></li>
                        <li><a href="../../../../assets/Archivos/documentos-tranparencia/4.10/3. INFORME ATENCIÓN AL CIUDADANO TERCERO TRIMESTRE 2021 (1).pdf"
                                target="_blank"><img src="assets/images/icons/pin.png" alt="circular interna "
                                    rel="noopener noferrer " width="20px" height="20px" /> Tercer trimestre</a></li>
                        <li><a href="../../../../assets/Archivos/documentos-tranparencia/4.10/4. INFORME ATENCIÓN AL CIUDADANO CUARTO TRIMESTRE 2021 (1).pdf"
                                target="_blank"><img src="assets/images/icons/pin.png" alt="circular interna "
                                    rel="noopener noferrer " width="20px" height="20px" /> Cuarto trimestre</a></li>
                    </ul>
                </div>
            </div>
        </div><br>
    </div>
</div>