<app-menu></app-menu>
<section class="page-title centred"
  style="background-image:url(assets/images/background/banner\ registro\ de\ proveedores.jpg)">
</section>
<div class="container mt-4" style="font-family: Arial, sans-serif;">
  <nav arial-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
              <a routerLink="/inicio" style=" text-decoration: none;">
              Inicio
              </a>
          </li>
          <li class="" style="font-size: 22px; font-weight: bold;">
            <a routerLink="/contratacion" style=" text-decoration: none;">
              Contratación
            </a>
          </li>
          <li class="" style="font-size: 22px; color: #6c757d; font-weight: bold;">
            Proveedores
          </li>
      </ol>
  </nav>
</div>
<section class="faq-page-section">
  <div class="container pt-4">
    <div class="row">
      <div class="card-body">
        <div class="auto-container">
          <div class="row clearfix">
            <h2>Registro de Proveedores</h2>
            <div class="col-lg-12ne col-md-12 col-sm-12 content-column">
              <li class="accordion block">
                <div class="sec-title">
                  <h4>¿Cómo inscribirse para ser proponente o proveedor de Las Ceibas?</h4>
                  <p>Implementar prácticas de transparencia donde prime la participación de todos los ciudadanos, es una
                    de
                    las prioridades para Las Ceibas.</p>
                  <p>En este nuevo enlace se podrán registrar todos los ciudadanos que cumplan los requisitos legales
                    para
                    acceder a los procesos contractuales como Proponente y/o Proveedor. De esta manera podrá ofertar de
                    manera
                    directa los bienes y/o servicios que ofrezca su empresa.</p>
                  <p>Para la gerencia de Las Ceibas Empresas Públicas de Neiva E.S.P, es muy satisfactorio poner al
                    servicio
                    de los empresarios y proveedores esta nueva herramienta y los invita a inscribirse y presentar sus
                    documentos actualizados.</p>
                </div>
                <div class="sec-title">
                  <h2>Inscripción de Proponentes</h2>
                  <p>Para la Inscripción de Proponentes de Obra y Consultoría de la Empresa, debe diligenciar el
                    Formulario de
                    Inscripción como requisito principal el cual podrá descargar en ésta página, dentro de éste
                    encontrará los
                    demás requisitos que debe presentar para la Inscripción.</p>
                  <p>Recuerde que adicionalmente al Formulario de inscripción de Proponentes se debe adjuntar el
                    certificado
                    de listas restrictivas, el RUP, el RUT y el certificado de Cámara y Comercio no mayor a 30 días de
                    expedición, fotocopia de la cédula de ciudadanía, fotocopia de la tarjeta profesional al 150% y
                    Certificación Bancaria donde indique la entidad bancaria, nombre del titular de la cuenta y sí es
                    corriente o de ahorros.</p>
                  <p>Cualquier información adicional comuníquese al teléfono 88759058 ext. 130</p>
                </div>
                <div class="btn-box clearfix">
                  <a href="./formulario-proveedores" class="theme-btn btn-one">Formulario de Registro</a>
                </div>
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><br><br>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>
