<app-menu></app-menu>
<section class="page-title centred" style="background-image:url(assets/images/background/contratacion.jpg)">
</section>
<div class="container" style="font-family: Arial, sans-serif;">
    <nav arial-label="breadcrumb">
        <ol class="breadcrumb"
            style="background-color: #ffffff; border-radius: 0; padding: 8px 16px; border-left: 5px solid #17a2b8;">
            <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
                <a routerLink="/inicio" style="color: #17a2b8; text-decoration: none;">
                    Inicio
                </a>
            </li>
            <li routerLink="/contratacion" class="breadcrumb-item"
                style="font-size: 22px; color: #6c757d; font-weight: bold;">
                Contratación
            </li>
            <li class="breadcrumb-item" style="font-size: 22px; color: #6c757d; font-weight: bold;">
                Acuerdos Contratación
            </li>
        </ol>
    </nav>
</div>


<div class="container">
    <div class="row">
        <div class="card-body">
            <div class="table-wrapper">
                <table class="fl-table">
                    <thead>
                        <tr>
                            <th>Archivo</th>
                            <th>Tipo de documento</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>
                                <div class="title-wrapper">Acuerdo 012 de 2020</div>
                            </td>
                            <td>
                                <a href="../../../assets/Archivos/documentos-tranparencia/3/ACUERDO_012_DE_2020.pdf" target="_blank">
                                    PDF
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="title-wrapper">Acuerdo 013 de 2020</div>
                            </td>
                            <td>
                                <a href="../../../assets/Archivos/documentos-tranparencia/3/ACUERDO_013_DE_2020.pdf" target="_blank">
                                    PDF
                                </a>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                                <div class="title-wrapper">Acuerdo 008 de 2021</div>
                            </td>
                            <td>
                                <a href="../../../assets/Archivos/documentos-tranparencia/3/ACUERDO_008_DE_2021.pdf" target="_blank">
                                    PDF
                                </a>
                            </td>
                        </tr>

                    <tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>