<app-menu></app-menu>
<section class="page-title centred" style="background-image:url(assets/images/background/contratacion.jpg)">
</section>
<div class="container mt-4" style="font-family: Arial, sans-serif;">
  <nav arial-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
        <a routerLink="/inicio" style=" text-decoration: none;">
          Inicio
        </a>
      </li>
      <li class="" style="font-size: 22px; color: #6c757d; font-weight: bold;">
        Contratación
      </li>
    </ol>
  </nav>
</div>
<section>
</section><br><br><br><br>
<section class="feature-section centred about-section">
  <div class="auto-container">
    <div class="row">
      <div class="card-body">
        <div class="auto-container">
          <div class="inner-container wow fadeInLeft animated" data-wow-delay="00ms" data-wow-duration="1500ms">
            <div class="title-text">
              <h2>Otros servicios para nuestros usuarios</h2>
              <hr>
            </div>
            <div class="row clearfix">
              <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                <div class="v-line">
                </div>
                <div class="feature-block-one">
                  <div class="inner-box">
                    <div class="icon-box"><a routerLink="/licitaciones-publicas"><img
                          src="../../../assets/images/icons/iconos-sistema-integrado/valor.png" width="90px"
                          height="90px" alt="imagen de contrato"></a></div>
                    <h4><a routerLink="/licitaciones-publicas" rel="nooperner noferrer">Licitaciones Públicas</a></h4>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                  <div class="inner-box">
                    <div class="icon-box"><a href="/registro-proveedores"><img
                          src="../../../assets/images/icons/iconos-sistema-integrado/proveedor.png" width="90px"
                          height="90px" alt="imagen seguimiento cuenta de cobro"></a></div>
                    <h4><a href="/registro-proveedores">Proveedores</a></h4>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                  <div class="inner-box">
                    <div class="icon-box"><a href="https://www.contratos.gov.co/consultas/inicioConsulta.do"><img
                          src="../../../assets/images/icons/iconos-sistema-integrado/archivo.png" width="90px"
                          height="90px" alt="imagen seguimiento cuenta de cobro"></a></div>
                    <h4><a href="https://www.contratos.gov.co/consultas/inicioConsulta.do" target="_blank">Centro de
                        Documentos</a></h4>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                  <div class="inner-box">
                    <div class="icon-box"><a
                        href="https://community.secop.gov.co/Public/Common/GoogleReCaptcha/Index?previousUrl=https%3a%2f%2fcommunity.secop.gov.co%2fPublic%2fTendering%2fContractNoticeManagement%2fIndex%3fcurrentLanguage%3des-CO%26Page%3dlogin%26Country%3dCO%26SkinName%3dCCE"><img
                          src="../../../assets/images/icons/iconos-sistema-integrado/secop.png" width="90px "
                          height="90px" alt="imagen Paz y Salvo" target="_blank"></a></div>
                    <h4><a
                        href="https://community.secop.gov.co/Public/Common/GoogleReCaptcha/Index?previousUrl=https%3a%2f%2fcommunity.secop.gov.co%2fPublic%2fTendering%2fContractNoticeManagement%2fIndex%3fcurrentLanguage%3des-CO%26Page%3dlogin%26Country%3dCO%26SkinName%3dCCE"
                        target="_blank" rel="noopener noferrer">Procesos SECOP</a></h4>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                  <div class="feature-block-one">
                    <div class="inner-box">
                      <div class="icon-bo" x>
                        <a href="https://www.contratos.gov.co/consultas/inicioConsulta.do">
                          <img src="../../../assets/images/icons/iconos-sistema-integrado/contratacion-hirtorico.png"
                            width="90px" height="90px" alt="imagen Contact Center" target="_blank">
                        </a>
                      </div>
                      <h4>
                        <a href="https://www.contratos.gov.co/consultas/inicioConsulta.do" target="_blank">
                          Histórico Contratación
                        </a>
                      </h4>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                  <div class="feature-block-one">
                    <div class="inner-box">
                      <div class="icon-bo" x>
                        <a routerLink="/acuerdos-contratacion">
                          <img src="../../../assets/images/icons/iconos-sistema-integrado/secop.png" width="90px" height="90px" alt="acuerdos-contratacion">
                        </a>
                      </div>
                      <h4>
                        <a routerLink="/acuerdos-contratacion">
                          Acuerdos Contratación
                        </a>
                      </h4>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><br><br><br><br>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>