<footer class="main-footer ">
  <div class="cajas1">
    <div class="container-fluid">
    <div class="row ">
      <div class="col-12 col-lg-4 ">
        <div class="card">
          <h1><strong>Líneas de servicio a la ciudadanía</strong></h1>
          <p><strong>Línea Anticorrupción</strong><br>+57 018000919748 o 122</p>
          <p><strong>Correo Institucional:</strong><br><a href="mailto:info@lasceibas.gov.co">infolasceibas.gov.co</a>
          </p>
          <p><strong>Correo Notificaciones Jurídiciales</strong><br><a
              href="mailto:notificacionesjuridicas@lasceibas.gov.co">notificacionesjuridicaslasceibas.gov.co</a></p>
          <p>Peticiones, Quejas, Reclamos, Solicitudes, Denuncias, Felicitaciones.</p>
          <p><strong>Presente su PQRSD</strong></p>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="container">
          <div class="row content">
            <div class="col-md-6">
              <br><br>
              <h2><strong>Oficinas de atención</strong></h2>
              <p><strong>Las Ceibas<br>Empresa Públicas de Neiva E.S.P.</strong></p>
              <p><strong>Sede Principal</strong><br>
              <p><strong>Dirección:</strong>Calle 6 # 6 - 02 <br><strong>Municipal de Neiva.</strong></p>
              <p><strong><a href="#">Enlace para el mapa del sitio.</a></strong></p>
            </div>
            <br>
            <div class="col-md-6 ">
              <br><br>
              <div class="column-divider">
                <h2><strong>Oficinas de atención</strong></h2>
                <p><strong>Horarios de atención:</strong><br>
                <p><strong>Lunes a viernes:</strong>7:00 a.m. a 4:00 p.m.</p>
                <p><strong>Código postal:</strong> 410001</p>
                <p><strong>Nit:</strong> 891.180.010-8
                <p><strong>Línea de atención:</strong> 116</p>
                <p><strong>Celular:</strong> 333 033 4116</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h2><strong>Políticas</strong></h2>
              <p><strong><a href="#">Términos y Condiciones de Uso</a></strong></p>
              <p><strong><a href="#">Política de privacidad y tratamiento de datos personales</a></strong></p>
              <p><strong><a href="#">Política de derechos de autor y /o autorización de uso sobre los
                    contenidos</a></strong></p>
              <p><strong><a href="#">Política de Administración y uso de las tecnologías de la información y la
                    comunicación</a></strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-6 p-5">
        <h4><strong>Las Ceibas</strong></h4>
        <div class="widget-content">
          <li><a href="/directorio-dependencias">Directorio de Dependencias</a></li>
          <li><a href="/reinstalacion-servicio">Reinstalación de Servicio</a></li>
          <li><a href="/contac-center">Contact Center</a></li>
        </div>
      </div>
      <div class="col-md-3 col-6 p-5">
        <h4><strong>Atención al Usuario</strong></h4>
        <div class="widget-content">
          <li><a href="/factura-web" target="_blank">Consulte su Factura Web</a></li>
          <li><a href="/not">Notificaciones</a></li>
        </div>
      </div>
      <div class="col-md-3 col-6 p-5">
        <h4><strong>Sala de Prensa</strong></h4>
        <div class="widget-content">
          <li><a href="/sala-prensa">Noticias</a></li>
          <li><a href="/sala-prensa">Boletines</a></li>
          <li><a href="/sala-prensa">Galerías</a></li>
          <li><a href="/sala-prensa">Videos</a></li>
        </div>
      </div>
      <div class="col-md-3 col-6 p-5">
        <h4><strong>Enlaces de Interés</strong></h4>
        <li><a href="https://petro.presidencia.gov.co/ " target="_blank" rel="noopener noferrer">Presidencia de
            la República</a></li>
        <li><a href="https://www.huila.gov.co/" target="_blank" rel="noopener noferrer">Gobernación del
            Huila</a></li>
        <li><a href="https://www.alcaldianeiva.gov.co/Paginas/Inicio.aspx" target="_blank"
            rel="noopener noferrer">Alcaldía de Neiva</a></li>
        <li><a href="https://www.superservicios.gov.co/" target="_blank" rel="noopener noferrer">Superintendencia de
            Servicios Públicos</a></li>
      </div>
    </div>
  </div>
  <div>
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 150px; width: 100%;">
      <path d="M-1.41,-3.61 C202.31,165.13 318.00,152.30 503.67,-5.59 L500.00,150.00 L0.00,150.00 Z"
        style="stroke: none; fill: #0078B7;"></path>
    </svg>
  </div>
</footer>

