<section class="feature-section centred">
    <h1><strong>Enlaces de Interés</strong><br><br></h1>
    <div class="body p-5">
        <div class=" circle-container row d-flex justify-content-center  align-items-center">
            <div class="col-12 col-md-4 col-xl-2  d-flex justify-content-center">
                <a href="/transparenci">
                    <div class="ciculoforma">
                        <div class="circle">
                            <div class="circle-icon"><img src="../../../assets/images/icons/transparencia.png"
                                    width="70" height="70" alt="imagen de notificaciones"></div>
                        </div>
                        <div class="circle-text"><strong>Transparencia <br>y
                                Acceso a la<br>
                                Información</strong></div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4 col-xl-2  d-flex justify-content-center">
                <a href="https://extranet.lasceibas.gov.co/">
                    <div class="ciculoforma">
                        <div class="circle">
                            <div class="circle-icon">2</div>
                        </div>
                        <div class="circle-text"><strong>Extranet
                            <br>
                            <br><br>
                        </strong></div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4 col-xl-2  d-flex justify-content-center">
                <a href="/atencion-usuario#Tramites">
                    <div class="ciculoforma">
                        <div class="circle">
                            <div class="circle-icon">3</div>
                        </div>
                        <div class="circle-text"><strong>Trámites y Servicios<br>
                            <br><br></strong></div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-xl-2  d-flex justify-content-center">
                <a href="https://www.funcionpublica.gov.co/web/sigep2/">
                    <div class="ciculoforma">
                        <div class="circle">
                            <div class="circle-icon">4</div>
                        </div>
                        <div class="circle-text"><strong>SIGEP II<br>
                            <br><br></strong></div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-xl-2  d-flex justify-content-center">
                <a href="/sistema-integrado-de-gestion">
                    <div class="ciculoforma">
                        <div class="circle">
                            <div class="circle-icon">5</div>
                        </div>
                        <div class="circle-text"><strong>Sistema de gestión <br>
                                integral<br><br></strong></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>