<section class="feature-section centred">
    <h1 style="color: #0078B7; margin: 25px; font-size: 40px;"><strong>Enlaces de Interés</strong><br><br></h1>
    <div class="inner-container wow fadeInLeft animated" data-wow-delay="00ms" data-wow-duration="1500ms">
    </div>

    <div class="body p-5">
        <div class="circle-container d-flex flex-column flex-md-row justify-content-center" >
            <div class="col-12 col-md-2 d-flex  justify-content-center">
                <a href="/transparenci">
                    <div class="ciculoforma">
                        <div class="circle">
                            <div class="circle-icon"><img src="../../../assets/images/icons/transparencia.png"
                                    width="70" height="70" alt="imagen de notificaciones"></div>
                        </div>
                        <div class="circle-text"><strong>Transparencia <br>y
                                Acceso a la<br>
                                Información</strong></div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-2 d-flex  justify-content-center">
                <a href="https://extranet.lasceibas.gov.co/">
                    <div class="ciculoforma">
                        <div class="circle">
                            <div class="circle-icon">2</div>
                        </div>
                        <div class="circle-text"><strong>Extranet</strong></div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-2 d-flex  justify-content-center">
                <a href="/atencion-usuario#Tramites">
                    <div class="ciculoforma">
                        <div class="circle">
                            <div class="circle-icon">3</div>
                        </div>
                        <div class="circle-text"><strong>Trámites y Servicios</strong></div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-2 d-flex  justify-content-center">
                <a href="https://www.funcionpublica.gov.co/web/sigep2/">
                    <div class="ciculoforma">
                        <div class="circle">
                            <div class="circle-icon">4</div>
                        </div>
                        <div class="circle-text"><strong>SIGEP II</strong></div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-2 d-flex  justify-content-center">
                <a href="/sistema-integrado-de-gestion">
                    <div class="ciculoforma">
                        <div class="circle">
                            <div class="circle-icon">5</div>
                        </div>
                        <div class="circle-text"><strong>Sistema de gestión<br>
                                integral</strong></div>
                    </div>
                </a>
            </div>
        </div>
        <!-- 
                <div class=" col-md-4 col-sm-6 feature-block">
                    <div class="inner-box">
                        <a href="/transparenci">
                            <div class="circle-icon">
                                
                            </div>
                        </a>
                        <h4><a href="/transparenci">Transparencia y Acceso a la Información</a></h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 feature-block">
                    <div class="inner-box">
                        <a href="https://extranet.lasceibas.gov.co/" target="_blank"><img
                                src="../../../assets/images/icons/internet.png" width="90" height="90"
                                alt="imagen de contrato"></a>
                        <h4><a href="https://extranet.lasceibas.gov.co/" target="_blank">Extranet</a></h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 feature-block">
                    <div class="inner-box">
                        <a href="/atencion-usuario#Tramites"><img src="../../../assets/images/icons/tramites.png"
                                width="90" height="90" alt="imagen seguimiento cuenta de cobro"></a>
                        <h4><a href="/atencion-usuario#Tramites">Trámites y Servicios</a></h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 feature-block">
                    <div class="inner-box">
                        <a href=" https://www.funcionpublica.gov.co/web/sigep2/" target="_blank"><img
                                src="../../../assets/images/icons/contrato.png" width="90" height="90"
                                alt="imagen sigep"></a>
                        <h4><a href=" https://www.funcionpublica.gov.co/web/sigep2/" target="_blank">SIGEP II</a></h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 feature-block">
                    <div class="inner-box">
                        <a href="/sistema-integrado-de-gestion"><img
                                src="../../../assets/images/icons/gestion-de-la-informacion.png" width="90" height="90"
                                alt="imagen sig"></a>
                        <h4><a href="/sistema-integrado-de-gestion">Sistema de gestión integral</a></h4>
                    </div>
                </div>
            </div>
    </div>-->
    </div>
</section>