<app-menu></app-menu>
<section class="page-title centred" style="background-image:url(assets/images/background/banner\ micromedicion.jpg)">
</section>
<div class="container mt-4" style="font-family: Arial, sans-serif;">
  <nav arial-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
              <a routerLink="/inicio" style=" text-decoration: none;">
              Inicio
              </a>
          </li>
          <li class="" style="font-size: 22px; font-weight: bold;">
            <a routerLink="/ceibas" style=" text-decoration: none;">
              Las Ceibas
            </a>
          </li>
          <li class="" style="font-size: 22px; color: #6c757d; font-weight: bold;">
            Micromedición
          </li>
      </ol>
  </nav>
</div>
<section class="faq-page-section about-section">
  <div class="auto-container">
    <div class="row clearfix">
      <div class="col-lg-12ne col-md-12 col-sm-12 content-column">
        <li class="accordion block">
          <div class="sec-title">
            <h2>¿Qué es un micromedidor?</h2>
            <p>Es un dispositivo mecánico que conectado a la acometida de acueducto permite determinar el volumen de
              agua que ingresa a las viviendas.</p>
          </div>
          <div class="sec-title">
            <h2>Importancia del medidor</h2>
            <p>El Micromedidor determina a los usuarios cuál es el consumo real del agua en sus viviendas y le muestra 
              a Empresas Públicas de Neiva cuántos metros cúbicos se han gastado, por lo tanto, cuánto debe facturar el 
              usuario.</p>
            <p>El Micromedidor permite facturar consumos reales y no consumos por promedio que distorsionan la realidad
              del agua que consume el usuario.</p>
            <p>La Ley 142 de 1994, en el Art. 146 establece que: “La empresa y el suscriptor o usuario tienen derecho a
              que los consumos se midan; se empleen los instrumentos de medida que la técnica haya dispuesto y a que el
              consumo sea el elemento principal del precio que se cobre al suscriptor o usuario”. </p>
          </div>
          <div class="sec-title">
            <h2>Como funcionan</h2>
            <p> Existen dos tipos de micromedidores: los de velocidad y los de volumen. Los de velocidad determinan el
              volumen de agua mediante la relación área-velocidad, es decir, que la cantidad de agua que pasa por el
              medidor es proporcional a la velocidad del agua o giro de turbina al ser movida por el agua. El
              funcionamiento de los de Volumen estriba en una cámara de volumen conocido y un mecanismo operado por el
              flujo de agua, donde esta cámara es sucesivamente llenada y descargada.</p>
          </div>
        </li>
      </div>
    </div>
  </div>
</section>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>
