.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar {
  background-color: #f1f1f1;
  color: white;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.contador {
  text-align: center;
  font-size: 27px;
  color: black;
}

.animated-number {
  font-size: 29px; /* Ajusta el tamaño de la fuente según tu preferencia */
  color: #95bd21; /* Cambia el color según tus preferencias */
  font-weight: bold;
}
