<!-- contador-de-visitas.component.html -->
<div class="container">
  <div class="toolbar">
      <span class="contador">Contador de visitas: <div id="sfc1wemg95zsr9er9yk9wz69bkqbwa5y6s9"></div>
        <script type="text/javascript" src="https://counter6.optistats.ovh/private/counter.js?c=1wemg95zsr9er9yk9wz69bkqbwa5y6s9&down=async" async></script>
        <noscript><a href="https://www.contadorvisitasgratis.com" title="gadgets contador de visitas para blog gratis"><img src="https://counter6.optistats.ovh/private/contadorvisitasgratis.php?c=1wemg95zsr9er9yk9wz69bkqbwa5y6s9" border="0" title="gadgets contador de visitas para blog gratis" alt="gadgets contador de visitas para blog gratis"></a></noscript>
        </span>
  </div>
</div>
