<app-menu></app-menu>
<section class="page-title centred"
  style="background-image:url(assets/images/background/banner\ informe\ rendicion\ a\ la\ ciudadania.jpg)">
</section>
<section>
  <div class="container mt-4" style="font-family: Arial, sans-serif;">
    <nav arial-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #ffffff; border-radius: 0; padding: 8px 16px; border-left: 5px solid #17a2b8;">
            <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
                <a routerLink="/inicio" style="color: #17a2b8; text-decoration: none;">
                Inicio
                </a>
            </li>
            <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
              <a routerLink="/ceibas" style="color: #17a2b8; text-decoration: none;">
                Las Ceibas
              </a>
            </li>
            <li class="breadcrumb-item" style="font-size: 22px; color: #6c757d; font-weight: bold;">
                Informe de Rendición de Cuentas
            </li>
        </ol>
    </nav>
  </div>
</section>
<section class="about-section">
  <div class="container pt-4">
    <div class="row">
      <div class="card-body">
        <div class="table-wrapper">
          <table class="fl-table">
            <thead>
              <tr>
                <th>Tipo de documento</th>
                <th>Archivo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a
                    href="../../../assets/Archivos/documentos-tranparencia/4.7.3/Rendicion-de-Cuentas-2023.pdf"
                    target="_blank">PDF</a></td>
                <td><div class="title-wrapper">Informe Final Redicion de Cuentas - Vigencia 2023</div></td>
              </tr>
              <tr>
                <td><a
                    href="../../../assets/Archivos/documentos-tranparencia/4.7.3/Informe Final Redicion de Cuentas - Vigencia 2022.pdf"
                    target="_blank">PDF</a></td>
                <td><div class="title-wrapper">Informe Final Redicion de Cuentas - Vigencia 2022</div></td>
              </tr>
              <tr>
                <td><a href="../../../assets/Archivos/documentos-tranparencia/4.7.1/INFORME DE GESTION 2021.pdf"
                    target="_blank">PDF</a></td>
                <td><div class="title-wrapper">Informe Rendicion de Cuentas - Vigencia 2021</div></td>
              </tr>
              <tr>
                <td><a
                    href="../../../assets/Archivos/documentos-tranparencia/4.7.3/las_ceibas_rendicion_cuentas_2016.pdf"
                    target="_blank">PDF</a></td>
                <td><div class="title-wrapper">Rendicion de cuentas las ceibas epn esp.v1</div></td>
              </tr>
              <tr>
                <td><a href="../../../assets/Archivos/documentos-tranparencia/4.7.3/presentacion_rdc_las_ceibas_ult.pdf"
                    target="_blank">PDF</a></td>
                <td><div class="title-wrapper">Presentacion rdc las ceibas ult</div></td>
              </tr>
              <tr>
                <td><a href="../../../assets/Archivos/documentos-tranparencia/4.7.3/periodico_rendicon_.pdf"
                    target="_blank">PDF</a></td>
                <td><div class="title-wrapper">Periodico rendicon</div></td>
              </tr>
              <tr>
                <td><a
                    href="../../../assets/Archivos/documentos-tranparencia/4.7.3/las_ceibas_rendicion_cuentas_2016.pdf"
                    target="_blank">PDF</a></td>
                <td><div class="title-wrapper">Las ceibas rendicion cuentas 2016</div></td>
              </tr>
              <tr>
                <td><a href="../../../assets/Archivos/documentos-tranparencia/4.7.3/rendicion_de_cuentas_2015.pdf"
                    target="_blank">PDF</a></td>
                <td><div class="title-wrapper">Rendicion de cuentas 2015</div></td>
              </tr>
              <tr>
                <td><a href="../../../assets/Archivos/documentos-tranparencia/4.7.3/rendicion-cuentas-2014.pdf"
                    target="_blank">PDF</a></td>
                <td><div class="title-wrapper">Rendicion Cuentas 2014</div></td>
              </tr>
            <tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section><br>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>
