<app-menu></app-menu>
<section class="page-title centred"
  style="background-image:url(assets/images/background/banner\ planta\ de\ personal\ 2.jpg)">
  <!-- assets/images/background/banner\ planta\ de\ personal\ 2.jpg -->
</section>
<section>
  <div class="container mt-4" style="font-family: Arial, sans-serif;">
    <nav arial-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
                <a routerLink="/inicio" style=" text-decoration: none;">
                Inicio
                </a>
            </li>
            <li class="" style="font-size: 22px; font-weight: bold;">
              <a routerLink="/ceibas" style=" text-decoration: none;">
                Las Ceibas
              </a>
            </li>
            <li class="" style="font-size: 22px; color: #6c757d; font-weight: bold;">
              Planta de Personal
            </li>
        </ol>
    </nav>
  </div>
</section>
<section class="about-section">
  <div class="container pt-4">
    <div class="row">
      <div class="card-body">
        <div class="main-content">
          <div class="container mt-7">
            <h2 class="mb-5">Planta de personal</h2>
            <div class="row">
              <div class="col">
                <div class="card shadow">
                  <div class="card-header border-0">
                    <h4 class="mb-0"><b>N°. TRABAJADORES OFICIALES Y FUNCIONARIOS PUBLICOS</b></h4>
                  </div>
                  <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">Año</th>
                          <th scope="col">Mujer Of.</th>
                          <th scope="col">Hombre Of.</th>
                          <th scope="col">Subtotal Of.</th>
                          <th scope="col">Mujer Pu.</th>
                          <th scope="col">Hombre Pu.</th>
                          <th scope="col">Subtotal Pu.</th>
                          <th scope="col">Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">
                            <div class="media align-items-center">
                              <div class="media-body">
                                <span class="mb-0 text-sm">2013</span>
                              </div>
                            </div>
                          </th>
                          <td>
                            <i>137 </i>
                          </td>
                          <td>
                            <i>30</i>
                          </td>
                          <td>
                            <i>167</i>
                          </td>
                          <td>
                            <i>13</i>
                          </td>
                          <td>
                            <i>1</i>
                          </td>
                          <td>
                            <i>14</i>
                            <div></div>
                          </td>
                          <td>
                            <i>181</i>
                            <div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">
                            <div class="media align-items-center">
                              <div class="media-body">
                                <span class="mb-0 text-sm">2012</span>
                              </div>
                            </div>
                          </th>
                          <td>
                            <i>149</i>
                          </td>
                          <td>
                            <i>32</i>
                          </td>
                          <td>
                            <i>181</i>
                          </td>
                          <td>
                            <i>8</i>
                          </td>
                          <td>
                            <i>1</i>
                          </td>
                          <td>
                            <i>9</i>
                            <div></div>
                          </td>
                          <td>
                            <i>190</i>
                            <div>
                            </div>

                          </td>
                        </tr>
                        <tr>
                          <th scope="row">
                            <div class="media align-items-center">
                              <div class="media-body">
                                <span class="mb-0 text-sm">2011</span>
                              </div>
                            </div>
                          </th>
                          <td>
                            <i>165</i>
                          </td>
                          <td>
                            <i>42</i>
                          </td>
                          <td>
                            <i>207</i>
                          </td>
                          <td>
                            <i>9</i>

                          </td>
                          <td>
                            <i>0</i>
                          </td>
                          <td>
                            <i>9</i>
                            <div></div>
                          </td>
                          <td>
                            <i>216</i>
                            <div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">
                            <div class="media align-items-center">
                              <div class="media-body">
                                <span class="mb-0 text-sm">2010</span>
                              </div>
                            </div>
                          </th>
                          <td>
                            <i>131</i>
                          </td>
                          <td>
                            <i>27</i>
                          </td>
                          <td>
                            <i>158</i>
                          </td>
                          <td>
                            <i>12</i>
                          </td>
                          <td>
                            <i>0</i>
                          </td>
                          <td>
                            <i>12</i>
                            <div>
                            </div>
                          </td>
                          <td>
                            <i>170</i>
                            <div>
                            </div>

                          </td>
                        </tr>
                        <tr>
                          <th scope="row">
                            <div class="media align-items-center">
                              <div class="media-body">
                                <span class="mb-0 text-sm">2009</span>
                              </div>
                            </div>
                          </th>
                          <td>
                            <i>127</i>
                          </td>
                          <td>
                            <i>23</i>
                          </td>
                          <td>
                            <i>150</i>
                          </td>
                          <td>
                            <i>12</i>
                          </td>
                          <td>
                            <i> 0</i>
                          </td>
                          <td>
                            <i>12</i>
                            <div>
                            </div>
                          </td>
                          <td>
                            <i>162</i>
                            <div>
                            </div>

                          </td>
                        </tr>
                        <tr>
                          <th scope="row">
                            <div class="media align-items-center">
                              <div class="media-body">
                                <span class="mb-0 text-sm">2008</span>
                              </div>
                            </div>
                          </th>
                          <td>
                            <i>130</i>
                          </td>
                          <td>
                            <i>23</i>
                          </td>
                          <td>
                            <i> 153</i>
                          </td>
                          <td>
                            <i>11</i>
                          </td>
                          <td>
                            <i>1</i>
                          </td>
                          <td>
                            <i>12</i>
                            <div></div>
                          </td>
                          <td>
                            <i>165</i>
                            <div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 <div class="container pt-4">
    <div class="row">
      <div class="card-body">
        <div class="main-content">
          <div class="container mt-7">
            <div class="col">
                <div class="card shadow">
                <div class="card-header border-0">
                  <h3 class="mb-0">TALENTO HUMANO 2014 - 2015 </h3>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Año</th>
                        <th scope="col">Mujer Of.</th>
                        <th scope="col">Hombre Of.</th>
                        <th scope="col">Subtotal Of.</th>
                        <th scope="col">Mujer Pu.</th>
                        <th scope="col">Hombre Pu.</th>
                        <th scope="col">Subtotal Pu.</th>
                        <th scope="col">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">
                          <div class="media align-items-center">
                            <div class="media-body">
                              <span class="mb-0 text-sm">2015</span>
                            </div>
                          </div>
                        </th>
                        <td>
                          <i>126</i>
                        </td>
                        <td>
                          <i>26</i>
                        </td>
                        <td>
                          <i> 152</i>
                        </td>
                        <td>
                          <i>11</i>
                        </td>
                        <td>
                          <i>2</i>
                        </td>
                        <td>
                          <i>13</i>
                          <div></div>
                        </td>
                        <td>
                          <i>165</i>
                          <div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">
                          <div class="media align-items-center">
                            <div class="media-body">
                              <span class="mb-0 text-sm">2014</span>
                            </div>
                          </div>
                        </th>
                        <td>
                          <i>130</i>
                        </td>
                        <td>
                          <i>26</i>
                        </td>
                        <td>
                          <i>156</i>
                        </td>
                        <td>
                          <i>13</i>
                        </td>
                        <td>
                          <i>1</i>
                        </td>
                        <td>
                          <i>14</i>
                          <div></div>
                        </td>
                        <td>
                          <i>170</i>
                          <div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><br><br><br><br><br>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>
