<app-menu></app-menu>
<section class="page-title centred" style="background-image:url(assets/images/background/banner\ niños.jpg)">
</section>
<section>
  <div class="container mt-4" style="font-family: Arial, sans-serif;">
    <nav arial-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
                <a routerLink="/inicio" style=" text-decoration: none;">
                  Inicio
                </a>
            </li>
            <li class="" style="font-size: 22px; color: #6c757d; font-weight: bold;">
                Portal Niños
            </li>
        </ol>
    </nav>
  </div>
</section>
<section class="faq-page-section about-section">
  <div class="card-group">
    <div class="card-group">
      <div class="card">
        <div class="video-container">
        <video width="320" height="240" controls preload="none" autoplay muted>
          <source src="../../../assets/Archivos/videos-ninos/110652527_926310387876070_1394716421911504164_n.mp4" type="video/mp4">
          <source src="../../../assets/Archivos/videos-ninos/110652527_926310387876070_1394716421911504164_n.webm" type="video/webm">
          Your browser does not support the video tag.
        </video>
        </div>
        <div class="card-body">
          <div class="animated bounce animation-delay-1s message-container">
            <p class="message">¡Ahorrar agua es importante para nuestro planeta!</p>
          </div>
        </div>
      </div>
      <div class="card ml-1">
        <div class="video-container"> 
        <video width="320" height="240" controls preload="none" autoplay muted>
          <source src="../../../assets/Archivos/videos-ninos/117844539_925817134588358_2932936161305897244_n.mp4" type="video/mp4">
          <source src="../../../assets/Archivos/videos-ninos/117844539_925817134588358_2932936161305897244_n.webm" type="video/webm">
          Your browser does not support the video tag.
        </video>
      </div> 
      <div class="card-body">
        <div class="animated bounce animation-delay-1s message-container">
          <p class="message">¡Los buenos hábitos ayudan el medio ambiente!</p>
        </div>
      </div>
      </div>
      <div class="card ml-1">
        <div class="video-container">   
        <video width="320" height="240" controls preload="none" autoplay muted>
          <source src="../../../assets/Archivos/videos-ninos/118529368_598925024075354_4537355201153235418_n.mp4" type="video/mp4">
          <source src="../../../assets/Archivos/videos-ninos/118529368_598925024075354_4537355201153235418_n.webm" type="video/webm">
          Your browser does not support the video tag.
        </video>
        </div>
        <div class="card-body">
          <div class="animated bounce animation-delay-1s message-container">
            <p class="message">¡No hagas malas prácticas!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><br>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>
