<app-menu></app-menu>
<section class="page-title centred" style="background-image:url(assets/images/background/participa.jpg)">
</section>
<section class="about-section">
  <div class="container mt-4" style="font-family: Arial, sans-serif;">
    <nav arial-label="breadcrumb">
      <ol class="breadcrumb"
        style="background-color: #ffffff; border-radius: 0; padding: 8px 16px; border-left: 5px solid #17a2b8;">
        <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
          <a routerLink="/inicio" style="color: #17a2b8; text-decoration: none;">
            Inicio
          </a>
        </li>
        <li class="breadcrumb-item" style="font-size: 22px; color: #6c757d; font-weight: bold;">
          Participa
        </li>
      </ol>
    </nav>
  </div>

  <div class="auto-container">
    <div class="row align-items-center clearfix">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <figure class="image-box clearfix wow fadeInLeft animated" data-wow-delay="00ms" data-wow-duration="1500ms">
          <img src="../../../assets/images/joven - participa.webp" width="400px" height="150px" alt=" ">
        </figure>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="content_block_1">
          <div class="content-box wow fadeInRight animated" data-wow-delay="00ms " data-wow-duration="1500ms ">
            <div class="sec-title">
              <h2>¿Qué es el menú Participa?</h2>
            </div>
            <div class="text">
              <h3 class="text-justify">El menú participa se trata de los espacios, mecanismos y acciones que permiten la
                participación ciudadana en el ciclo de la gestión pública, con el propósito de dinamizar la vinculación
                de la ciudadanía en las decisiones y acciones públicas, durante el diagnóstico, formulación,
                implementación, evaluación y seguimiento a la gestión institucional.</h3>
            </div>
          </div>
          <div class="content-box wow fadeInRight animated" data-wow-delay="00ms " data-wow-duration="1500ms">
            <div class="sec-title">
              <h2>¿Cómo se puede Participar?</h2>
            </div>
            <div class="text">
              <h3 class="text-justify">Con el fin de facilitar el ejercicio de control social a la gestión pública,
                dando a conocer la oferta institucional donde podrá participar la ciudadanía para apoyar la construcción
                de políticas, planes, programas y proyectos de Las Ceibas Empresas Públicas de Neiva E.S.P </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="social-widget wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
          <div class="inner-box">
            <div class="fb-page" data-href="https://www.facebook.com/lasceibasesp" data-tabs="timeline" data-width="330"
              data-height="630" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false"
              data-show-facepile="true">
              <blockquote cite="https://www.facebook.com/lasceibasesp" class="fb-xfbml-parse-ignore">
                <a href="https://www.facebook.com/lasceibasesp">Facebook</a>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>


<section class="faq-page-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center"><b>6.1 Descripción general del menú "PARTICIPA".</b></h1>
      </div>
    </div>
    <div class="col-12">
      <div class="card mb-4" [class.expanded]="showAdditionalInfo">
        <img src="../../../assets/images/background/descripcion menu participa.jpg" class="card-img-top"
          alt="Diagnóstico e identificación de problemas">
        <br>
        <h2 class="card-title">Descripción general del menú "PARTICIPA"</h2>
        <div class="card-overlay">
          <div class="card-description">
            <p>Aquí encontrará información sobre los espacios, mecanismos y acciones que el DNP
              implementa en cumplimiento de la política de participación ciudadana en la gestión pública, con el
              propósito de fortalecer la vinculación de la ciudadanía, grupos de interés y de valor, en las
              decisiones y acciones públicas, durante las fases del ciclo de la gestión pública (diagnóstico,
              formulación, implementación, evaluación y seguimiento), a partir de lo establecido en la Ley 1757 de
              2015, la Ley 1712 de 2014, la Ley 489 de 1998, el Decreto 1499 de 2017, la Resolución 1519 de 2020 del
              Ministerio de Tecnologías de la información y las Comunicaciones, así como los lineamientos y
              orientaciones del Departamento Administrativo de la Función Pública​.</p>
            <button class="btn btn-primary" (click)="toggleAdditionalInfo(6)">Conoce más</button>
          </div>
        </div>
      </div>
      <div class="" *ngIf="showAdditionalInfo[6]">
        <div class="list clearfix">
          <li class="list-item">
            <a href="/sistema-integrado-de-gestion" target="_blank">6.1.1 Estrategia de participación ciudadana</a>
          </li>
          <li class="list-item">
            <a href="../../../../assets/Archivos/documentos-tranparencia/MENU PARTICIPA/participa/6.2.5.c. Calendario eventos.htm"
              target="_blank">6.1.2 Cronograma de participación ciudadana</a>
          </li>
          <li class="list-item">
            <a href="../../../../assets/Archivos/documentos-tranparencia/MENU PARTICIPA/participa/Cronograma Rendición de Cuentas - COMUNAS.htm"
              target="_blank">6.1.3 Resultados de la participación ciudadana (Formato de descarga)</a>
          </li>
          <li class="list-item">
            <a href="../../../../assets/Archivos/documentos-tranparencia/normogrma/Normograma 2023_1.html"
              target="_blank">6.1.4 Sección Normativa</a>
          </li>
          <li class="list-item">
            <a href="../../../../assets/Archivos/documentos-tranparencia/MENU PARTICIPA/6.2.2b/Orientaciones para promover la participación ciudadana - Julio 2018.pdf"
              target="_blank">6.1.5 Caja de Herramientas</a>
          </li>
          <li class="list-item">
            <a href="https://docs.google.com/forms/d/1FfCaNIPgF6J4pRVrpamG3EuEyExKdg-exwrIGOcEFbw/viewform?edit_requested=true"
              target="_blank">6.1.6 Encuesta de participación ciudadana</a>
          </li>
          <button class="close-button" (click)="toggleAdditionalInfo(6)">Cerrar</button>
        </div>
      </div>
      <br><br>
    </div>
    <div class="row">
      <div class="col-12">
        <h1 class="text-center"><b>6.2 Estructura y secciones del menú "PARTICIPA".</b></h1>
      </div>
    </div>
    <div class="row justify-content-center">

      <div class="col-12">
        <div class="card mb-4" [class.expanded]="showAdditionalInfo">
          <img src="../../../assets/images/img-participa/diagnostico de evidencias.jpg" class="card-img-top"
            alt="Diagnóstico e identificación de problemas">
          <br>
          <h2 class="card-title">Diagnóstico de evidencias e identificación de problemas</h2>
          <div class="card-overlay">
            <div class="card-description">
              <p>El diagnóstico de necesidades y la identificación de problemas implican involucrar a los ciudadanos
                en la recopilación y análisis de información. Esto se hace para reconocer y comprender los asuntos
                que los afectan de manera directa o indirecta. Se basa en datos, pensamientos, realidades vividas y
                propuestas,
                todo enfocado en entender la situación en cuestión. Este proceso permite descubrir las dificultades y
                requerimientos de los grupos importantes para la organización.</p>
              <button class="btn btn-primary" (click)="toggleAdditionalInfo(0)">Conoce más</button>
            </div>
          </div>
        </div>
        <div class="" *ngIf="showAdditionalInfo[0]">
          <div class="list clearfix">
            <li class="list-item">
              <a routerLink="/sala-prensa" target="_blank">6.2.1.a. Publicación temas de interés</a>
            </li>
            <li class="list-item">
              <a href="../../../../assets/Archivos/documentos-tranparencia/MENU PARTICIPA/6.2.2b/Orientaciones para promover la participación ciudadana - Julio 2018.pdf"
                target="_blank" rel="noopener noreferrer">6.2.1.b. Caja de herramientas</a>
            </li>
            <li class="list-item">
              <a href="https://docs.google.com/forms/d/1FfCaNIPgF6J4pRVrpamG3EuEyExKdg-exwrIGOcEFbw/edit"
                target="_blank" rel="noopener noreferrer">6.2.1.c. Herramienta de evaluación</a>
            </li>
            <li class="list-item">
              <a href="./informes-rendicion-cuentas" target="_blank" rel="noopener noreferrer">6.2.1.d. Divulgar
                resultados.</a>
            </li>
            <button class="close-button" (click)="toggleAdditionalInfo(0)">Cerrar</button>
          </div>
        </div><br><br>
      </div>



      <div class="col-12">
        <div class="card mb-4">
          <img src="../../../assets/images/img-participa/planeacion y presupuesto.jpg" class="card-img-top"
            alt="Planeación y presupuesto participativo">
          <br>
          <h2 class="card-title">Planeación y presupuesto participativo</h2>
          <div class="card-overlay">
            <div class="card-description">
              <p>El presupuesto participativo es el proceso por medio del cual la ciudadanía, a través de la
                deliberación y la construcción de acuerdos con el Gobierno, asignan un porcentaje de los recursos del
                presupuesto a programas y proyectos que consideran prioritarios en armonía con el Plan de Desarrollo; no
                obstante, de acuerdo con los artículos 89, 90 y 91 de Ley 1757 de 2015, Las Ceibas Empresas públicas de
                Neiva E.S.P no se encuentra obligada a realizar presupuesto participativo.</p>
              <button class="btn btn-primary" (click)="toggleAdditionalInfo(1)">Conoce más</button>
            </div>
          </div>
        </div>
        <div class="" *ngIf="showAdditionalInfo[1]">
          <div class="list clearfix">
            <li class="list-item">
              <a href="../../../../assets/Archivos/documentos-tranparencia/MENU PARTICIPA/6.2.2b/Orientaciones para promover la participación ciudadana.pdf"
                target="_blank" rel="noopener noreferrer">6.2.2.b. Habilitar canales de interacción y caja de
                herramientas</a>
            </li>
            <li class="list-item">
              <a routerLink="./informes-rendicion-cuentas" target="_blank">6.2.2.c. Publicar la información sobre las
                decisiones</a>
            </li>
            <li class="list-item">
              <a routerLink="/sala-prensa" target="_blank">6.2.2.d. Visibilizar avances de decisiones y su estado
                (semáforo).</a>
            </li>
            <button class="close-button" (click)="toggleAdditionalInfo(1)">Cerrar</button>
          </div>
        </div><br><br>
      </div>


      <div class="col-12">
        <div class="card mb-4">
          <img src="../../../assets/images/img-participa/consulta ciudadana.jpg" class="card-img-top"
            alt="Consulta ciudadana">
          <br>
          <h2 class="card-title">Consulta ciudadana</h2>
          <div class="card-overlay">
            <div class="card-description">
              <p>Es un enfoque participativo que tiene como objetivo obtener las ideas, recomendaciones, propuestas,
                comentarios
                y contribuciones de los ciudadanos en relación con proyectos, regulaciones, políticas, programas o
                procesos realizados por la entidad. Esto se hace antes de que dichas iniciativas sean formalizadas o
                decisiones sean tomadas.</p>
              <button class="btn btn-primary" (click)="toggleAdditionalInfo(2)">Conoce más</button>
            </div>
          </div>
        </div>
        <div class="" *ngIf="showAdditionalInfo[2]">
          <div class="list clearfix">
            <li class="list-item">
              <a href="../../../../assets/Archivos/documentos-tranparencia/MENU PARTICIPA/6.3/PE-PR-10 SERVICIO A LA COMUNIDAD (1).pdf"
                target="_blank">6.2.3.a. Tema de consulta (normas, políticas, programas o proyectos) y resumen del
                mismo</a>
            </li>
            <li class="list-item">
              <a href="../../../../assets/Archivos/documentos-tranparencia/MENU PARTICIPA/6.2.2b/Orientaciones para promover la participación ciudadana.pdf"
                target="_blank">6.2.3.b. Habilitar canales de consulta y caja de herramientas</a>
            </li>
            <li class="list-item">
              <a href="../../../../assets/Archivos/documentos-tranparencia/CONCEPTO JURÍDICO-EPN-PROCESO DE IMPLEMENTACIÓN IND. DE TRANSP. Y ACCESO A LA INFO. PÚBLICA.pdf"
                target="_blank">6.2.3.c. Publicar observaciones y comentarios y las respuestas de proyectos
                normativos</a>
            </li>
            <li class="list-item">
              <a href="../../../assets/Archivos/documentos-tranparencia/normogrma/Normograma 2023_1.html"
                target="_blank" rel="noopener noreferrer">6.2.3.d. Crear un enlace que redireccione a la Sección
                Normativa</a>
            </li>
            <li class="list-item">
              <a href="https://docs.google.com/forms/d/1FfCaNIPgF6J4pRVrpamG3EuEyExKdg-exwrIGOcEFbw/edit"
                target="_blank">6.2.3.e. Facilitar herramienta de evaluación</a>
            </li>
            <button class="close-button" (click)="toggleAdditionalInfo(2)">Cerrar</button>
          </div>
        </div><br><br>
      </div>


      <div class="col-12">
        <div class="card mb-4">
          <img src="../../../assets/images/img-participa/colaboracion e innovacion.jpg" class="card-img-top"
            alt="Colaboración e innovación">
          <br>
          <h2 class="card-title">Colaboración e innovación abierta</h2>
          <div class="card-overlay">
            <div class="card-description">
              <p>Fomenta la colaboración y el intercambio de ideas para promover la innovación en la solución de
                problemas y el desarrollo de proyectos que beneficien a la comunidad.</p>
              <button class="btn btn-primary" (click)="toggleAdditionalInfo(3)">Conoce más</button>
            </div>
          </div>
        </div>
        <div class="" *ngIf="showAdditionalInfo[3]">
          <div class="list clearfix">
            <li class="list-item">
              <a href="https://forms.office.com/r/f140eAudDh" target="_blank" class="item-link">6.2.4.a. Disponer un
                espacio para consulta sobre temas o problemáticas</a>
            </li>
            <li class="list-item">
              <a href="../../../../assets/Archivos/documentos-tranparencia/MENU PARTICIPA/6.2.2b/Orientaciones para promover la participación ciudadana - Julio 2018.pdf"
                target="_blank" class="item-link">6.2.4.b. Convocatoria con el reto</a>
            </li>
            <li class="list-item">
              <a href="https://forms.office.com/r/f140eAudDh" target="_blank" class="item-link">6.2.4.c. Informar
                retos
                vigentes y reporte con la frecuencia de votaciones de soluciones en cada reto</a>
            </li>
            <li class="list-item">
              <a href="./sala-prensa" target="_blank" class="item-link">6.2.4.d. Publicar la propuesta elegida y los
                criterios para su
                selección</a>
            </li>
            <li class="list-item">
              <a href="https://docs.google.com/forms/d/1FfCaNIPgF6J4pRVrpamG3EuEyExKdg-exwrIGOcEFbw/edit"
                target="_blank" class="item-link">6.2.4.e.Divulgar el plan de trabajo para implementar la solución
                diseñada</a>
            </li>
            <li class="list-item">
              <a href="https://forms.office.com/r/f140eAudDh" target="_blank" class="item-link">6.2.4.f.Publicar la
                información sobre los desarrollos o prototipos</a>
            </li>
            <button class="close-button" (click)="toggleAdditionalInfo(3)">Cerrar</button>
          </div>
        </div><br><br>
      </div>


      <div class="col-12">
        <div class="card mb-4">
          <img src="../../../assets/images/img-participa/rendicion de cuentas.jpg" class="card-img-top"
            alt="Rendición de cuentas">
          <br>
          <h2 class="card-title">Rendición de cuentas</h2>
          <div class="card-overlay">
            <div class="card-description">
              <p>Conoce y evalúa los informes de rendición de cuentas para asegurar que las acciones y resultados estén
                alineados con los compromisos adquiridos, promoviendo la transparencia y la responsabilidad.</p>
              <button class="btn btn-primary" (click)="toggleAdditionalInfo(4)">Conoce más</button>
            </div>
          </div>
        </div>
        <div class="" *ngIf="showAdditionalInfo[4]">
          <div class="list clearfix">
            <li class="list-item">
              <a href="https://docs.google.com/forms/d/e/1FAIpQLScMrc8MzAy7LZ5PW7BikirBRdZ-TE8oFyUS-qxKAYD5dV0zSg/viewform"
                target="_blank" class="item-link">6.2.5.a. Habilitar un espacio para que la ciudadanía postule
                temáticas</a>
            </li>
            <li class="list-item">
              <a href="#" target="_blank" class="item-link">6.2.5.b. Estrategia de comunicación para la rendición de
                cuentas</a>
            </li>
            <li class="list-item">
              <a href="../../../../assets/Archivos/documentos-tranparencia/MENU PARTICIPA/participa/6.2.5.c. Calendario eventos.htm"
                target="_blank" class="item-link">6.2.5.c. Calendario eventos de diálogo</a>
            </li>
            <li class="list-item">
              <a href="./informes-rendicion-cuentas" target="_blank" rel="noopener noreferrer"
                class="item-link">6.2.5.d. Articular
                a los informes de rendición de cuentas en el Menú transparencia</a>
            </li>
            <li class="list-item">
              <a href="https://es-la.facebook.com/lasceibasesp/" target="_blank" rel="noopener noreferrer"
                class="item-link">6.2.5.e. Habilitar un canal para eventos de diálogo Articulación con sistema nacional
                de rendición de cuentas</a>
            </li>
            <li class="list-item">
              <a href="../../../../assets/Archivos/documentos-tranparencia/MENU PARTICIPA/6f/Tabulacion Encuestas de Satisfaccion.htm"
                target="_blank" class="item-link">6.2.5.f Preguntas y respuestas de eventos de diálogo (Formato para
                descargar)</a>
            </li>
            <li class="list-item">
              <a href="./sala-prensa" target="_blank" class="item-link">6.2.5.g Memorias de cada evento</a>
            </li>
            <button class="close-button" (click)="toggleAdditionalInfo(4)">Cerrar</button>
          </div>
        </div><br><br>
      </div>


      <div class="col-12">
        <div class="card mb-4">
          <img src="../../../assets/images/img-participa/control social.jpg" class="card-img-top" alt="Control social">
          <br>
          <h2 class="card-title">Control social</h2>
          <div class="card-overlay">
            <div class="card-description">
              <p>Participa activamente en el control y seguimiento de los programas, proyectos y contratos,
                contribuyendo a garantizar la legalidad, transparencia y eficiencia en la gestión pública.</p>
              <button class="btn btn-primary" (click)="toggleAdditionalInfo(5)">Conoce más</button>
            </div>
          </div>
        </div>
        <div class="" *ngIf="showAdditionalInfo[5]">
          <div class="list clearfix">
            <li class="list-item">
              <a href="../../../../assets/Archivos/documentos-tranparencia/MENU PARTICIPA/6.2.6.d/Imodalidad-contros-social.pdf"
                target="_blank" class="item-link">6.2.6.a. Informar las modalidades de control social</a>
            </li>
            <li class="list-item">
              <a href="../../../../assets/Archivos/documentos-tranparencia/CONCEPTO JURÍDICO-EPN-PROCESO DE IMPLEMENTACIÓN IND. DE TRANSP. Y ACCESO A LA INFO. PÚBLICA.pdf"
                target="_blank" class="item-link">6.2.6.b. Convocar cuando inicie ejecución de programa, proyecto o
                contratos</a>
            </li>
            <li class="list-item">
              <a href="https://community.secop.gov.co/Public/Common/GoogleReCaptcha/Index?previousUrl=https%3a%2f%2fcommunity.secop.gov.co%2fPublic%2fTendering%2fContractNoticeManagement%2fIndex%3fcurrentLanguage%3des-CO%26Page%3dlogin%26Country%3dCO%26SkinName%3dCCE"
                target="_blank" class="item-link">6.2.6.c. Resumen del tema objeto de vigilancia</a>
            </li>
            <li class="list-item">
              <a href="https://community.secop.gov.co/Public/Common/GoogleReCaptcha/Index?previousUrl=https%3a%2f%2fcommunity.secop.gov.co%2fPublic%2fTendering%2fContractNoticeManagement%2fIndex%3fcurrentLanguage%3des-CO%26Page%3dlogin%26Country%3dCO%26SkinName%3dCCE"
                target="_blank" rel="noopener noreferrer" class="item-link">6.2.6.d. Informes del interventor o el
                supervisor</a>
            </li>
            <li class="list-item">
              <a href="../../../../assets/Archivos/documentos-tranparencia/MENU PARTICIPA/6.2.2b/Orientaciones para promover la participación ciudadana - Julio 2018.pdf"
                target="_blank" class="item-link">6.2.6.e. Facilitar herramienta de evaluación de las actividades</a>
            </li>
            <li class="list-item">
              <a href="../../../../assets/Archivos/documentos-tranparencia/MENU PARTICIPA/6f/Observaciones de Vedurias.pdf"
                target="_blank">6.2.6.f. Publicar el registro de las observaciones de las veedurías</a>
            </li>
            <li class="list-item">
              <a href="./mipg#Autodiagnosticos" target="_blank">6.2.6.g. Acciones de mejora</a>
            </li>
            <button class="close-button" (click)="toggleAdditionalInfo(5)">Cerrar</button>
          </div>
        </div><br><br>
      </div>

    </div>
  </div>
</section>



<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>