<app-menu></app-menu>
<section class="page-title centred" style="background-image:url(assets/images/background/encuestapercepcion.jpg)">
</section>
<div class="container mt-4" style="font-family: Arial, sans-serif;">
    <nav arial-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #ffffff; border-radius: 0; padding: 8px 16px; border-left: 5px solid #17a2b8;">
            <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
                <a routerLink="/inicio" style="color: #17a2b8; text-decoration: none;">
                Inicio
                </a>
            </li>
            <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
              <a routerLink="/atencion-usuario" style="color: #17a2b8; text-decoration: none;">
                Atención al Usuario
              </a>
            </li>
            <li class="breadcrumb-item" style="font-size: 22px; color: #6c757d; font-weight: bold;">
                Encuestas de percepción ciudadana
            </li>
        </ol>
    </nav>
  </div>
<section class="faq-page-section">
<div class="auto-container">
<div class="row clearfix">
<div class="sec-title">
<h4 style="font-size: 24px;" class=" text-center">Encuestas</h4>
<app-encuesta-percepcion></app-encuesta-percepcion>
</div>
<div class="col-lg-12ne col-md-12 col-sm-12 content-column"></div></div></div></section>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>