<app-menu></app-menu>
<section class="page-title centred"
  style="background-image:url(assets/images/background/banner\ estructura\ organizacional.jpg)">
</section>
  <div class="container mt-4" style="font-family: Arial, sans-serif;">
    <nav arial-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
                <a routerLink="/inicio" style=" text-decoration: none;">
                    Inicio
                </a>
            </li>
            <li class="" style="font-size: 22px; font-weight: bold;">
              <a routerLink="/transparenci" style=" text-decoration: none;">
                Transparencia
              </a>
            </li>
            <li class="" style="font-size: 22px; color: #6c757d; font-weight: bold;">
                Estructura organizacional
            </li>
        </ol>
    </nav>
  </div>
<section class="faq-page-section">  
  <div class="auto-container text-center">
    <div class="row clearfix">
      <div class="sec-title">
        <img src="../../../assets/images/img-organigrama.png">
      </div>
    </div>
  </div>
</section>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>
