<app-menu></app-menu>
<section class="page-title centred"
  style="background-image:url(assets/images/background/banner\ reinstalacion\ del\ servicio.jpg)">
</section>
<section>
  <div class="container mt-4" style="font-family: Arial, sans-serif;">
    <nav arial-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
                <a routerLink="/inicio" style=" text-decoration: none;">
                Inicio
                </a>
            </li>
            <li class="" style="font-size: 22px; color: #6c757d; font-weight: bold;">
              Reinstalación del Servicio
            </li>
        </ol>
    </nav>
  </div>
</section>
<section class="about-section">
  <div class="auto-container">
    <div class="row align-items-center clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 content-column">
        <div class="content_block_1">
          <div class="content-box wow fadeInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms">
            <div class="sec-title">
              <h1 align="center">Reinstalación del Servicio</h1>
            </div>
          </div>
          <div class="text">
            <h3 align="justify"><b style="color:#00556a">REINSTALACIÓN:</b> Es el restablecimiento del servicio de acueducto
              a un inmueble al cual se le había suspendido.</h3>
          </div><br>
          <div class="text">
            <h3 align="justify"><b style="color:#00556a">RECONEXION:</b> Es el restablecimiento del servicio de acueducto a
              un inmueble al cual le había sido cortado.</h3>
          </div><br>
          <div class="text">
            <h3 align="justify"><b style="color:#00556a">SUSPENSIÓN:</b> Interrupción temporal del servicio por común
              acuerdo, por interés del servicio, o por incumplimiento.</h3>
          </div><br>
          <div class="text">
            <h3 align="justify"><b style="color:#00556a">CORTE:</b> Interrupción del servicio que implica la desconexión o
              taponamiento de la acometida.</h3>
          </div><br>
          <div class="text">
            <h3 align="justify"><b style="color:#00556a"></b>Para la reinstalación del servicio de acueducto favor llamar a
              la línea <a href="tel:6088725500">6088725500</a> ext. 131, presentando su factura al día.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><br><br><br><br>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>
