<app-menu></app-menu>
<section class="page-title centred" style="background-image:url(assets/images/background/banner\ decretos.jpg)">
</section>
<div class="container mt-4" style="font-family: Arial, sans-serif;">
  <nav arial-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
              <a routerLink="/inicio" style=" text-decoration: none;">
              Inicio
              </a>
          </li>
          <li class="" style="font-size: 22px; font-weight: bold;">
            <a routerLink="/ceibas" style=" text-decoration: none;">
              Las Ceibas
            </a>
          </li>
          <li class="" style="font-size: 22px; color: #6c757d; font-weight: bold;">
            Decretos
          </li>
      </ol>
  </nav>
</div>
<section class="faq-page-section">
  <div class="auto-container">
    <div class="row clearfix">
      <div class="col-lg-12ne col-md-12 col-sm-12 content-column">
        <li class="accordion block">
          <div class="container pt-4">
            <div class="row">
              <div class="card-body">
                <div class="table-wrapper">
                  <table class="fl-table">
                    <thead>
                      <tr>
                        <th>Tipo de documento</th>
                        <th>Archivo</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><a href="../../../assets/Archivos/decretos/decreto0951-2013-pgirs.pdf" target="_blank">PDF</a></td>
                        <td>Decreto 0951 2013 pgirs</td>
                      </tr>
                      <tr>
                        <td><a href="../../../assets/Archivos/decretos/dec_1140_03-unds._almacenamto.pdf" target="_blank">PDF</a></td>
                        <td>Decreto 1140_2003 unidades</td>
                      </tr>
                      <tr>
                        <td><a href="../../../assets/Archivos/decretos/dec_0605_96-reglamenta_aseo.pdf" target="_blank">PDF</a></td>
                        <td>Decreto 0605_1996 reglamento aseo</td>
                      </tr>
                      <tr>
                        <td><a href="../../../assets/Archivos/decretos/dec.357-97_destino_final_escombros.pdf" target="_blank"
                            rel="nooperner no ferrer">PDF</a></td>
                        <td>Decreto 357-1997 destino final escombros</td>
                      </tr>
                      <tr>
                        <td><a href="../../../assets/Archivos/decretos/decretos_conformacion_junta_epn.pdf" target="_blank"
                            rel="nooperner no ferrer">PDF</a></td>
                        <td>Decretos conformación junta epn</td>
                      </tr>
                    <tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
    </div>
  </div>
</section>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>
