<app-menu></app-menu>
<section class="page-title centred"
  style="background-image:url(../../../assets/images/background/atencion-usuario.jpg)">
</section><br>
<section>
  <div class="container mt-4" style="font-family: Arial, sans-serif;">
    <nav arial-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
          <a routerLink="/inicio" style=" text-decoration: none;">
            Inicio
          </a>
        </li>
        <li class="" style="font-size: 22px; color: #6c757d; font-weight: bold;">
          Atención al Usuario
        </li>
      </ol>
    </nav>
  </div>
</section><br><br><br><br>
<section class="feature-section centred about-section" id="Tramites">
  <div class="container pt-4">
    <div class="row">
      <div class="card-body">
        <div class="auto-container">
          <div class="inner-container wow fadeInLeft animated" data-wow-delay="00ms" data-wow-duration="1500ms">
            <div class="title-text">
              <h2>Trámites y Servicios</h2>
              <hr>
            </div>
            <div class="row clearfix">
              <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                <div class="v-line"></div>
                <div class="feature-block-one">
                  <div class="inner-box">
                    <div class="shape" style="background-image:url(../../../assets/images/icons/)"></div>
                    <div class="icon-box">
                      <a href="/not" target="_blank"><img src="../../../assets/images/icons/notificaciones.png "
                          width="90px" height="90px" alt="imagen de notificaciones"></a>
                    </div>
                    <h4><a href="/not" target="_blank">Notificaciones, PQRS,
                        Jurídico</a></h4>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                  <div class="inner-box">

                    <div class="icon-box">
                      <a href="./pqrs"
                        rel="noopener noferrer"><img src="../../../assets/images/icons/entrevista.png"
                          width="90px " height="90px" alt="imagen de contrato"></a>
                    </div>
                    <h4><a
                        href="./pqrs"
                        rel="noopener noferrer">Peticiones quejas, reclamos y solicitudes.</a></h4>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                  <div class="inner-box">
                    <div class="icon-box">
                      <a routerLink="/denuncie-actos-corrupcion-funcionarios"><img
                          src="../../../assets/images/icons/corrupcion.png" width="90px" height="90px"
                          alt="imagen Reinstalación del Servicio"></a>
                    </div>
                    <h4><a routerLink="/denuncie-actos-corrupcion-funcionarios">Denuncie Actos de Corrupción</a></h4>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                  <div class="inner-box">
                    <div class="icon-box">
                      <a href="/informes-encuestas-percepcion"><img src="../../../assets/images/icons/papel.png"
                          width="90px" height="90px" alt="imagen Reinstalación del Servicio"></a>
                    </div>
                    <h4><a href="/informes-encuestas-percepcion">Encuestas de Percepción <br> Ciudadana</a></h4>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                  <div class="inner-box">
                    <div class="icon-box">
                      <a href="../../../assets/Archivos/lasceibas/banner_informacion_incluyente.pdf"
                        target="_blank"><img src="../../../assets/images/icons/papel.png" width="90px" height="90px"
                          alt="imagen Reinstalación del Servicio"></a>
                    </div>
                    <h4><a href="../../../assets/Archivos/lasceibas/banner_informacion_incluyente.pdf"
                        target="_blank">Información Inclusiva en Braille <br> Disponible en Ventanilla</a></h4>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                  <div class="inner-box">

                    <div class="icon-box" id="pida-cita">
                      <a href="./pida-cita" target="_blank" rel="noopener noferrer"><img
                          src="../../../assets/images/icons/entrevista.png" width="90px " height="90px"
                          alt="imagen de contrato"></a>
                    </div>
                    <h4><a href="./pida-cita" target="_blank" rel="noopener noferrer">Pida una Cita</a></h4>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                  <div class="inner-box">

                    <div class="icon-box" id="pida-cita">
                      <a href="../../../assets/Archivos/lasceibas/servicios-complementarios/Protocolo_servicios_complementarios.pdf" target="_blank" rel="noopener noferrer"><img
                          src="../../../assets/images/icons/tramites.png" width="90px " height="90px"
                          alt="imagen de contrato"></a>
                    </div>
                    <h4><a href="../../../assets/Archivos/lasceibas/servicios-complementarios/Protocolo_servicios_complementarios.pdf" target="_blank" rel="noopener noferrer">Portafolio de servicios complementarios</a></h4>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one">
                  <div class="inner-box">

                    <div class="icon-box" id="pida-cita">
                      <a href="../../../assets/Archivos/lasceibas/servicios-complementarios/DESCRIPCION_DE_SERVICIOS_COMPLEMENTARIOS.pdf" target="_blank" rel="noopener noferrer"><img
                          src="../../../assets/images/icons/Reestablecimiento.png" width="90px " height="90px"
                          alt="imagen de contrato"></a>
                    </div>
                    <h4><a href="../../../assets/Archivos/lasceibas/servicios-complementarios/DESCRIPCION_DE_SERVICIOS_COMPLEMENTARIOS.pdf" target="_blank" rel="noopener noferrer">Descripción de servicios complementarios</a></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><br><br><br><br>
<section class="feature-section centred" id="ServiciosEnLinea">
  <div class="auto-container">
    <div class="inner-container wow fadeInLeft animated" data-wow-delay="00ms" data-wow-duration="1500ms">
      <div class="title-text">
        <h2>Servicios en Línea</h2>
        <hr>
      </div>
      <div class="row clearfix">
        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
          <div class="v-line"></div>

          <div class="feature-block-one">
            <div class="inner-box">
              <div class="shape" style="background-image:url(../../../assets/images/icons/)"></div>
              <div class="icon-box"><a href="https://serviciosdigitalesneiva.sgsas.co:9444/pago_factura"
                  target="_blank"><img src="../../../assets/images/icons/factura.png " width="90px" height="90px"
                    alt="imagen de notificaciones"></a>
              </div>
              <h4><a href="https://serviciosdigitalesneiva.sgsas.co:9444/pago_factura" target="_blank"
                  rel="noopener noferrer">Factura Web</a></h4>
            </div>
          </div>
        </div>

        <!-- 
        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
          <div class="feature-block-one">
            <div class="inner-box">

              <div class="icon-box">
                <a href="#"><img src="../../../assets/images/icons/papel.png" width="90px" height="90px"
                    alt="imagen de contrato"></a>
              </div>
              <h4><a href="#">Certificados de retención</a></h4>
            </div>
          </div>
        </div>
      -->

        <!--
        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
          <div class="feature-block-one">
            <div class="inner-box">

              <div class="icon-box">
                <a href="http://treasury.ceiba.gobiernoit.com:8186/desprendiblesterceros" target="_blank"
                  rel="nooperner noferrer"><img src="../../../assets/images/icons/cuenta.png" width="90px" height="90px"
                    alt="imagen seguimiento cuenta de cobro"></a>
              </div>
              <h4><a href="http://treasury.ceiba.gobiernoit.com:8186/desprendiblesterceros" target="_blank">Desprendibles de pago</a>
              </h4>
            </div>
          </div>
        </div>
      -->
        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
          <div class="feature-block-one">
            <div class="inner-box">
              <div class="icon-box">
                <a href="https://www.google.com/maps/d/viewer?mid=1453r5tRHtUsnzozvc6xMFXi3a7Y&ll=2.931344770331532%2C-75.26973571193145&z=16"
                  target="_blank"><img src="../../../assets/images/icons/ubicacion.png" width="90px" height="90px"
                    alt="imagen Reinstalación del Servicio"></a>
              </div>
              <h4><a
                  href="https://www.google.com/maps/d/viewer?mid=1453r5tRHtUsnzozvc6xMFXi3a7Y&ll=2.931344770331532%2C-75.26973571193145&z=16"
                  target="_blank">Mapa de mantenimientos</a></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><br><br><br><br>
<section class="feature-section centred about-section" id="TramitesSuit">
  <div class="auto-container">
    <div class="inner-container wow fadeInLeft animated" data-wow-delay="00ms" data-wow-duration="1500ms">
      <div class="title-text">
        <h2>TRAMITES SUIT</h2>
        <hr>
      </div>
      <div class="row clearfix">
        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
          <div class="v-line"></div>
          <div class="feature-block-one">
            <div class="inner-box">

              <div class="icon-box">
                <a href="https://visorsuit.funcionpublica.gov.co/auth/visor?fi=65153" target="_blank"
                  rel="noopener no ferrer"><img src="../../../assets/images/icons/tipo-de-cambio.png" width="90px"
                    height="90px" alt="imagen de notificaciones"></a>
              </div>
              <h4><a href="https://visorsuit.funcionpublica.gov.co/auth/visor?fi=65153" target="_blank"
                  rel="noopener noferrer">Cambio de la clase de uso</a></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
          <div class="feature-block-one">
            <div class="inner-box">

              <div class="icon-box">
                <a href="https://visorsuit.funcionpublica.gov.co/auth/visor?fi=65179" target="_blank"><img
                    src="../../../assets/images/icons/articulos-pagados.png" width="90px" height="90px"
                    alt="imagen de contrato"></a>
              </div>
              <h4><a href="https://visorsuit.funcionpublica.gov.co/auth/visor?fi=65179" target="_blank"
                  rel="noopener noferrer">Cambios en la factura de servicios públicos</a></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
          <div class="feature-block-one">
            <div class="inner-box">

              <div class="icon-box">
                <a href="https://visorsuit.funcionpublica.gov.co/auth/visor?fi=62378" target="_blank"
                  rel="noopener noferrer"><img src="../../../assets/images/icons/devoluciones.png" width="90px "
                    height="90px" alt="imagen seguimiento cuenta de cobro"></a>
              </div>
              <h4><a href="https://visorsuit.funcionpublica.gov.co/auth/visor?fi=62378" target="_blank"
                  rel="noopener noferrer">Cambio de tarifa para hogares comunitarios o sustitutos del bienestar
                  familiar</a></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
          <div class="feature-block-one">
            <div class="inner-box">
              <div class="icon-box">
                <a href="https://visorsuit.funcionpublica.gov.co/auth/visor?fi=29310" target="_blank"
                  rel="noopener noferrer"><img src="../../../assets/images/icons/duplicado.png" width="90px"
                    height="90px" alt="imagen Reinstalación del Servicio"></a>
              </div>
              <h4><a href="https://visorsuit.funcionpublica.gov.co/auth/visor?fi=29310" target="_blank"
                  rel="noopener noferrer">Duplicados de recibos de pago</a></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
          <div class="feature-block-one">
            <div class="inner-box">

              <div class="icon-box">
                <a href="https://visorsuit.funcionpublica.gov.co/auth/visor?fi=28582" target="_blank"><img
                    src="../../../assets/images/icons/supervision.png" width="90px" height="90px"
                    alt="imagen Paz y Salvo"></a>
              </div>
              <h4><a href="https://visorsuit.funcionpublica.gov.co/auth/visor?fi=28582" target="_blank">Viabilidad y
                  disponibilidad de servicios Públicos</a></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
          <div class="feature-block-one">
            <div class="inner-box">

              <div class="icon-box">
                <a href="https://visorsuit.funcionpublica.gov.co/auth/visor?fi=27451" target="_blank"
                  rel="noopener noferrer"><img src="../../../assets/images/icons/tuberia.png" width="90px" height="90px"
                    alt="imagen Contact Center"></a>
              </div>
              <h4><a href="https://visorsuit.funcionpublica.gov.co/auth/visor?fi=27451" target="_blank"
                  rel="noopener noferrer">Suspensión del servicio Público</a></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
          <div class="feature-block-one">
            <div class="inner-box">

              <div class="icon-box">
                <a href="https://visorsuit.funcionpublica.gov.co/auth/visor?fi=28581" target="_blank"
                  rel="noopener noferrer"><img src="../../../assets/images/icons/mantenimiento.png" width="90px"
                    height="90px" alt="imagen Gestión Documental"></a>
              </div>
              <h4><a href="https://visorsuit.funcionpublica.gov.co/auth/visor?fi=28581" target="_blank"
                  rel="noopener noferrer">Factibilidad de Servicios Públicos</a></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
          <div class="feature-block-one">
            <div class="inner-box">
              <div class="icon-box">
                <a href="https://visorsuit.funcionpublica.gov.co/auth/visor?fi=28203" target="_blank"
                  rel="noopener noferrer"><img src="../../../assets/images/icons/medidor-de-electricidad.png"
                    width="90px" height="90px" alt="imagen Factura web"></a>
              </div>
              <h4><a href="https://visorsuit.funcionpublica.gov.co/auth/visor?fi=28203" target="_blank"
                  rel="noopener noferrer">Instalación Mantenimiento o Reparación de Medidores</a></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
          <div class="feature-block-one">
            <div class="inner-box">
              <div class="icon-box">
                <a href="https://visorsuit.funcionpublica.gov.co/auth/visor?fi=27275" target="_blank"
                  rel="noopener noferrer"><img src="../../../assets/images/icons/solicitud.png" width="90px "
                    height="90px" alt="imagen Factura web"></a>
              </div>
              <h4><a href="https://visorsuit.funcionpublica.gov.co/auth/visor?fi=27275" target="_blank"
                  rel="noopener noferrer">Solicitud de matrícula nueva</a></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
          <div class="feature-block-one">
            <div class="inner-box">
              <div class="icon-box">
                <a href="https://visorsuit.funcionpublica.gov.co/auth/visor?fi=27452" target="_blank"
                  rel="noopener noferrer"><img src="../../../assets/images/icons/Reestablecimiento.png" width="90px"
                    height="90px" alt="imagen Factura web"></a>
              </div>
              <h4><a href="https://visorsuit.funcionpublica.gov.co/auth/visor?fi=27452" target="_blank"
                  rel="noopener noferrer">Reestablecimiento de servicio Público</a></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
          <div class="feature-block-one">
            <div class="inner-box">
              <div class="icon-box">
                <a href="https://visorsuit.funcionpublica.gov.co/auth/visor?fi=65162" target="_blank"
                  rel="noopener noferrer"><img src="../../../assets/images/icons/Reestablecimiento.png" width="90px"
                    height="90px" alt="imagen Factura web"></a>
              </div>
              <h4><a href="https://visorsuit.funcionpublica.gov.co/auth/visor?fi=65162" target="_blank"
                  rel="noopener noferrer">Instalación temporal del servicio Público</a></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><br><br><br><br>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>