<app-menu></app-menu>
<section class="page-title centred"
  style="background-image:url(assets/images/background/banner\ condiciones\ de\ uso\ de\ la\ informacion.jpg)">
</section>
<section>
  <div class="container mt-4" style="font-family: Arial, sans-serif;">
    <nav arial-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #ffffff; border-radius: 0; padding: 8px 16px; border-left: 5px solid #17a2b8;">
            <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
                <a routerLink="/inicio" style="color: #17a2b8; text-decoration: none;">
                Inicio
                </a>
            </li>
            <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
              <a routerLink="/ceibas" style="color: #17a2b8; text-decoration: none;">
                Las Ceibas
              </a>
            </li>
            <li class="breadcrumb-item" style="font-size: 22px; color: #6c757d; font-weight: bold;">
              Condiciones de uso de la información
            </li>
        </ol>
    </nav>
  </div>
</section>
<section class="about-section">
  <div class="auto-container">
    <div class="row align-items-center clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 content-column">
        <div class="content_block_1">
          <div class="content-box wow fadeInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms">
            <div class="sec-title">
              <h1>Condiciones de uso de la información</h1>
            </div>
            <h3>El uso de la información contenida en este portal implica que cada usuario acepta las siguientes
              condiciones de uso:</h3>
          </div><br>
          <div class="text">
            <h3 align="justify"><b style="color:#00556a">Generalidades.</b> Empresas públicas de Neiva ha publicado este
              portal con el objetivo de facilitar a los usuarios el acceso a la información relativa a la gestión
              adelantada en los proyectos y actividades. Los datos que aquí se suministran provienen de múltiples
              fuentes, los cuales están protegidos por la Ley. El municipio pone este material a disposición de los
              usuarios en forma individual, como licencia de usuario final, queda por lo tanto prohibida toda
              comercialización o usufructo de este derecho de acceso.
              </h3>
          </div><br>
          <div class=text>
            <h3 align=justify>Se autoriza el uso de la información contenida en este portal, siempre y cuando se realice
              la cita textual. Queda en cambio prohibida la copia o reproducción de los datos en cualquier medio
              electrónico (redes, bases de datos, cd rom, diskettes) que permita la disponibilidad de esta información a
              múltiples usuarios sin el previo visto bueno del Municipio por medio escrito.</h3>
          </div><br>
          <div class=text>
            <h3 align=justify><b style=color:#00556a>Calidad de la información.</b> Los datos y la información en
              general que aparecen en este portal se han introducido siguiendo estrictos procedimientos de control de
              calidad. No obstante, Empresas Públicas de neiva no se responsabiliza por el uso e interpretación
              realizada por terceros.
              </h3>
          </div><br>
        </div>
        <div class=text>
          <h3 align=justify><b style=color:#00556a>Contenido.</b> El material contenido en el portal consiste
            principalmente en información sobre la gestión adelantada por Empresas Públicas de Neiva, no aborda
            circunstancias específicas relativas a personas concretas.</h3>
        </div><br>
        <div class=text>
          <h3 align=justify><b style=color:#00556a>Soporte técnico..</b> Cualquier duda, inquietud o comentario sobre el
            contenido de este portal debe diligenciar el formulario de contáctenos.</h3>
        </div><br>
        <div class=text>
          <h3 align=justify>Esta licencia de uso se rige por la legislación colombiana, independientemente del entorno
            jurídico del usuario. Cualquier disputa que llegue a surgir en la interpretación de estos términos se
            resolverá bajo el amparo de la jurisprudencia colombiana.</h3>
        </div>
      </div>
    </div>
  </div>
 </section><br><br><br><br>
 <app-menuinteres></app-menuinteres><br><br><br>
 <app-footer></app-footer>
