<app-menu></app-menu>

<!--
  *PARA CUANDO NECESITE PONER UN MOCKUP EN EL INICIO DEL PORTAL*
<div *ngIf="showMockup" class="mockup-container">
  <img src="../../../assets/images/volante_campaña_recaudo_comunas.jpg" alt="Mockup Image" class="mockup-image">
  <button (click)="closeMockup()" class="close-button">Cerrar</button>
</div>
-->



<section class="banner-section">
  <div class="banner-carousel owl-theme owl-carousel owl-nav-none owl-dots-none owl-loaded owl-drag">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active"
          aria-current="true"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item">
          <img src="../../../assets/images/banner-inicio/1.jpg" class="img-fluid">
          <div class="container">
            <div class="carousel-caption text-start carousel-caption-2">
              <h1 class="carousel-heading display-4 d-none d-md-block" class="carousel-heading-2">Póngase al día con Las
                CEIBAS</h1>
              <br>
              <h3 class="d-none d-md-block" class="text-element">Acérquese a nuestras oficinas ubicadas en la <br>
                Calle 6 # 6 - 02 centro y conozca de los acuerdos <br> de pago que hemos creado para usted.</h3>
              <br>
              <h3 class="d-none d-md-block" class="text-element">Recuerda que si vas a realizar el pago por
                <strong>Wompi</strong> <br> debes digitar el número de cuenta contrato.
              </h3>
              <br>
              <!-- <a class="btn btn-lg btn-primary" href="#" (click)="mostrarAlerta($event)" style="margin-right: 24px">Pague su factura</a> -->
              <div class="contenedor">
                <div class="row">
                  <!-- <div class="col-md-2"> 
                    <a href="https://sifasp.gescomer.com:444/facturaweb/ceibas/index.html" target="_blank">
                      <img src="../../../assets/images/btn-wompii.png" class="img-fluid pse-logo">
                    </a>
                  </div> -->
                  <div class="col-md-2">
                    <a href="https://serviciosdigitalesneiva.sgsas.co:9444/pago_factura" target="_blank">
                      <img src="../../../assets/images/pse-logo.png" class="img-fluid pse-logo">
                    </a>
                    <!-- <a href="#" (click)="mostrarAlerta($event)" target="_blank">
                      <img src="../../../assets/images/pse-logo.png" class="img-fluid pse-logo">
                    </a> -->
                  </div>
                </div>
              </div>
              <br><br><br><br>

            </div>
          </div>
        </div>


        <div class="carousel-item">
          <img src="../../../assets/images/banner-inicio/3.jpg" class="img-fluid">
          <div class="container">
            <div class="carousel-caption text-start">
              <h1 class="carousel-heading">PQRSDF</h1><br>
              <h3 class="text-element">Señor usuario registre sus peticiones, quejas o reclamos <br> en los siguientes
                medios que hemos dispuesto para su <br> atención y comodidad:</h3>
              <h3 class="text-element">* Calle 6 # 6 - 02 Centro</h3>
              <h3 class="text-element">* Línea de Atención: 116</h3>
              <h3 class="text-element">* Celular: 333 033 4116</h3>
              <h3 class="text-element">
                <a class="link-correo" href="mailto:info@lasceibas.gov.co">* info@lasceibas.gov.co</a>
              </h3>
              <br>
              <p>
                <a class="btn btn-lg btn-primary" href="https://wa.me/573247669054" style="margin-right: 24px"
                  target="_blank">Contact Center
                </a>
                <a class="btn btn-lg btn-primary" href="./pqrs" style="margin-right: 24px">Radicado Digital</a>
              </p>
              <br><br><br><br>
            </div>
          </div>
        </div>

        <div class="carousel-item active">
          <img src="../../../assets/images/banner-inicio/2.jpg" class="img-fluid">
          <div class="container">
            <div class="carousel-caption text-start carousel-caption-3">
              <h1 class="carousel-heading display-4 d-none d-md-block" class="carousel-heading-2">Pague de forma rápida
                y segura</h1>
              <br><br>
              <h3 class="text-element">Ahora podrá realizar el pago de su factura de servicios<br> de acueducto y
                alcantarillado con nuestro <br> servicio de pagos en línea.</h3>
              <br>
              <h3 class="d-none d-md-block" class="text-element">Recuerda que si vas a realizar el pago por
                <strong>Wompi</strong> <br> debes digitar el número de cuenta contrato.
              </h3>
              <br>
              <div class="contenedor">
                <div class="row">
                  <!-- <div class="col-md-2"> 
                    <a href="https://sifasp.gescomer.com:444/facturaweb/ceibas/index.html" target="_blank">
                      <img src="../../../assets/images/btn-wompii.png" class="img-fluid pse-logo">
                    </a> 
                  </div>-->
                  <div class="col-md-2">
                    <a href="https://serviciosdigitalesneiva.sgsas.co:9444/pago_factura" target="_blank">
                      <img src="../../../assets/images/pse-logo.png" class="img-fluid pse-logo">
                    </a>
                  </div>
                </div>
              </div>
              <br><br><br><br>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

</section><br><br><br><br><br>


<section class="feature-section centred">
  <div class="auto-container">
    <div class="inner-container wow fadeInLeft animated" data-wow-delay="00ms" data-wow-duration="1500ms">
      <div class="title-text">
        <h2>Otros servicios para nuestros usuarios</h2>
      </div>
      <div class="row clearfix">
        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
          <div class="feature-block-one">
            <div class="inner-box">
              <div class="icon-box"><a href="/not" target="_blank"><img
                    src="../../../assets/images/icons/notificaciones.png" width="90px" height="90px"
                    alt="imagen de notificaciones"></a></div>
              <h4><a href="/not">Notificaciones</a></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
          <div class="feature-block-one">
            <div class="inner-box">
              <div class="icon-box"><a routerLink="/contratacion"><img src="../../../assets/images/icons/contrato.png"
                    width="90px" height="90px" alt="imagen de contrato"></a></div>
              <h4><a routerLink="/contratacion">Contratación</a></h4>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
          <div class="feature-block-one">
            <div class="inner-box">
              <div class="icon-box"><a routerLink="/reinstalacion-servicio"><img
                    src="../../../assets/images/icons/agua-del-grifo.png" width="90px" height="90px"
                    alt="imagen Reinstalación del Servicio"></a></div>
              <h4><a routerLink="/reinstalacion-servicio">Reinstalación del Servicio</a></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
          <div class="feature-block-one">
            <div class="inner-box">
              <div class="icon-box">
                <a routerLink="/ceibas"><img src="../../../assets/images/icons/aceptado.png" width="90px" height="90px"
                    alt="imagen Gestión Documental"></a>
              </div>
              <h4><a routerLink="/ceibas">Gestión Documental</a></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
          <div class="feature-block-one">
            <div class="inner-box">
              <div class="icon-box"><a routerLink="/contac-center" rel="nooperner noferrer"><img
                    src="../../../assets/images/icons/technical-support.png" width="90px " height="90px"
                    alt="imagen Contact Center"></a></div>
              <h4><a routerLink="/contac-center" rel="noopener noferrer">Contact Center</a></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
          <div class="feature-block-one">
            <div class="inner-box">
              <div class="icon-box">
                <a href="https://serviciosdigitalesneiva.sgsas.co:9444/"><img
                    src="../../../assets/images/icons/factura.png" width="90px" height="90px "
                    alt="imagen Gestión Documental"></a>
              </div>
              <h4><a href="https://serviciosdigitalesneiva.sgsas.co:9444/" target="_blank">Factura Web</a>
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
          <div class="feature-block-one">
            <div class="inner-box">
              <div class="icon-box">
                <a href="https://serviciosdigitalesneiva.sgsas.co:9444/"><img
                    src="../../../assets/images/icons/documentos-oficiales.png" width="90px" height="90px "
                    alt="imagen Gestión Documental"></a>
              </div>
              <h4><a href="https://serviciosdigitalesneiva.sgsas.co:9444/" target="_blank">Paz y Salvo</a>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="calrtas-imagen">
        <img src="" width="100%" height="60px "
          alt="imagen">
    </div>
  <br>
</section>

<app-blog></app-blog><br>

<app-menuinteres></app-menuinteres><br><br>

<app-footer></app-footer>