.carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -40px;
  padding: 0 20px;
  text-align: left;
  margin-top: 2rem; /* Agregar margen superior */
  
}
.cajainteres {
  position: static;
  max-width: max-content;
  padding: 0px 15px;
  margin: 0 auto;
}

.carousel-item img {
  display: block;
  max-width: 100%;
  height: auto;
}
.service-section{
  position: relative;
  padding: 0px 0 0 0;
}
.bg-color-1{
  background-color: #00556A;
}

.carousel-caption h1,
.carousel-caption h3 {
  color: #fff;
  margin-bottom: 5px;
}

.carousel-caption a.btn {
  font-size: 1rem;
  padding: 10px 20px;
  text-decoration: none;
}

.carousel-caption img {
  max-width: 100%;
  height: auto;
}

.carousel-caption img.pse-logo {
  max-width: 250px;
  height: 100px;
}

.carousel-heading {
  font-size: 42px;
}

.carousel-heading-2 {
  font-size: 42px;
}

.carousel-caption h3 {
  font-size: 1.4rem;
}


/* Estilos para escritorio */
@media (min-width: 992px) {
  .carousel-caption {
    right: 10%;
    left: 10%;
    padding-bottom: 100px;
  }
}

/* Estilos para dispositivos móviles */
@media (max-width: 991px) {
  .carousel-heading {
    font-size: 20px;
    top: 0%;
    left: 0%;
    bottom: auto;
    transform: translate(-10%, 170%);
    text-align: center;
  }
  .carousel-heading-2 {
    font-size: 13px;
    top: 0%;
    left: -10%;
    bottom: auto;
    transform: translate(-10%, 125%);
    text-align: center;
  }
  .carousel-heading-3 {
    font-size: 14px;
    top: 0%;
    left: -10%;
    bottom: auto;
    transform: translate(-10%, 125%);
    text-align: center;
  }
  .carousel-caption a.btn {
    font-size: 0.5rem;
    padding: 2px 7px;
    transform: translate(-10%, -150%);
  }
  .carousel-caption-2 a.btn {
    font-size: 0.5rem;
    padding: 2px 7px;
    transform: translate(-10%, 0%);
  }
  .carousel-caption img.pse-logo {
    max-width: 10px;
    height: 0px;
  }
  .carousel-caption-2 img.pse-logo {
    max-width: 1px;
    height: 0px;
    transform: translate(0%, -40%);
  }
  .carousel-caption-3 img.pse-logo {
    max-width: 1px;
    height: 0px;
    transform: translate(0%, -35%);
  }
  .carousel-caption img.img-fluid {
    max-width: 55%;
    height: auto;
  }
  .text-element {
    display: none;
  }
  .carousel-caption {
    top: -10%;
    left: 30%;
    bottom: auto;
    transform: translate(-30%, -30%);
    text-align: center;
  }
}

/**/
.mockup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 9999;
  max-width: 100%; /* Asegura que el contenedor no exceda el ancho de la pantalla en dispositivos móviles */
}

.mockup-image {
  max-width: 100%; /* Hace que la imagen se ajuste al ancho del contenedor */
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.close-button {
  background-color: #005267;
  border: none;
  padding: 8px 16px;
  color: #fff;
  cursor: pointer;
}

/* Media query para dispositivos móviles con un ancho máximo de 600px */
@media (max-width: 600px) {
  .mockup-container {
    padding: 20px; /* Aumenta el padding en dispositivos móviles para un mejor espacio */
  }
  
  .mockup-image {
    width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor en dispositivos móviles */
  }
  
  .close-button {
    padding: 10px 16px; /* Reduce el tamaño del padding del botón en dispositivos móviles */
  }
}

.link-correo{
  text-decoration: none;
  color: #fff;
}

a {
  text-decoration: none;
}
.calrtas-imagen{
  background: #0078B7;
  width: 100%;
  height: 400px;
  margin: 40px 0px 40px 0px;
}
