<app-menu></app-menu>
<section class="page-title centred"
  style="background-image:url(assets/images/background/banner\ sectorizacion\ y\ macromedicion.jpg)">
</section>
<section>
  <div class="container mt-4" style="font-family: Arial, sans-serif;">
    <nav arial-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
                <a routerLink="/inicio" style=" text-decoration: none;">
                Inicio
                </a>
            </li>
            <li class="" style="font-size: 22px; font-weight: bold;">
              <a routerLink="/ceibas" style=" text-decoration: none;">
                Las Ceibas
              </a>
            </li>
            <li class="" style="font-size: 22px; color: #6c757d; font-weight: bold;">
              Sectorización y Macromedición
            </li>
        </ol>
    </nav>
  </div>
</section>
<section>
<section class="about-section">
  <div class="container pt-4">
    <div class="row">
      <div class="card-body">
        <div class="table-wrapper">
          <table class="fl-table">
            <thead>
              <tr>
                <th>Tipo de documento</th>
                <th>Archivo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="../../../assets/Archivos/documentos-ceibas-pdf/3_.a.1.catastrodemacromedidores.pdf"
                    target="_blank" rel="nooperner no ferrer">PDF</a></td>
                <td> 3_.a.1.catastrodemacromedidores</td>
              </tr>
              <tr>
                <td><a
                    href="../../../assets/Archivos/documentos-ceibas-pdf/4._a.3.localizacion_puntos_de_medicion-p2.pdf"
                    target="_blank" rel="nooperner no ferrer">PDF</a></td>
                <td>4._a.3.localizacion_puntos_de_medicion-p2</td>
              </tr>
            <tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section><br><br>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>
