.language-container {
    display: flex;
    align-items: center;
  }
  
  .language-container button {
    background-color: transparent; 
    border: none; 
  }
  
  .mostrar-lenguaje {
    background-color: rgb(205, 205, 205);
    z-index: 1000;
  }