<app-menu></app-menu>
<section class="page-title centred"
  style="background-image:url(assets/images/background/banner\ licitaciones\ publicas.jpg)">
</section>
<div class="container mt-4" style="font-family: Arial, sans-serif;">
  <nav arial-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
              <a routerLink="/inicio" style=" text-decoration: none;">
              Inicio
              </a>
          </li>
          <li class="" style="font-size: 22px; font-weight: bold;">
            <a routerLink="/contratacion" style=" text-decoration: none;">
              Contratación
            </a>
          </li>
          <li class="" style="font-size: 22px; color: #6c757d; font-weight: bold;">
            Licitaciones Públicas
          </li>
      </ol>
  </nav>
</div>
<section class="about-section">
  <div class="container pt-4">
    <div class="row">
      <div class="card-body">
        <div class="table-wrapper">
          <table class="fl-table">
            <thead>
              <tr>
                <th>No. Proceso</th>
                <th>Objeto</th>
                <th>Fecha de Cierre</th>
                <th>Valor Proceso</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>N°001 DE 2022</td>
                <td>CONTRATAR LAS OBRAS COMPLEMENTARIAS Y ACTIVIDADES DE EMBELLECIMIENTO DEL ESPACIO <br>PUBLICO EN
                  EL
                  MUNICIPIO DE NEIVA</td>
                <td>22 DE FEBRERO DE 2022 - 5:00 P.M</td>
                <td>$7.326.440.348</td>
              </tr>
            <tbody>
          </table>
          <div class="container pt-4">
            <div class="row">
              <div class="card-body">
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Ver Proceso
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <div class="row">
                          <div class="col-sm-6 col-md-6">
                            <div class="blank-spacer padding-xsmall"></div>
                            <p><strong class="fa fa-plus-circle color-success" aria-hidden="true"></strong><b>Tipo
                                de
                                Contrato:</b> CONTRATO DE OBRA</p>
                            <p><strong class="fa fa-plus-circle color-success" aria-hidden="true"></strong><b>No.
                                Proceso:</b>
                              INVITACION PUBLICA DE OFERTA N°001 DE 2022 </p>
                            <p><strong class="fa fa-plus-circle color-success" aria-hidden="true"></strong><b>Objeto:</b>
                              CONTRATAR LAS OBRAS COMPLEMENTARIAS Y ACTIVIDADES DE EMBELLECIMIENTO DEL ESPACIO
                              PUBLICO
                              EN EL
                              MUNICIPIO DE NEIVA</p>
                            <p><strong class="fa fa-plus-circle color-success" aria-hidden="true"></strong><b>Valor
                                Proceso:</b> siete mil trescientos veintiséis millones cuatrocientos cuarenta
                              mil
                              trescientos cuarenta y ocho pesos m/cte.</p>
                            <p><strong class="fa fa-plus-circle color-success"
                                aria-hidden="true"></strong><b>Dependencia:</b>
                              OFICINA ASESORA DE PLANEACIÓN</p>
                            <p><strong class="fa fa-plus-circle color-success" aria-hidden="true"></strong><b>Fecha
                                Apertura:</b> 11 DE FEBRERO DE 2022 </p>
                            <p><strong class="fa fa-plus-circle color-success" aria-hidden="true"></strong><b>Fecha de
                                Cierre:</b>22 DE FEBRERO DE 2022 - 5:00 P.M</p>
                            <p><strong class="fa fa-plus-circle color-success" aria-hidden="true"></strong><b>Estado
                                Licitación:</b> Cerrado</p>
                            <p><strong class="fa fa-plus-circle color-success" aria-hidden="true"></strong><b><a href
                                  target="_blank" rel="nooperner noferrer">Documentos:</a></b></p>
                            <div class="blank-spacer padding-xsmall"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 <div class="container pt-4">
    <div class="row">
      <div class="card-body">
        <h2>LICITACIONES PÚBLICAS</h2>
        <div class="table-wrapper">
          <table class="fl-table">
            <thead>
              <tr>
                <th>No. Proceso</th>
                <th>Objeto</th>
                <th>Fecha de Cierre</th>
                <th>Valor Proceso</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>N°002 DE 2022</td>
                <td>CONSTRUCCIÓN Y OPTIMIZACIÓN DE LA LÍNEA EXPRESA DE ACUEDUCTO DE LA<br> ESTACIÓN DEL TREN DEL MUNICIPIO
                  DE NEIVA, DEPARTAMENTO DEL HUILA</td>
                <td>10 DE NOVIEMBRE DE 2022</td>
                <td>$10.532.635.973</td>
              </tr>
            <tbody>
          </table>
          <div class="container pt-4">
            <div class="row">
              <div class="card-body">
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        Ver Proceso
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <div class="accordion-body" style="max-height: 858px;">
                          <div id="slide-panel" style="display:block">
                            <div class="container">
                              <div class="row">
                                <div class="col-sm-6 col-md-6">
                                  <div class="blank-spacer padding-xsmall"></div>
                                  <p><strong class="fa fa-plus-circle color-success" aria-hidden="true"></strong><b>Tipo
                                      de Contrato:</b> CONTRATO DE OBRA</p>
                                  <p><strong class="fa fa-plus-circle color-success" aria-hidden="true"></strong><b>No.
                                      Proceso:</b> INVITACION PUBLICA DE OFERTA N°002 DE 2022</p>
                                  <p><strong class="fa fa-plus-circle color-success"
                                      aria-hidden="true"></strong><b>Objeto:</b>CONSTRUCCIÓN Y OPTIMIZACIÓN DE LA LÍNEA
                                    EXPRESA DE ACUEDUCTO DE LA ESTACIÓN DEL TREN DEL MUNICIPIO DE NEIVA, DEPARTAMENTO
                                    DEL HUILA</p>
                                  <p><strong class="fa fa-plus-circle color-success"
                                      aria-hidden="true"></strong><b>Valor Proceso:</b> sDIEZ MIL QUINIENTOS TREINTA Y
                                    DOS MILLONES SEISCIENTOS TREINTA Y CINCO MIL NOVECIENTOS SETENTA Y TRES PESOS ($
                                    10.532.635.973,00) MC/TE. INCLUIDO COSTOS Y GASTOS DIRECTOS E INDIRECTOS A QUE HAYA
                                    LUGAR</p>
                                  <p><strong class="fa fa-plus-circle color-success"
                                      aria-hidden="true"></strong><b>Dependencia:</b> OFICINA ASESORA DE PLANEACIÓN</p>
                                  <p><strong class="fa fa-plus-circle color-success"
                                      aria-hidden="true"></strong><b>Fecha Apertura:</b> 02 DE NOVIEMBRE DE 2022</p>
                                  <p><strong class="fa fa-plus-circle color-success"
                                      aria-hidden="true"></strong><b>Fecha de Cierre:</b>10 DE NOVIEMBRE DE 2022 - 5:00
                                    P.M</p>
                                  <p><strong class="fa fa-plus-circle color-success"
                                      aria-hidden="true"></strong><b>Estado Licitación:</b> Cerrado</p>
                                  <p><strong class="fa fa-plus-circle color-success"
                                      aria-hidden="true"></strong><b><a>Documentos:</a></b><br><a
                                      href="../../../assets/Archivos/documentacion-licitacion/PRESUPUESTO.pdf" target="_blank"
                                      rel="noopener noferrer">PRESUPUESTO</a><br><a
                                      href="" target="_blank"
                                      rel="noopener noferrer">INVITACION PUBLICA 002</a><br><a
                                      href="../../../assets/Archivos/documentacion-licitacion/ESTUDIOS PREVIOS 1.pdf" target="_blank"
                                      rel="noopener noferrer">ESTUDIOS PREVIOS 1</a><br><a
                                      href="../../../assets/Archivos/documentos-licitaciones/CDP (1).pdf" target="_blank"
                                      rel="noopener noferrer">CDP</a><a href="../../../assets/Archivos/documentos-licitaciones/PRESUPUESTO_1.pdf"
                                      target="_blank" rel="noopener noferrer">PRESUPUESTO</a><br><a
                                      href="../../../assets/Archivos/documentos-licitaciones/RESPUESTA_A_OBSERVACIONES.pdf" target="_blank"
                                      rel="noopener noferrer">RESPUESTA A OBSERVACIONES</a><br><a
                                      href="../../../assets/Archivos/documentos-licitaciones/ESTUDIOS_PREVIOS_AJUSTADOS.pdf" target="_blank"
                                      rel="noopener noferrer">ESTUDIOS PREVIOS AJUSTADOS</a><a
                                      href="../../../assets/Archivos/documentos-licitaciones/ADENDA_1_INVITACION_PUBLICA_002.pdf" target="_blank"
                                      rel="noopener noferrer">ADENDA 1 INVITACIÓN PÚBLICA 002</a><br><a
                                      href="../../../assets/Archivos/documentos-licitaciones/RESPUESTA_SOLICITUD.pdf" target="_blank"
                                      rel="noopener noferrer">RESPUESTA A SOLICITUD DE ACLARACIÓN</a><br><a
                                      href="../../../assets/Archivos/documentos-licitaciones/RECEPCION_DE_PROPUESTAS.pdf" target="_blank"
                                      rel="noopener noferrer">RECEPCIÓN DE PROPUESTAS</a><a
                                      href="../../../assets/Archivos/documentos-licitaciones/HORA_COLOMBIANA.pdf" target="_blank"
                                      rel="noopener noferrer">HORA COLOMBIANA</a><br><a
                                      href="../../../assets/Archivos/documentos-licitaciones/AUDIENCIA_CIERRE.pdf" target="_blank"
                                      rel="noopener noferrer">AUDIENCIA DE CIERRES</a><br><a
                                      href="../../../assets/Archivos/documentos-licitaciones/ADENDA_02.pdf" target="_blank"
                                      rel="noopener noferrer">ADENDA 2 INVITACIÓN PÚBLICA 002</a><a
                                      href="../../../assets/Archivos/documentos-licitaciones/EVALUACIÓN_FINANCIERA_Y_ORGANIZACIONAL.pdf"
                                      target="_blank" rel="noopener noferrer">EVALUACIÓN FINANCIERA Y
                                      ORGANIZACIONAL</a><br><a
                                      href="../../../assets/Archivos/documentos-licitaciones/EVALUACIÓN_PROPUESTA_ECONÓMICA.pdf" target="_blank"
                                      rel="noopener noferrer">EVALUACIÓN PROPUESTA ECONÓMICA</a><br><a
                                      href="../../../assets/Archivos/documentos-licitaciones/EVALUACIÓN_CAPACIDAD_RESIDUAL_DE_OBRA.pdf"
                                      target="_blank" rel="noopener noferrer">EVALUACIÓN CAPACIDAD RESIDUAL DE
                                      OBRA</a><a href="../../../assets/Archivos/documentos-licitaciones/EVALUACION_INFORME_JURIDICO.pdf"
                                      target="_blank" rel="noopener noferrer">EVALUACIÓN INFORME JURÍDICO</a><br><a
                                      href="../../../assets/Archivos/documentos-licitaciones/EVALUACION_INFORME_TECNICO.pdf" target="_blank"
                                      rel="noopener noferrer">EVALUACIÓN INFORME TÉCNICOS</a><br><a
                                      href="../../../assets/Archivos/documentos-licitaciones/INFORME_FINAL_JURIDICO.pdf" target="_blank"
                                      rel="noopener noferrer">INFORME FINAL JURÍDICO</a><a
                                      href="../../../assets/Archivos/documentos-licitaciones/INFORME_FINAL_ECONOMICO_Y_FINANCIERO.pdf"
                                      target="_blank" rel="noopener noferrer">INFORME FINAL ECONOMICO Y
                                      FINANCIERO</a><br><a href="../../../assets/Archivos/documentos-licitaciones/INFORME_FINAL_TECNICO.pdf"
                                      target="_blank" rel="noopener noferrer">INFORME FINAL TÉCNICO</a><br><a
                                      href="../../../assets/Archivos/documentos-licitaciones/CONSOLIDADO_INFORME_DE_EVALUACION_FINAL.pdf"
                                      target="_blank" rel="noopener noferrer">CONSOLIDADO INFORME DE EVALUACION
                                      FINAL</a><a href="../../../assets/Archivos/documentos-licitaciones/COMUNICACION_Y_ADJUDICACION.pdf"
                                      target="_blank" rel="noopener noferrer">COMUNICACIÓN Y ADJUDICACIÓN</a><br></p>
                                  <div class="blank-spacer padding-xsmall"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section  class="about-section">
  <div class="container pt-4">
    <div class="row">
      <div class="card-body">
        <div class="table-wrapper">
          <table class="fl-table">
            <thead>
              <tr>
                <th>Clase Documento</th>
                <th>Objeto</th>
                <th>Archivo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Estudios Previos</td>
                <td>Estudios Previos</td>
                <td><a href="../../../assets/Archivos/licitaciones-publicas/ESTUDIOS PREVIOS.pdf" target="_blank" rel="nooperner no ferrer">pdf</a>
                </td>
              </tr>
              <tr>
                <td>Invitacion a presentar a propuestas</td>
                <td>Invitación publica de oferta No 001 de 2022</td>
                <td><a href="../../../assets/Archivos/licitaciones-publicas/INVITACION PUBLICA 001 DE 2022.pdf" target="_blank"
                    rel="nooperner no ferrer">pdf</a></td>
              </tr>
              <tr>
                <td>Documento adicional</td>
                <td>SOLICITUD DE CDP</td>
                <td><a href="../../../assets/Archivos/licitaciones-publicas/SOLICITUD CDP.pdf" target="_blank" rel="nooperner no ferrer">pdf</a>
                </td>
              </tr>
              <tr>
                <td>Documento adiciona</td>
                <td>CDP</td>
                <td><a href="../../../assets/Archivos/licitaciones-publicas/CDP.pdf" target="_blank" rel="nooperner no ferrer">pdf</a>
                </td>
              </tr>
              <tr>
                <td>Documento adicional</td>
                <td>1. RESPUESTA 1 OBSERVACION TECNICA</td>
                <td><a href="../../../assets/Archivos/licitaciones-publicas/1. RESPUESTA 1 OBSERVACION TECNICA.pdf" target="_blank"
                    rel="nooperner no ferrer">pdf</a></td>
              </tr>
              <tr>
                <td>Documento adicional</td>
                <td>2. RESPUESTA 2 Y 3 OBSERVACION JURIDICA</td>
                <td><a href="../../../assets/Archivos/licitaciones-publicas/2.  RESPUESTA 2 Y 3 OBSERVACION JURIDICA.pdf" target="_blank"
                    rel="nooperner no ferrer">pdf</a></td>
              </tr>
              <tr>
                <td>Documento adicional</td>
                <td>ADENDA 01 - INVIT PUBLICA 001 DE 2022.pdf/td>
                <td><a href="../../../assets/Archivos/licitaciones-publicas/ADENDA 01 - INVIT PUBLICA 001 DE 2022.pdf" target="_blank"
                    rel="nooperner no ferrer">pdf</a></td>
              </tr>
              <tr>
                <td>Documento adicional</td>
                <td>Recepción de propuestas</td>
                <td><a href="../../../assets/Archivos/licitaciones-publicas/20220223151242246.pdf " target="_blank"
                    rel="nooperner no ferrer">pdf</a></td>
              </tr>
              <tr>
                <td>Documento adicional</td>
                <td>Desarrollo del cierre</td>
                <td><a href="../../../assets/Archivos/licitaciones-publicas/20220223151234854.pdf" target="_blank"
                    rel="nooperner no ferrer">pdf</a></td>
              </tr>
              <tr>
                <td>Documento adicional</td>
                <td>Hora de legal del cierre</td>
                <td><a href="../../../assets/Archivos/licitaciones-publicas/20220223151252976.pdf" target="_blank"
                    rel="nooperner no ferrer">pdf</a></td>
              </tr>
              <tr>
                <td>Documento adicional</td>
                <td>ADENDA N 2</td>
                <td><a href="../../../assets/Archivos/licitaciones-publicas/ADENDA N 2.pdf" target="_blank "rel="nooperner no ferrer">pdf</a>
                </td>
              </tr>
              <tr>
                <td>Documento adicional</td>
                <td>INFORME DE EVALUACIÓN DEL COMPONENTE TECNICO</td>
                <td><a href="../../../assets/Archivos/licitaciones-publicas/INFORME DE EVALUACION DEL COMPONENTE TECNICO.pdf" target="_blank"
                    rel="nooperner no ferrer">pdf</a></td>
              </tr>
              <tr>
                <td>Documento adicional</td>
                <td>INFORME DE EVALUACIÓN COMPONENTE JURÍDICO</td>
                <td><a href="../../../assets/Archivos/licitaciones-publicas/INFORME DE EVALUACION COMPONENTE JURIDICO.pdf" target="_blank"
                    rel="nooperner no ferrer">pdf</a></td>
              </tr>
              <tr>
                <td>Documento adicional</td>
                <td>
                  INFORME DE CAPACIDAD RESIDUAL</td>
                <td><a href="../../../assets/Archivos/licitaciones-publicas/INFORME DE CAPACIDAD RESIDUAL.pdf" target="_blank"
                    rel="nooperner no ferrer">pdf</a></td>
              </tr>
              <tr>
                <td>Documento adicional</td>
                <td>
                  INFORME DE EVALUACIÓN DEL FACTOR DE SELECCIÓN DE PONDERACION INVITACION PUBLICA 001 DE
                  2022</td>
                <td><a
                    href="../../../assets/Archivos/licitaciones-publicas/INFORME DE EVALUACION DEL FACTOR DE SELECCION DE PONDERACION INVITACION PUBLICA 001 DE 2022.pdf"
                    target="_blank" rel="nooperner no ferrer">pdf</a></td>
              </tr>
              <tr>
                <td>Documento adicional</td>
                <td>INFORME DE EVALUACION DE LA CAPACIDAD FINANCIERA Y ORGANIZACIONAL</td>
                <td><a
                    href="../../../assets/Archivos/licitaciones-publicas/INFORME DE EVALUACION DE LA CAPACIDAD FINANCIERA Y ORGANIZACIONAL.pdf"
                    target="_blank" rel="nooperner no ferrer">pdf</a></td>
              </tr>
              <tr>
                <td>Documento adicional</td>
                <td>INFORME DEFINITIVO DE EVALUACION CONSOLIDADO</td>
                <td><a href="../../../assets/Archivos/licitaciones-publicas/INFORME DEFINITIVO DE EVALUACION CONSOLIDADO.pdf" target="_blank"
                    rel="nooperner no ferrer">pdf</a></td>
              </tr>
              <tr>
                <td>Documento adicional</td>
                <td>COMUNICACION Y ADJUDICACION DE LA OFERTA SELECCIONADA EN EL PROCESO INVITACION PUBLICA
                  DE OFERTA
                  N° 001 DE 2022</td>
                <td><a
                    href="../../../assets/Archivos/licitaciones-publicas/COMUNICACION Y ADJUDICACION DE LA OFERTA SELECCIONADA EN EL PROCESO INVITACION PUBLICA DE OFERTA N 001 DE 2022.pdf"
                    target="_blank" rel="nooperner no ferrer">pdf</a></td>
              </tr>
            <tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</section><br><br>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>
