<app-menu></app-menu>
<section class="page-title centred" style="background-image:url(assets/images/background/banner\ plan\ de\ accion.jpg)">
</section>
<section>
  <div class="container mt-4" style="font-family: Arial, sans-serif;">
    <nav arial-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
                <a routerLink="/inicio" style=" text-decoration: none;">
                Inicio
                </a>
            </li>
            <li class="" style="font-size: 22px; font-weight: bold;">
              <a routerLink="/transparenci" style=" text-decoration: none;">
                Transparencia
              </a>
            </li>
            <li class="" style="font-size: 22px; color: #6c757d; font-weight: bold;">
                Plan de Acción
            </li>
        </ol>
    </nav>
  </div>
</section>
<section class="about-section">
  <div class="container pt-4">
    <div class="row">
      <div class="card-body">
        <div class="table-wrapper">
          <table class="fl-table">
            <thead>
              <tr>
                <th>Tipo de documento</th>
                <th>Archivo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a
                    href="../../../assets/Archivos/planes/plan-accion/Plan-accion-2023.pdf"
                    target="_blank">PDF</a></td>
                <td><div class="title-wrapper">Plan de acción 2023</div></td>
              </tr>
              <tr>
                <td><a
                    href="../../../assets/Archivos/documentos-tranparencia/4.3/PLAN DE ACCION 2022.pdf"
                    target="_blank">PDF</a></td>
                <td><div class="title-wrapper">Plan de acción 2022</div></td>
              </tr>
              <tr>
                <td><a href="../../../assets/Archivos/documentos-tranparencia/4.3/PLAN DE ACCION 2021..pdf"
                    target="_blank">PDF</a></td>
                <td><div class="title-wrapper">Plan de acción 2021</div></td>
              </tr>
              <tr>
                <td><a
                    href="../../../assets/Archivos/documentos-tranparencia/4.3/PLAN DE ACCION Y SEGUIMIENTO  2020.pdf"
                    target="_blank">PDF</a></td>
                <td><div class="title-wrapper">Plan de acción 2020</div></td>
              </tr>
            <tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section><br>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>
