<app-menu></app-menu>
<section class="page-title centred"
  style="background-image:url(assets/images/background/banner\ informacion\ historica\ de\ ejecución\ presupuestal.jpg)">
</section>
<section class="about-section">
  <div class="container mt-4" style="font-family: Arial, sans-serif;">
    <nav arial-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #ffffff; border-radius: 0; padding: 8px 16px; border-left: 5px solid #17a2b8;">
            <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
                <a routerLink="/inicio" style="color: #17a2b8; text-decoration: none;">
                Inicio
                </a>
            </li>
            <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
              <a routerLink="/ceibas" style="color: #17a2b8; text-decoration: none;">
                Las Ceibas
              </a>
            </li>
            <li class="breadcrumb-item" style="font-size: 22px; color: #6c757d; font-weight: bold;">
              Información histórica de ejecución presupuestal
            </li>
        </ol>
    </nav>
  </div>
  <div class="auto-container">
    <div class="row">
      <div class="card-body">
        <div class="table-wrapper">
          <table class="fl-table">
            <thead>
              <tr>
                <th>Tamaño</th>
                <th>Documento</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1,529 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_presupuestal_de_gastos_e_inversiones_vigencia_2019.pdf"
                    target="_blank" rel="noopener noferrer">Ejecución presupuestal de gastos e inversiones vigencia
                    2019</a>
                </td>
              </tr>
              <tr>
                <td>291 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecicion_de_ingresos_regalias_a_sept_2019_iii_trimestre.pdf"
                    target="_blank" rel="noopener noferrer">Ejecición de ingresos regalias a sept 2019 iii trimestre</a>
                </td>
              </tr>
              <tr>
                <td>1,070 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecicion_de_ingresos_sept_2019_iii_trimestre.pdf" target="_blank"
                    rel="noopener noferrer">Ejecición de ingresos sept 2019 iii trimestre</a></td>
              </tr>
              <tr>
                <td>2,245 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_de_gastos_sept_2019_iii_trimestre.pdf" target="_blank"
                    rel="noopener noferrer">Ejecución de gastos sept 2019 iii trimestre</a></td>
              </tr>
              <tr>
                <td>1,830 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecicion_de_gastos_regalias_sept_2019_iii_trimestre.pdf "
                    target="_blank" rel="noopener noferrer">Ejecición de gastos regalias sept 2019 iii trimestre</a>
                </td>
              </tr>
              <tr>
                <td>29 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecicion_de_gastos_regalias_sept_2019_iii_trimestre.pdf"
                    target="_blank" rel="noopener noferrer">Ejecición de gastos ii trimestre 2019</a></td>
              </tr>
              <tr>
                <td>21 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecicion_de_ingresos_ii_trimestre_2019.pdf" target="_blank"
                    rel="noopener noferrer">Ejecición de ingresos ii trimestre 2019</a></td>
              </tr>
              <tr>
                <td>20 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_de_gastos_regalias_ii_trimestre_de_2019.pdf"
                    target="_blank" rel="noopener noferrer">Ejecución de gastos regalias ii trimestre de 2019</a></td>
              </tr>
              <tr>
                <td>3,427 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_de_ingresos_regalias_ii_trimestre_de_2019.pdf"
                    target="_blank" rel="noopener noferrer">Ejecución de ingresos regalias ii trimestre de 2019</a></td>
              </tr>
              <tr>
                <td>1,707 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecicion_de_ingresos_regalias_a_marzo_2019.pdf" target="_blank"
                    rel="noopener noferrer">Ejecición de ingresos regalias a marzo 2019</a></td>
              </tr>
              <tr>
                <td>2,308 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecicion_de_ingresos_regalias_a_marzo_2019.pdf" target="_blank"
                    rel="noopener noferrer">Ejecición de ingresos regalias a marzo 2019</a></td>
              </tr>
              <tr>
                <td>2,002 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_presupuestal_2019.pdf" target="_blank"
                    rel="noopener noferrrer">Ejecución presupuestal 2019</a></td>
              </tr>
              <tr>
                <td>2,165 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecicion_de_gastos_regalias_marzo_2019.pdf" target="_blank"
                    rel="noopener noferrer">Ejecición de gastos regalias marzo 2019</a></td>
              </tr>
              <tr>
                <td>2,308 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_ingresos.pdf" target="_blank"
                    rel="nooperner noferrer">Ejecución
                    ingresos</a></td>
              </tr>
              <tr>
                <td>2,144 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_gastos.pdf" target="_blank"
                    rel="noopener noferrer">Ejecución
                    gastos</a></td>
              </tr>
              <tr>
                <td>3,488 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_de_ingresos_a_dic.2018.pdf " target="_blank"
                    rel="noopener noferrer">Ejecución de ingresos a dic.2018</a></td>
              </tr>
              <tr>
                <td>1,928 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_de_gastos_e_inversiones_a_dic.2018.pdf" target="_blank"
                    rel="noopener noferrer">Ejecución de gastos e inversiones a dic 2018</a></td>
              </tr>
              <tr>
                <td>5,310 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_gastos_e_inversiones_a_septiembre-2018.pdf" target="_blank"
                    rel="noopener noferrer">Ejecución gastos e inversiones a septiembre 2018</a></td>
              </tr>
              <tr>
                <td>2,516 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_ingresos_a_septiembre-2018_0.pdf" target="_blank"
                    rel="noopener noferrer">Ejecución ingresos a septiembre 2018_0</a></td>
              </tr>
              <tr>
                <td>3,487 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_ingresos_a_junio_-_2018.pdf " target="_blank"
                    rel="noopener noferrer">Ejecución ingresos a junio-2018</a></td>
              </tr>
              <tr>
                <td>1,529 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_ingresos_a_junio_-_2018_-_regalias.pdf" target="_blank"
                    rel="noopener noferrer">Ejecución ingresos a junio-2018-regalias</a></td>
              </tr>
              <tr>
                <td>291 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_gastos_e_inversiones_a_junio_-_2018.pdf" target="_blank"
                    rel="noopener noferrer">Ejecución gastos e inversiones a junio-2018</a></td>
              </tr>
              <tr>
                <td>1,070 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_ingresos_a_marzo_2018.pdf" target="_blank"
                    rel="noopener noferrer">Ejecución ingresos a marzo 2018</a></td>
              </tr>
              <tr>
                <td>2,245 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_gastos_e_inversiones_a_junio_-_2018_-_regalias.pdf"
                    target="_blank" rel="noopener noferrer">Ejecucion gastos e inversiones a junio-2018-regalias</a>
                </td>
              </tr>
              <tr>
                <td>1,830 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_gastos_e_inversiones_a_marzo_2018.pdf" target="_blank"
                    rel="noopener noferrer">Ejecuciongastos e inversiones a marzo 2018</a></td>
              </tr>
              <tr>
                <td>29 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_ingresos_regalias_a_dic-2017.pdf" target="_blank"
                    rel="noopener noferrer">Ejecución ingresos regalias a dic 2017</a></td>
              </tr>
              <tr>
                <td>21 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_ingresos_a_dic-2017.pdf" target="_blank"
                    rel="noopener noferrer">Ejecución ingresos a dic 2017</a></td>
              </tr>
              <tr>
                <td>20 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_de_gastos_e_inversiones_regalias_a_dic-2017.pdf"
                    target="_blank" rel="noopener noferrer">Ejecución de gastos e inversiones regalias a dic 2017</a>
                </td>
              </tr>
              <tr>
                <td>3,427 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_de_gastos_e_inversiones_a_dic-2017.pdf" target="_blank"
                    rel="noopener noferrer">Ejecución de gastos e inversiones a dic 2017</a></td>
              </tr>
              <tr>
                <td>1,707 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_ingresos_a_sept-2017.pdf" target="_blank"
                    rel="noopener noferrer">Ejecución ingresos a sept 2017</a></td>
              </tr>
              <tr>
                <td>2,308 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_de_gastos_e_inversiones_a_sept-2017.pdf" target="_blank"
                    rel="noopener noferrer">Ejecución de gastos e inversiones a sept 2017</a></td>
              </tr>
              <tr>
                <td>2,002 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_ingresos_a_junio-2017.pdf" target="_blank"
                    rel="noopener noferrrer">Ejecución ingresos a junio 2017</a></td>
              </tr>
              <tr>
                <td>2,165 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_de_gastos_e_inversiones_a_junio-2017.pdf" target="_blank"
                    rel="noopener noferrer">Ejecución de gastos e inversiones a junio 2017</a></td>
              </tr>
              <tr>
                <td>2,308 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_ingresos_a_marzo-2017.pdf" target="_blank"
                    rel="nooperner noferrer">Ejecución ingresos a marzo 2017</a></td>
              </tr>
              <tr>
                <td>2,144 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_gastos_a_marzo-2017.pdf" target="_blank"
                    rel="noopener noferrer">Ejecución gastos a marzo 2017</a></td>
              </tr>
              <tr>
                <td>3,488 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_ingresos_a_junio.pdf" target="_blank"
                    rel="noopener noferrer">Ejecución ingresos a junio.</a></td>
              </tr>
              <tr>
                <td>1,928 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_de_gastos_e_inversiones_a_junio_2017.pdf" target="_blank"
                    rel="noopener noferrer">Ejecución de gastos e inversiones a junio 2017</a></td>
              </tr>
              <tr>
                <td>5,310 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_gastos_e_inversiones_a_septiembre-2018.pdf" target="_blank"
                    rel="noopener noferrer">Ejecución gastos e inversiones a septiembre</a></td>
              </tr>
              <tr>
                <td>2,516 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_de_ingresos_agosto_2016.pdf" target="_blank"
                    rel="noopener noferrer">Ejecución de ingresos agosto 2016</a></td>
              </tr>
              <tr>
                <td>3,487 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_de_ingresos_abril_2016.pdf" target="_blank"
                    rel="noopener noferrer">Ejecución de ingresos abril 2016</a></td>
              </tr>
              <tr>
                <td>1,529 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_de_gastos_e_inversiones_noviembre_2016.pdf" target="_blank"
                    rel="noopener noferrer">Ejecución de gastos e inversiones noviembre 2016</a></td>
              </tr>
              <tr>
                <td>291 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_de_gastos_e_inversiones_mayo_2016.pdf " target="_blank"
                    rel="noopener noferrer">Ejecución de gastos e inversiones mayo 2016</a></td>
              </tr>
              <tr>
                <td>1,070 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_de_gastos_e_inversiones_abril_2016.pdf" target="_blank"
                    rel="noopener noferrer">Ejecución de gastos e inversiones abril 2016</a></td>
              </tr>
              <tr>
                <td>2,245 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_de_ingresos_enero_-_diciembre_2016.pdf" target="_blank"
                    rel="noopener noferrer">Ejecución de ingresos enero - diciembre 2016</a></td>
              </tr>
              <tr>
                <td>1,830 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_de_presupuesto_de_gastos_e_inversiones_diciembre_2016.pdf"
                    target="_blank" rel="noopener noferrer">Ejecución de presupuesto de gastos e inversiones diciembre
                    2016</a>
                </td>
              </tr>
              <tr>
                <td>29 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/epn_presupuesto_2014.pdff" target="_blank"
                    rel="noopener noferrer">EPN
                    presupuesto 2014</a></td>
              </tr>
              <tr>
                <td>21 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion-presupuestal-jun30-2010.pdf" target="_blank"
                    rel="noopener noferrer">Ejecución presupuestal jun30 2010</a></td>
              </tr>
              <tr>
                <td>20 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/presupuesto_pt2-2010.pdf" target="_blank"
                    rel="noopener noferrer">Presupuesto
                    pt2 2010</a></td>
              </tr>
              <tr>
                <td>3,427 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/presupuesto_pt1-2010.pdf" target="_blank"
                    rel="noopener noferrer">Presupuesto
                    pt1 2010</a></td>
              </tr>
              <tr>
                <td>1,707 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_diciembre_2009.pdf" target="_blank"
                    rel="noopener noferrer">Ejecución
                    diciembre 2009</a></td>
              </tr>
              <tr>
                <td>2,308 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_diciembre_2008.pdf" target="_blank"
                    rel="noopener noferrer">Ejecución
                    diciembre 2008</a></td>
              </tr>
              <tr>
                <td>2,002 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/resolucion0761.pdf" target="_blank"
                    rel="noopener noferrrer">Resolución
                    761</a>
                </td>
              </tr>
              <tr>
                <td>2,165 KB</td>
                <td><a href="../../../assets/Archivos/historico-presupuesto/ejecucion_ingresos_12_2014.pdf" target="_blank"
                    rel="noopener noferrer">Ejecución ingresos 12 2014</a></td>
              </tr>
            <tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section><br><br>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>
