<div id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="mipg-autodiagnosticos">
            <button class="accordion-button custom-accordion-button" type="button" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseOne" id="mipg-autodiagnosticos">
                <h4 class="custom-accordion-title"><img
                        src="../../../../assets/images/icons/iconos-sistema-integrado/reporte.png" alt width="50px"
                        height="50px" hspace="70">Autodiagnósticos</h4>
            </button>
        </h2>
        <div id="mipg-autodiagnosticos" [collapse]="isCollapsed" class="accordion-collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body custom-accordion-body" id="mipg-autodiagnosticos">
                <li>
                    <a href="../../../../assets/Archivos/mision-vision/mision.pdf" target="_blank"
                        rel="noopener noferrer ">
                        <ul class="list clearfix">
                            <li>
                                <img src="assets/images/icons/pin.png" alt="icono de misión " rel="noopener noferrer "
                                    width="20px" height="20px" /><a
                                    href="../../../../assets/Archivos/mipg/autodiagnosticos/Autodiagnostico Transparencia y Acceso a la Información 2022.xlsx"
                                    target="_blank">Autodiagnostico Transparencia y Acceso a la Información 2022</a>
                            </li>
                            <li>
                                <img src="assets/images/icons/pin.png" alt="icono de misión " rel="noopener noferrer "
                                    width="20px" height="20px" /><a
                                    href="../../../../assets/Archivos/mipg/autodiagnosticos/Autodiagnostico Tramites 2022.xlsx"
                                    target="_blank">Autodiagnostico Tramites 2022</a>
                            </li>
                            <li>
                                <img src="assets/images/icons/pin.png" alt="icono de misión " rel="noopener noferrer "
                                    width="20px" height="20px" /><a
                                    href="../../../../assets/Archivos/mipg/autodiagnosticos/Autodiagnostico Rendicion de Cuentas 2022.xlsx"
                                    target="_blank">Autodiagnostico Rendicion de Cuentas 2022</a>
                            </li>
                            <li>
                                <img src="assets/images/icons/pin.png" alt="icono de misión " rel="noopener noferrer "
                                    width="20px" height="20px" /><a
                                    href="../../../../assets/Archivos/mipg/autodiagnosticos/Autodiagnostico Plan Anticorrupcion.xlsx"
                                    target="_blank">Autodiagnostico Plan Anticorrupcion</a>
                            </li>
                            <li>
                                <img src="assets/images/icons/pin.png" alt="icono de misión " rel="noopener noferrer "
                                    width="20px" height="20px" /><a
                                    href="../../../../assets/Archivos/mipg/autodiagnosticos/Autodiagnostico para la Gestion de Conflicto de Intereses 2022.xlsx"
                                    target="_blank">Autodiagnostico para la Gestion de Conflicto de Intereses 2022</a>
                            </li>
                            <li>
                                <img src="assets/images/icons/pin.png" alt="icono de misión " rel="noopener noferrer "
                                    width="20px" height="20px" /><a
                                    href="../../../../assets/Archivos/mipg/autodiagnosticos/Autodiagnostico Gestión del talento humano 2022.xlsx"
                                    target="_blank">Autodiagnostico Gestión del Talento Humano 2022</a>
                            </li>
                            <li>
                                <img src="assets/images/icons/pin.png" alt="icono de misión " rel="noopener noferrer "
                                    width="20px" height="20px" /><a
                                    href="../../../../assets/Archivos/mipg/autodiagnosticos/Autodiagnostico Gestion Codigo de Integridad 2022.xlsx"
                                    target="_blank">Autodiagnostico Gestion Codigo de Integridad 2022</a>
                            </li>
                            <li>
                                <img src="assets/images/icons/pin.png" alt="icono de misión " rel="noopener noferrer "
                                    width="20px" height="20px" /><a
                                    href="../../../../assets/Archivos/mipg/autodiagnosticos/Autodiagnostico Defensa Jurídica 2022.xlsm"
                                    target="_blank">Autodiagnostico Defensa Jurídica 2022</a>
                            </li>
                            <li>
                                <img src="assets/images/icons/pin.png" alt="icono de misión " rel="noopener noferrer "
                                    width="20px" height="20px" /><a
                                    href="../../../../assets/Archivos/mipg/autodiagnosticos/Autodiagnostico Control Interno 2022.xlsx"
                                    target="_blank">Autodiagnostico Control Interno 2022</a>
                            </li>
                            <li>
                                <img src="assets/images/icons/pin.png" alt="icono de misión " rel="noopener noferrer "
                                    width="20px" height="20px" /><a
                                    href="../../../../assets/Archivos/mipg/autodiagnosticos/Autodiagnostico Participacion Ciudadana 2022.xlsx"
                                    target="_blank"> Autodiagnostico Participacion Ciudadana 2022</a>
                            </li>

                            <li>
                                <img src="assets/images/icons/pin.png" alt="icono de misión " rel="noopener noferrer "
                                    width="20px" height="20px" /><a
                                    href="../../../../assets/Archivos/mipg/autodiagnosticos/Autodiagnostico_Gestion_del_Conocimiento_y_la_Innovacion_2022.xlsx"
                                    target="_blank"> Autodiagnostico_Gestion_del_Conocimiento_y_la_Innovacion_2022</a>
                            </li>
                            <li>
                                <img src="assets/images/icons/pin.png" alt="icono de misión " rel="noopener noferrer "
                                    width="20px" height="20px" /><a
                                    href="../../../../assets/Archivos/mipg/autodiagnosticos/Autodiagnostico_Gestion_Documental_2022.xlsx"
                                    target="_blank"> Autodiagnostico_Gestion_Documental_2022</a>
                            </li>
                            <li>
                                <img src="assets/images/icons/pin.png" alt="icono de misión " rel="noopener noferrer "
                                    width="20px" height="20px" /><a
                                    href="../../../../assets/Archivos/mipg/autodiagnosticos/Autodiagnostico_Servicio_Ciudadano_2022.xlsx"
                                    target="_blank">Autodiagnostico_Servicio_Ciudadano_2022</a>
                            </li>
                            <li>
                                <img src="assets/images/icons/pin.png" alt="icono de misión " rel="noopener noferrer "
                                    width="20px" height="20px" /><a
                                    href="../../../../assets/Archivos/mipg/autodiagnosticos/Autodiagnostico_gobierno_digital_2022.xlsx"
                                    target="_blank">Autodiagnóstico Gobierno Digital 2022</a>
                            </li>
                        </ul>
                    </a>
                </li>
            </div>
        </div>
    </div>
    <br>
    <!--
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button custom-accordion-button" type="button"
                (click)="isCollapsed2 = !isCollapsed2" [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseTwo"
                id="Visión">
                <h4 class="custom-accordion-title"><img
                        src="../../../../assets/images/icons/iconos-sistema-integrado/vision.png" alt width="50px"
                        height="50px" hspace="70">Visión</h4>
            </button>
        </h2>
        <div id="collapseTwo" [collapse]="isCollapsed2" class="accordion-collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body custom-accordion-body">
                <li>
                    <a href="../../../../assets/Archivos/mision-vision/mision.pdf" target="_blank"
                        rel="noopener noferrer ">
                        <img src="assets/images/icons/pin.png" alt="icono de misión " rel="noopener noferrer "
                            width="20px" height="20px" />Visión
                    </a>
                </li>
            </div>
        </div>
    </div>

    <br>
-->