<app-menu></app-menu>
<section class="page-title centred"
  style="background-image:url(assets/images/background/banner\ politica\ de\ calidad.jpg)">
</section>
<section>
  <div class="container mt-4" style="font-family: Arial, sans-serif;">
    <nav arial-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
          <a routerLink="/inicio" style=" text-decoration: none;">
            Inicio
          </a>
        </li>
        <li class="" style="font-size: 22px; font-weight: bold;">
          <a routerLink="/ceibas" style=" text-decoration: none;">
            Las Ceibas
          </a>
        </li>
        <li class="" style="font-size: 22px; color: #6c757d; font-weight: bold;">
          Política de Calidad
        </li>
      </ol>
    </nav>
  </div>
</section>
<section class="about-section">
  <div class="container pt-4">
    <div class="row">
      <div class="card-body">
        <div class="auto-container">
          <div class="row align-items-center clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 content-column">
              <div class="content_block_1">
                <div class="content-box wow fadeInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                  <div class="sec-title">
                    <h1>Política de calidad</h1>
                  </div>
                </div>
                <div class="text">
                  <h2 align="justify">En <b style="color:#00556a"> Empresas Públicas de Neiva ESP</b>, estamos
                    comprometidos con
                    la satisfacción de nuestros usuarios y partes interesadas, a partir de un esquema de mejora continua
                    en
                    nuestros procesos, que garantice la calidad, continuidad y eficiencia en la prestación de los
                    servicios de
                    acueducto y alcantarillado. </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><br><br><br><br>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>