<app-menu></app-menu>
<section class="page-title centred"
  style="background-image:url(assets/images/background/banner\ informes\ de\ atencion\ al\ ciudadano.jpg)">
</section>
<div class="container mt-4" style="font-family: Arial, sans-serif;">
  <nav arial-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
              <a routerLink="/inicio" style=" text-decoration: none;">
              Inicio
              </a>
          </li>
          <li class="" style="font-size: 22px; font-weight: bold;">
            <a routerLink="/ceibas" style=" text-decoration: none;">
              Las Ceibas
            </a>
          </li>
          <li class="" style="font-size: 22px; color: #6c757d; font-weight: bold;">
            Informes de Atención al Ciudadano
          </li>
      </ol>
  </nav>
</div>
<section class="about-section">
  <div class="container pt-4">
    <div class="row">
      <div class="card-body">
        <div class=table-wrapper>
          <table class=fl-table>
            <thead>
              <tr>
                <th>Tipo de documento</th>
                <th>Archivo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a
                    href="../../../assets/Archivos/inf-atencion-ciudadano/INFORME_TERCER_TRIMESTRE_2023.pdf"
                    target="_blank" rel="nooperner no ferrer">PDF</a></td>
                <td>INFORME TERCER TRIMESTRE 2023</td>
              </tr>
              <tr>
                <td><a
                    href="../../../assets/Archivos/inf-atencion-ciudadano/INFORME_SEGUNDO_TRIMESTRE_2023.pdf"
                    target="_blank" rel="nooperner no ferrer">PDF</a></td>
                <td>INFORME SEGUNDO TRIMESTRE 2023</td>
              </tr>
              <tr>
                <td><a
                    href="../../../assets/Archivos/inf-atencion-ciudadano/Informe%20PQRS%20segundo%20semestre%202023.pdf"
                    target="_blank" rel="nooperner no ferrer">PDF</a></td>
                <td>Informe PQRS segundo semestre 2023</td>
              </tr>
              <tr>
                <td><a
                    href="../../../assets/Archivos/inf-atencion-ciudadano/Encuesta_de_Percepcion_Junio_2023.pdf"
                    target="_blank" rel="nooperner no ferrer">PDF</a></td>
                <td>Encuesta de Percepción 2023</td>
              </tr>
              <tr>
                <td><a
                    href="../../../assets/Archivos/inf-atencion-ciudadano/1._INFORME_ATENCIÓN_AL_CIUDADANO_PRIMER_TRIMESTRE_2021.pdf"
                    target="_blank" rel="nooperner no ferrer">PDF</a></td>
                <td>Informe atención al cudadano primer trimestre 2021</td>
              </tr>
              <tr>
                <td><a
                    href="../../../assets/Archivos/inf-atencion-ciudadano/2._INFORME_ATENCIÓN_AL_CIUDADANO_SEGUNDO_TRIMESTRE_2021.pdf"
                    target="_blank" rel="nooperner no ferrer">PDF</a></td>
                <td>Informe atención al cudadano primer Segundo 2021</td>
              </tr>
              <tr>
                <td><a
                    href="../../../assets/Archivos/inf-atencion-ciudadano/3._INFORME_ATENCIÓN_AL_CIUDADANO_TERCERO_TRIMESTRE_2021.pdf"
                    target="_blank" rel="nooperner no ferrer">PDF</a></td>
                <td>Informe atención al cudadano primer Tercer 2021</td>
              </tr>
              <tr>
                <td><a
                    href="../../../assets/Archivos/inf-atencion-ciudadano/4._INFORME_ATENCIÓN_AL_CIUDADANO_CUARTO_TRIMESTRE_2021.pdf"
                    target="_blank" rel="nooperner no ferrer">PDF</a></td>
                <td>Informe atención al cudadano primer Cuarto 2021</td>
              </tr>
              <tr>
                <td><a
                    href="../../../assets/Archivos/inf-atencion-ciudadano/informe_semestral_de_atencion_al_usuario_corte_junio_de_2016.pdf"
                    target="_blank" rel="nooperner no ferrer">PDF</a></td>
                <td>Informe semestral de atencion al usuario corte junio de 2016</td>
              </tr>
              <tr>
                <td><a href="../../../assets/Archivos/inf-atencion-ciudadano/2do_informe_semestral_pqr.pdf"
                    target="_blank" rel="nooperner no ferrer">PDF</a></td>
                <td> 2do informe semestral pqr</td>
              </tr>
              <tr>
                <td><a
                    href="../../../assets/Archivos/inf-atencion-ciudadano/informe-atencion-al-ciudadano-1er-semestre.pdf"
                    target="_blank" rel="nooperner no ferrer">PDF</a></td>
                <td>Informe atencion al ciudadano 1er semestre</td>
              </tr>
              <tr>
                <td><a href="../../../assets/Archivos/inf-atencion-ciudadano/2do_informe_semestral_pqr.pdf"
                    target="_blank" rel="nooperner no ferrer">PDF</a></td>
                <td>2. informe semestral pqr 2013</td>
              </tr>
              <tr>
                <td><a href="../../../assets/Archivos/inf-atencion-ciudadano/1_informe_semestral_pqr_2013.pdf"
                    target="_blank" rel="nooperner no ferrer">PDF</a></td>
                <td> 1. informe semestral pqr 2013</td>
              </tr>
              <tr>
                <td><a href="../../../assets/Archivos/inf-atencion-ciudadano/2do_informe_semestral_pqr.pdf"
                    target="_blank" rel="nooperner no ferrer">PDF</a></td>
                <td> 1. deg informe semestral pqr 2017 e 0</td>
              </tr>
              <tr>
                <td><a href="../../../assets/Archivos/inf-atencion-ciudadano/1_informe_semestral_pqr_2013.pd" f
                    target="_blank" rel="nooperner no ferrer">PDF</a></td>
                <td> 1. Informe semestral pqr 2013</td>
              </tr>
            <tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section><br><br>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>
