<app-menu></app-menu>
<section class="page-title centred" style="background-image:url(assets/images/background/banner\ valores.jpg)">
</section>
<section>
  <div class="container mt-4" style="font-family: Arial, sans-serif;">
    <nav arial-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
                <a routerLink="/inicio" style="text-decoration: none;">
                Inicio
                </a>
            </li>
            <li class="" style="font-size: 22px; font-weight: bold;">
              <a routerLink="/ceibas" style="text-decoration: none;">
                Las Ceibas
              </a>
            </li>
            <li class="" style="font-size: 22px; color: #6c757d; font-weight: bold;">
               Valores
            </li>
        </ol>
    </nav>
  </div>
</section>
<section class="about-section">
  <div class="auto-container">
    <div class="row align-items-center clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 content-column">
        <div class="content_block_1">
          <div class="content-box wow fadeInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms">
            <div class="sec-title">
              <h1>Valores</h1>
            </div>
            <div>
              <h2>Los valores éticos de EPN, que motivan y rigen su actuar son:</h2>
            </div>
          </div>
          <div class="text">
            <h3 align="justify">
              <b style="color:#00556a">Responsabilidad:</b> Es un valor ético que hace alusión al compromiso del servidor
              público de dar cuenta de las consecuencias de sus palabras, acciones y compromisos adquiridos.</h3>
          </div>
          <h3>La responsabilidad también implica que el servicio que se ofrece a la ciudadanía se hace de manera
            efectiva, con calidad y procurando el beneficio colectivo</h3>
          <div class="text">
            <h4 align="justify">
              <b style="color:#00556a">Eficacia:</b> Es un valor organizativo que en el contexto de una entidad pública se
              entiende en términos generales “como grado en que se alcanzan los objetivos propuestos”. Unas política o
              programa social es eficaz si cumple con los objetivos esperados en el tiempo previsto y con la calidad
              esperada. Este valor institucional tiene un alcance ético en la administración pública en la medida que
              orienta el cumplimiento de los objetivos institucionales, promoviendo condiciones adecuadas de prestación
              del servicio público.</h4>
          </div>
          <div class="text">
            <h4 align="justify">
              <b style="color:#00556a">Eficiencia: </b>Se entiende como “El grado en que se cumplen los objetivos de una
              iniciativa al menor costo posible”. Aclarando que el costo no sólo se refiere a unidades monetarias sino
              al uso del tiempo, el desgaste o deterioro de un recurso ambiental o al deterioro o sacrificio de otro
              “bien” no tangible como el capital social, la confianza ciudadana, etc. La importancia ética de la
              eficiencia está en complementar los objetivos que se buscan al actuar eficazmente, orientando el uso
              óptimo de los recursos y bienes a cargo de la entidad sin descuidar el logro de las metas institucionales,
              reduciendo los trámites e implementando medidas que promuevan acciones de inclusión social y de protección
              del medio ambiente.</h4>
          </div>
          <div class="text">
            <h4 align="justify">
              <b style="color:#00556a">Equidad: </b> Es dar a cada uno lo que le corresponde según sus necesidades,
              méritos, capacidades o atributos, sin ninguna discriminación por razones de sexo, raza, origen nacional o
              familiar, lengua, religión, opinión política o filosófica. Es un valor relacionado con igualdad,
              diversidad y justicia social, que tiene tres sentidos fundamentales: Igualdad ante la ley, igualdad de
              oportunidades e igualdad de participación.
              </h4>
          </div>
          <div class="text">
            <h4 align="justify">
              <b style="color:#00556a">Imparcialidad: </b>Es un concepto de justicia el cual sostiene que las decisiones
              deben tomarse atendiendo a criterios objetivos, sin influencias de sesgos, prejuicios o tratos
              diferenciados por razones inapropiadas. La Imparcialidad desde la Política Pública supone la valoración de
              las mejores opciones para conseguir los mejores servicios o propuestas.</h4>
              <h4 align="justify">Tomar decisiones sin ninguna influencia o preconcepto que desvíen la intencionalidad del
                objetivo a lograr. Supone, actuar objetivamente con base en la aplicación del conocimiento de normas y
                directrices.</h4>

          </div>
          <div class="text">
            <h3 align="justify">
              <b style="color:#00556a">Servicio: </b> Es la acción y efecto de servir. Es la disposición e interés para
              atender con calidad y calidez, las necesidades y requerimientos de los clientes o usuarios del servicio.</h3>
              <h4 align="justify">El servicio, enfocado a lo público se traduce en el ejercicio y prestación ejemplar,
                permanente y oportuna de las funciones u obligaciones asignadas a los servidores públicos y contratistas
                en cumplimiento de la misión y los objetivos institucionales. Este valor también se evidencia en el
                apoyo mutuo y en la colaboración dentro de los equipos de trabajo, con el fin de reducir esfuerzos y
                maximizar beneficios.</h4>

          </div>
          <div class="text">
            <h4 align="justify"><b style="color:#00556a">Honestidad:</b> Es el valor que caracteriza las personas que actúan
              sin utilizar medios contrarios a la ética como el fraude, el engaño, la mentira o la trampa. Igualmente,
              la honestidad se evidencia en un actuar transparente y motivado por la buena fe. La honestidad es
              fundamental para garantizar el uso adecuado de los recursos que tiene a cargo la Entidad de tal manera que
              estos se destinen al bien común y no a intereses particulares, promoviendo una cultura de rendición de
              cuentas y control ciudadano. La honestidad contribuye a construir confianza de la opinión pública acerca
              de las acciones que realizan los servidores del Ministerio.</h4>
          </div>
          <div class="text">
            <h3 align="justify"><b style="color:#00556a">Puntualidad: </b>Capacidad que tiene una persona para llegar en
              horario a sus tareas, a los lugares a los que debe concurrir, etc. La noción de puntualidad es una
              característica de las sociedades modernas en las cuales el manejo del tiempo es de gran relevancia.</h3>
            <h4 align="justify">La puntualidad puede ser entendida como una actitud al mismo tiempo que como un valor: por
              un lado es la consecuencia de actuar con puntualidad y de saber entonces cómo manejar los tiempos mientras
              que por otro también es un valor muy apreciado sobre todo en el ámbito laboral.</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

</section><br><br>

<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>
