<app-menu></app-menu>
<section class="page-title centred"
  style="background-image:url(assets/images/background/banner\ fuentes\ de\ abastecimiento.jpg)">
</section>
<section class="about-section">
  <div class="container mt-4" style="font-family: Arial, sans-serif;">
    <nav arial-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
                <a routerLink="/inicio" style=" text-decoration: none;">
                Inicio
                </a>
            </li>
            <li class="" style="font-size: 22px; font-weight: bold;">
              <a routerLink="/ceibas" style=" text-decoration: none;">
                Las Ceibas
              </a>
            </li>
            <li class="" style="font-size: 22px; color: #6c757d; font-weight: bold;">
              Fuentes de Abastecimiento
            </li>
        </ol>
    </nav>
  </div>
  <div class="container pt-4">
    <div class="row">
      <div class="card-body">
        <div class="row align-items-center clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 content-column">
            <h1 class="text-center"><b>Fuentes de Abastecimiento</b></h1>
            <div class="content_block_1">
              <div class="content-box wow fadeInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                <div>
                  <h3>La fuente de abastecimiento del sistema de acueducto de Neiva es el río Las Ceibas. Su cuenca
                    hidrográfica está localizada sobre la vertiente occidental de la cordillera oriental, en el
                    municipio de
                    Neiva y tiene una extensión de 28.165 hectáreas.</h3>
                </div>
                <div>
                  <h3>Según datos de la CAM, el caudal en invierno es del orden de los 3.5 m3/seg. y en época de verano
                    2.4
                    m3/seg.</h3>
                </div>
                <div>
                  <h3>1. El agua se capta del Río Las Ceibas, que viene siendo utilizada como fuente de abastecimiento,
                    desde la construcción del sistema más antiguo.</h3>
                </div>
                <div>
                  <h3>2. Su cuenca está localizada sobre la vertiente occidental de la cordillera oriental, en el
                    municipio
                    de Neiva y tiene una extensión de 28.165 hectáreas.</h3>
                </div>
                <div>
                  <h3>3. De acuerdo con información de la CAM, los registros de caudal son: En época de invierno 3.500
                    L/
                    seg. y en verano 2.400 L/ seg. </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><br><br><br><br>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>
