<app-menu></app-menu>
<section class="page-title centred"
  style="background-image:url(assets/images/background/banner\ estados\ finacieros.jpg)">
</section>
<div class="container mt-4" style="font-family: Arial, sans-serif;">
  <nav arial-label="breadcrumb">
      <ol class="breadcrumb" style="background-color: #ffffff; border-radius: 0; padding: 8px 16px; border-left: 5px solid #17a2b8;">
          <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
              <a routerLink="/inicio" style="color: #17a2b8; text-decoration: none;">
                Inicio
              </a>
          </li>
          <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
            <a routerLink="/ceibas" style="color: #17a2b8; text-decoration: none;">
              Las Ceibas
            </a>
          </li>
          <li class="breadcrumb-item" style="font-size: 22px; color: #6c757d; font-weight: bold;">
              Estados Financieros
          </li>
      </ol>
  </nav>
</div>
<section class="google-map-section">
  <div class="container pt-4">
    <div class="row">
      <div class="card-body">
        <div class="table-wrapper">
          <table class="fl-table">
            <thead>
              <tr>
                <th>Tipo de documento</th>
                <th>Archivo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a href="../../../assets/Archivos/documentos-tranparencia/4.1.2.3%20Estados%20financieros%202023%20-%202024/ESTADOS_FINANCIEROS_PRIMER_TRIMESTRE_2024_CON_NOTAS.pdf" target="_blank" rel="noopener noreferrer">PDF
                  </a>
                </td>
                <td class="responsive" data-th="Archivo">
                  <div class="title-wrapper">Estados financieros a 31 de Marzo de 2024</div>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="../../../assets/Archivos/documentos-tranparencia/4.1.2 Estados Financieros 2020 - 2021/ESTADOS_FINANCIEROS_DICIEMBRE_2023.pdf" target="_blank" rel="noopener noreferrer">PDF
                  </a>
                </td>
                <td class="responsive" data-th="Archivo">
                  <div class="title-wrapper">Estados financieros a 30 de Diciembre de 2023</div>
                </td>
              </tr>
              <tr>
                <td><a href="../../../assets/Archivos/documentos-tranparencia/4.1.2 Estados Financieros 2020 - 2021/ESTADOS_FINANCIEROS_JULIO_A_SEPTIEMBRE_2023.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
                <td class="responsive" data-th="Archivo"><div class="title-wrapper">Estados financieros a 30 de Septiembre de 2023</div></td>
              </tr>
              <tr>
                <td><a href="../../../assets/Archivos/documentos-tranparencia/4.1.2 Estados Financieros 2020 - 2021/Estados_financieros_a_30_de_Junio_de_2023.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
                <td class="responsive" data-th="Archivo"><div class="title-wrapper">Estados financieros a 30 de Junio de 2023</div></td>
              </tr>
              <tr>
                <td><a href="../../../assets/Archivos/documentos-tranparencia/4.1.2 Estados Financieros 2020 - 2021/estados_financieros_1trimestre_2023.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
                <td class="responsive" data-th="Archivo"><div class="title-wrapper">Estados financieros a 31 de Marzo de 2023</div></td>
              </tr>
              <tr>
                <td><a href="../../../assets/Archivos/documentos-tranparencia/4.1.2 Estados Financieros 2020 - 2021/ESTADOS_FINANCIEROS_2022_CON_NOTAS.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
                <td class="responsive" data-th="Archivo"><div class="title-wrapper">Estados financieros a 30 de Diciembre de 2022</div></td>
              </tr>
              <tr>
                <td><a href="../../../assets/Archivos/documentos-tranparencia/4.1.2 Estados Financieros 2020 - 2021/ESTADOS FINANCIEROS III TRIMESTRE 2022.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
                <td class="responsive" data-th="Archivo"><div class="title-wrapper">Estados financieros a 30 de Septiembre de 2022</div></td>
              </tr>
              <tr>
                <td><a href="../../../assets/Archivos/documentos-tranparencia/4.1.2 Estados Financieros 2020 - 2021/ESTADOS FINANCIEROS II TRIMESTRE 2022.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
                <td class="responsive" data-th="Archivo"><div class="title-wrapper">Estados financieros a 30 de Junio de 2022</div></td>
              </tr>
              <tr>
                <td><a href="../../../assets/Archivos/documentos-tranparencia/4.1.2 Estados Financieros 2020 - 2021/ESTADOS FINANCIEROS I TRIMETRE 2022.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
                <td class="responsive" data-th="Archivo"><div class="title-wrapper">Estados financieros a 31 de Marzo de 2022</div></td>
              </tr>
              <tr>
                <td><a href="../../../assets/Archivos/documentos-tranparencia/4.1.2 Estados Financieros 2020 - 2021/ESTADOS FINANCIEROS A DIC 2021 COMPLETOS.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
                <td class="responsive" data-th="Archivo"><div class="title-wrapper">Estados financieros a 31 de Diciembre de 2021</div></td>
              </tr>
              <tr>
                <td><a href="../../../assets/Archivos/documentos-tranparencia/4.1.2 Estados Financieros 2020 - 2021/ESTADOS FINANCIEROS III TRIMESTRE 2021 (2).pdf" target="_blank">PDF</a></td>
                <td class="responsive" data-th="Archivo"><div class="title-wrapper">Estados financieros a 30 de Septiembre de 2021</div></td>
              </tr>
              <tr>
                <td><a href="../../../assets/Archivos/documentos-tranparencia/4.1.2 Estados Financieros 2020 - 2021/ESTADOS FINANCIEROS A 30 JUNIO DE 2021.pdf" target="_blank">PDF</a></td>
                <td class="responsive" data-th="Archivo"><div class="title-wrapper">Estados financieros a 30 de Junio de 2021</div></td>
              </tr>
              <tr>
                <td><a href="../../../assets/Archivos/documentos-tranparencia/4.1.2 Estados Financieros 2020 - 2021/ESTADOS FROS I TRIMESTRE 2021.pdf" target="_blank">PDF</a></td>
                <td class="responsive" data-th="Archivo"><div class="title-wrapper">Estados financieros a 31 de Marzo de 2021</div></td>
              </tr>
              <tr>
                <td><a
                    href="../../../assets/Archivos/documentos-tranparencia/4.1.2 Estados Financieros 2020 - 2021/ESTADOS FINANCIEROS A DICIEMBRE 2020.pdf"
                    target="_blank">PDF</a></td>
                    <td class="responsive" data-th="Archivo"><div class="title-wrapper">Estados financieros a 30 de Diciembre de 2020</div></td>
              </tr>
              <tr>
                <td><a href="../../../assets/Archivos/documentos-tranparencia/4.1.2 Estados Financieros 2020 - 2021/ESTADOS FCIERO SEPT 2020.pdf" target="_blank">PDF</a></td>
                <td class="responsive" data-th="Archivo"><div class="title-wrapper">Estados financieros a 30 de Septiembre de 2020</div></td>
              </tr>
              <tr>
                <td><a href="../../../assets/Archivos/documentos-tranparencia/4.1.2 Estados Financieros 2020 - 2021/ESTADOS FINANCIEROS A JUNIO 2020 (2).pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
                <td class="responsive" data-th="Archivo"><div class="title-wrapper">Estados financieros a 30 de Junio de 2020</div></td>
              </tr>
            <tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section><br>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>
