<app-menu></app-menu>
<section class="page-title centred" style="background-image:url(assets/images/background/banner\ politicas-institucionales.jpg)">
</section>
<section>
  <div class="container mt-4" style="font-family: Arial, sans-serif;">
    <nav arial-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
                <a routerLink="/inicio" style=" text-decoration: none;">
                Inicio
                </a>
            </li>
            <li class="" style="font-size: 22px; font-weight: bold;">
              <a routerLink="/ceibas" style=" text-decoration: none;">
                Las Ceibas
              </a>
            </li>
            <li class="" style="font-size: 22px; color: #6c757d; font-weight: bold;">
               Políticas institucionales
            </li>
        </ol>
    </nav>
  </div>
</section>
<section class="google-map-section">
    <div class="container pt-4">
        <div class="row">
          <div class="card-body">
            <div class="table-wrapper">
              <table class="fl-table">
                <thead>
                  <tr>
                    <th>Tipo de documento</th>
                    <th>Archivo</th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td><a href="../../../../assets/Archivos/lasceibas/politicas/CA-D-01 POLITICA DE ATENCIÓN AL CIUDADANO.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
                    <td class="responsive" data-th="Archivo"><div class="title-wrapper"><b>CA-D-01</b> Política de atención al ciudadano</div></td>
                  </tr>
                  
                  <tr>
                    <td><a href="../../../../assets/Archivos/lasceibas/politicas/CA-D-02 POLITICA DE INCLUSION DIVERSIDAD Y NO DISCRIMINACION.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
                    <td class="responsive" data-th="Archivo"><div class="title-wrapper"><b>CA-D-02</b> Política de inclusión, diversidad y no discriminación</div></td>
                  </tr>

                  <tr>
                    <td><a href="../../../../assets/Archivos/lasceibas/politicas/GF-MN-C03 MANUAL DE POLÍTICAS CONTABLES.pdf" target="_blank">PDF</a></td>
                    <td class="responsive" data-th="Archivo"><div class="title-wrapper"><b>GF-MN-C03</b> Manual de políticas contables</div></td>
                  </tr>

                  <tr>
                    <td><a href="../../../../assets/Archivos/lasceibas/politicas/GJ-MN-01_MANUAL_POLITICAS_PREVENCION_DANIO_ANTIJURIDICO.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
                    <td class="responsive" data-th="Archivo"><div class="title-wrapper"><b>GJ-MN-01</b> Manual de políticas de prevención del daño antijurídico</div></td>
                  </tr>

                  <tr>
                    <td><a href="../../../../assets/Archivos/lasceibas/politicas/GA-D-H11 POLÍTICA DE NO USO DE EQUIPOS DE COMUNICACIONES MOVILES MIENTRAS DE CONDUCE.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
                    <td class="responsive" data-th="Archivo"><div class="title-wrapper"><b>GA-D-H11</b> Políticas de no uso de equipos de comunicaciones móviles mientras se conduce</div></td>
                  </tr>

                  <tr>
                    <td><a href="../../../../assets/Archivos/lasceibas/politicas/GA-D-H12 POLITICA DE USO DE ELEMENTOS DE PROTECCIÓN PERSONAL.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
                    <td class="responsive" data-th="Archivo"><div class="title-wrapper"><b>GA-D-H12</b> Política de elementos de protección personal</div></td>
                  </tr>

                  <tr>
                    <td><a href="../../../../assets/Archivos/lasceibas/politicas/GA-D-H08 POLITICA DE REGULACION DE HORARIO DE DESCANSO.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
                    <td class="responsive" data-th="Archivo"><div class="title-wrapper"><b>GA-D-H08</b> Política de regulación de horario y descanso</div></td>
                  </tr>

                  <tr>
                    <td><a href="../../../../assets/Archivos/lasceibas/politicas/GA-D-H09 POLITICA DE REGULACION DE LA VELOCIDAD.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
                    <td class="responsive" data-th="Archivo"><div class="title-wrapper"><b>GA-D-H09</b> Política de regulación de la velocidad</div></td>
                  </tr>

                  <tr>
                    <td><a href="../../../../assets/Archivos/lasceibas/politicas/GA-D-H06 POLITICA DE SEGURIDAD VIAL.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
                    <td class="responsive" data-th="Archivo"><div class="title-wrapper"><b>GA-D-H06</b> Política de seguridad vial</div></td>
                  </tr>

                  <tr>
                    <td><a href="../../../../assets/Archivos/lasceibas/politicas/GA-D-H07 POLITICA DE PREVENCION DE TABAQUISMO, ALCOHOLISMO Y DE LA DROGADICCION.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
                    <td class="responsive" data-th="Archivo"><div class="title-wrapper"><b>GA-D-H07</b> Política de prevención de tabaquismo, alcoholismo y de la drogadicción</div></td>
                  </tr>

                  <tr>
                    <td><a href="../../../../assets/Archivos/lasceibas/politicas/TI-D-04 POLITICA GENERAL DE SEGURIDAD LAS CEIBAS.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
                    <td class="responsive" data-th="Archivo"><div class="title-wrapper"><b>TI-D-04</b> Política general de seguridad de Las Ceibas</div></td>
                  </tr>

                  <tr>
                    <td><a href="../../../../assets/Archivos/lasceibas/politicas/GA-D-H05 POLITICA DE SEGURIDAD Y SALUD EN EL TRABAJO.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
                    <td class="responsive" data-th="Archivo"><div class="title-wrapper"><b>GA-D-H05</b> Políticas de seguridad y salud en el trabajo</div></td>
                  </tr>

                  <tr>
                    <td><a href="../../../../assets/Archivos/lasceibas/politicas/TI-D-02 POLÍTICA DE USO CORREO ELECTRÓNICO INSTITUCIONAL.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
                    <td class="responsive" data-th="Archivo"><div class="title-wrapper"><b>TI-D-02</b> Política de uso de correo electrónico institucional</div></td>
                  </tr>

                  <tr>
                    <td><a href="../../../../assets/Archivos/lasceibas/politicas/TI-D-03 POLÍTICA TRATAMIENTO DE DATOS PERSONALES.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
                    <td class="responsive" data-th="Archivo"><div class="title-wrapper"><b>TI-D-03</b> Política tratamiento de datos personales</div></td>
                  </tr>

                  <tr>
                    <td><a href="../../../../assets/Archivos/lasceibas/politicas/PE-D-04 Politica de la Calidad.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
                    <td class="responsive" data-th="Archivo"><div class="title-wrapper"><b>PE-D-04</b> Política de la Calidad</div></td>
                  </tr>

                  <tr>
                    <td><a href="../../../../assets/Archivos/lasceibas/politicas/PE-D-07 POLITICA DE ADMINISTRACION DEL RIESGO.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
                    <td class="responsive" data-th="Archivo"><div class="title-wrapper"><b>PE-D-07</b> Política de administración del riesgo</div></td>
                  </tr>

                  <tr>
                    <td><a href="../../../../assets/Archivos/lasceibas/politicas/PE-D-07 POLITICA DE ADMINISTRACION DEL RIESGO.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
                    <td class="responsive" data-th="Archivo"><div class="title-wrapper"><b>PE-D-07</b> Política de administración del riesgo</div></td>
                  </tr>

                <tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</section><br><br>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>
