<app-menu></app-menu>
<section class="page-title centred"
  style="background-image:url(assets/images/background/banner\ acuerdos\ de\ la\ junta.jpg)">
</section>
<div class="container mt-4" style="font-family: Arial, sans-serif;">
  <nav arial-label="breadcrumb">
      <ol class="breadcrumb" style="background-color: #ffffff; border-radius: 0; padding: 8px 16px; border-left: 5px solid #17a2b8;">
          <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
              <a routerLink="/inicio" style="color: #17a2b8; text-decoration: none;">
              Inicio
              </a>
          </li>
          <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
            <a routerLink="/ceibas" style="color: #17a2b8; text-decoration: none;">
              Las Ceibas
            </a>
          </li>
          <li class="breadcrumb-item" style="font-size: 22px; color: #6c757d; font-weight: bold;">
            Acuerdos de la junta
          </li>
      </ol>
  </nav>
</div>
<section class="about-section">
  <div class="container pt-4">
    <div class="row">
      <div class="card-body">
        <div class="table-wrapper">
          <table class="fl-table">
            <thead>
              <tr>
                <th>Tamaño</th>
                <th tag>Documento</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>75 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/ACUERDO_001_2024.pdf" target="_blank" rel="noopener noferrer">Acuerdo No
                    1 DE
                    2024</a></td>
              </tr>
              <tr>
                <td>703 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/ACUERDO_002_2024.pdf" target="_blank" rel="noopener noferrer">Acuerdo No
                    2 DE
                    2024</a></td>
              </tr>
              <tr>
                <td>674 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/ACUERDO_003_2024.pdf" target="_blank" rel="noopener noferrer">Acuerdo No
                    3 DE
                    2024</a></td>
              </tr>
              <tr>
                <td>243 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/ACUERDO_004_2024.pdf" target="_blank" rel="noopener noferrer">Acuerdo No
                    4 DE
                    2024</a></td>
              </tr>
              <tr>
                <td>109 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/ACUERDO_005_2024.pdf" target="_blank" rel="noopener noferrer">Acuerdo No
                    5 DE
                    2024</a></td>
              </tr>
              <tr>
                <td>13.4 MB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/ACUERDO N 1 DE 2022.pdf" target="_blank" rel="noopener noferrer">Acuerdo No
                    1 DE
                    2022</a></td>
              </tr>
              <tr>
                <td>1,830 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/ACUERDO N 2 DE 2022.pdf" target="_blank " rel="noopener noferrer">Acuerdo No
                    2 DE
                    2022</a></td>
              </tr>
              <tr>
                <td>2,245 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/ACUERDO N 03 DE 2022.pdf" target="_blank" rel="noopener noferrer">Acuerdo No
                    03 DE
                    2022</a></td>
              </tr>
              <tr>
                <td>291 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/ACTA DE JUNTA DIRECTIVA N 1 DE 31 ENERO DE 2022.pdf" target="_blank"
                    rel="noopener noferrer">Acta de junta directiva No 1 de 31 Enero de 2022</a></td>
              </tr>
              <tr>
                <td>1,070 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/Acta de Junta Directiva N 002-2022.pdf" target="_blank"
                    rel="noopener noferrer">Acta
                    de Junta directiva N 002-2022</a></td>
              </tr>
              <tr>
                <td>2,165 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/ACUERDO 001 DEL 2021.pdf" target="_blank" rel="noopener noferrer">Acuerdo
                    001 del
                    2021</a></td>
              </tr>
              <tr>
                <td>2,308 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/ ACUERDO 002 DEL 2021.pdf" target="_blank" rel="nooperner noferrer">Acuerdo
                    002 del
                    2021</a></td>
              </tr>
              <tr>
                <td>2,144 KB</td>
                <td><a href="a../../../assets/Archivos/cuerdo-juntas/ ACUERDO 003 DEL 2021.pdf" target="_blank" rel="noopener noferrer">Acuerdo
                    003 del
                    2021</a></td>
              </tr>
              <tr>
                <td>29 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/lasceibas/normatividad/ACUERDO 004 DEL 2021.pdf" target="_blank"
                    rel="noopener noferrer">Acuerdo 004 del 2021</a></td>
              </tr>
              <tr>
                <td>3,488 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/ACUERDO 005 DEL 2021.pdf" target="_blank" rel="noopener noferrer"> Acuerdo
                    005 DEL
                    2021</a></td>
              </tr>
              <tr>
                <td>2,002 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/ACUERDO 006 DEL 2021.pdf" target="_blank" rel="noopener noferrrer">Acuerdo
                    006 del
                    2021</a></td>
              </tr>
              <tr>
                <td>2,308 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/ACUERDO 007 DEL 2021.pdf" target="_blank" rel="noopener noferrer">Acuerdo
                    007 del
                    2021</a></td>
              </tr>
              <tr>
                <td>1,707 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/ACUERDO 008 DEL 2021.pdf" target="_blank" rel="noopener noferrer">Acuerdo
                    008 DEL
                    2021</a></td>
              </tr>
              <tr>
                <td>21 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/ ACTA DE JUNTA DIRECTIVA N 3 2021.pdf" target="_blank"
                    rel="noopener noferrer">Acta
                    de junta directiva No 3 2021</a></td>
              </tr>
              <tr>
                <td>20 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/ACTA DE JUNTA DIRECTIVA N 2 2021.pdf" target="_blank"
                    rel="noopener noferrer">Acta
                    de junta directiva No 2 2021</a></td>
              </tr>
              <tr>
                <td>3,427 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/ ACTA DE JUNTA DIRECTIVA N 1 2021.pdf" target="_blank"
                    rel="noopener noferrer">Acta
                    de junta directiva N 1 2021</a></td>
              </tr>
              <tr>
                <td>1,928 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/ACUERDO N 9 JUNTA DIRECTIVA DE 2021.pdf" target="_blank"
                    rel="noopener noferrer">Acuerdo No 9 junta directiva de 2021</a></td>
              </tr>
              <tr>
                <td>1,928 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/ACUERDO N 10 JUNTA DIRECTIVA DE 2021.pdf" target="_blank"
                    rel="noopener noferrer">Acuerdo N 10 junta directiva de 2021</a></td>
              </tr>
              <tr>
                <td>5,310 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/ACTA No 6 JUNTA DIECTIVA DE 28 DE JUNIO DE 2021.pdf" target="_blank"
                    rel="noopener noferrer">Acta No 6 junta directiva de 28 de junio de 2021</a></td>
              </tr>
              <tr>
                <td>2,516 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/ACTA No 5 JUNTA DIRECTIVA 28 DE MAYO DE 2021.pdf" target="_blank"
                    rel="noopener noferrer">Acta No 5 junta directiva 28 de Mayo de 2021</a></td>
              </tr>
              <tr>
                <td>3,487 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/ACTA JUNTA DIRECTIVA N 4 2021 30 DE ABRIL DE 2021.pdf" target="_blank"
                    rel="noopener noferrer">Acta junta directiva No 4 2021 30 de Abril de 2021</a></td>
              </tr>
              <tr>
                <td>13.4 MB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/MANUAL_DE_SUPERVISIÓN_ACUERDO_013_2020.pdf" target="_blank"
                    rel="noopener noferrer">Manual de supervisión - acuerdo 013 de 2020</a></td>
              </tr>
              <tr>
                <td>1,830 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/MANUAL DE CONTRATACIÓN- ACUERDO 012 DE 2020.pdff" target="_blank"
                    rel="noopener noferrer"> MANUAL DE CONTRATACIÓN- ACUERDO 012 de 2020</a></td>
              </tr>
              <tr>
                <td>2,245 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/MANUAL DE CONTRATACIÓN- ACUERDO 012 DE 2020.pdff" target="_blank"
                    rel="noopener noferrer">Manual de contratación - acuerdo 012 de 2020</a></td>
              </tr>
              <tr>
                <td>291 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/acuerdo_ndeg1_2019.pdf" target="_blank" rel="noopener noferrer">Acuerdo
                    ndeg1 2019</a>
                </td>
              </tr>
              <tr>
                <td>1,070 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/acuerdo_ndeg2_2019.pdf" target="_blank" rel="noopener noferrer">Acuerdo
                    ndeg2 2019</a>
                </td>
              </tr>
              <tr>
                <td>2,165 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/acuerdo_ndeg3_2019.pdf" target="_blank"
                    rel="noopener noferrer">Acuerdovndeg3v2019</a>
                </td>
              </tr>
              <tr>
                <td>2,308 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/acuerdo_ndeg4_2019.pdf" target="_blank" rel="nooperner noferrer">Acuerdo
                    ndeg4
                    2019</a></td>
              </tr>
              <tr>
                <td>2,144 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/acuerdo_ndeg5_2019.pdf" target="_blank" rel="noopener noferrer">Acuerdo
                    ndeg5 2019</a>
                </td>
              </tr>
              <tr>
                <td>29 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/acuerdo_ndeg6_2019.pdf" target="_blank " rel="noopener noferrer">Acuerdo
                    ndeg6 2019</a>
                </td>
              </tr>
              <tr>
                <td>3,488 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/acuerdo_ndeg7_2019.pdf" target="_blank" rel="noopener noferrer">Acuerdo
                    ndeg7 2019</a>
                </td>
              </tr>
              <tr>
                <td>2,002 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/acuerdo_ndeg8_2019.pdf" target="_blank" rel="noopener noferrrer">Acuerdo
                    ndeg8
                    2019</a></td>
              </tr>
              <tr>
                <td>2,308 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/acuerdo_ndeg1_2018.pdff" target="_blank" rel="noopener noferrer">Acuerdo
                    ndeg1
                    2018</a></td>
              </tr>
              <tr>
                <td>1,707 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/acuerdo_ndeg2_2018.pdf" target="_blank" rel="noopener noferrer">Acuerdo
                    ndeg2 2018</a>
                </td>
              </tr>
              <tr>
                <td>21 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/acuerdo_ndeg4_2018.pdf" target="_blank" rel="noopener noferrer">Acuerdo
                    ndeg4 2018</a>
                </td>
              </tr>
              <tr>
                <td>20 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/acuerdo_ndeg5_2018.pdf" target="_blank" rel="noopener noferrer">Acuerdo
                    ndeg5 2018</a>
                </td>
              </tr>
              <tr>
                <td>3,427 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/acuerdo_ndeg6_2018.pdf" target="_blank" rel="noopener noferrer">Acuerdo
                    ndeg6 2018</a>
                </td>
              </tr>
              <tr>
                <td>1,928 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/acuerdo_ndeg7_2018.pdf" target="_blank " rel="noopener noferrer">Acuerdo
                    ndeg7 2018</a>
                </td>
              </tr>
              <tr>
                <td>1,928 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/acuerdo_ndeg8_2018.pdf" target="_blank " rel="noopener noferrer">Acuerdo
                    ndeg8 2018</a>
                </td>
              </tr>
              <tr>
                <td>5,310 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/acuerdo_de_junta_directiva_numero_001_de_2016.pdf" target="_blank"
                    rel="noopener noferrer">Acuerdo de junta directiva numero 001 de 2016</a></td>
              </tr>
              <tr>
                <td>2,516 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/acuerdo_de_junta_directiva_numero_002_de_2016.pdf" target="_blank"
                    rel="noopener noferrer">Acuerdo de junta directiva numero 002 de 2016</a></td>
              </tr>
              <tr>
                <td>3,487 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/acuerdo_de_junta_directiva_numero_003_de_2016.pdff" target="_blank"
                    rel="noopener noferrer">Acuerdo_de_junta_directiva_numero_003_de_2016.pdf</a></td>
              </tr>
              <tr>
                <td>13.4 MB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/acuerdo_de_junta_directiva_numero_004_de_2016.pdf" target="_blank"
                    rel="noopener noferrer">Acuerdo de junta directiva numero 004 de 2016</a></td>
              </tr>
              <tr>
                <td>1,830 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/acuerdo_de_junta_directiva_numero_005_de_2016.pdf" target="_blank"
                    rel="noopener noferrer">Acuerdo de junta directiva numero 005 de 2016</a></td>
              </tr>
              <tr>
                <td>2,245 KB</td>
                <td><a href="../../../assets/Archivos/acuerdo-juntas/acuerdo_de_junta_directiva_numero_006_de_2016.pdf" target="_blank"
                    rel="noopener noferrer">Acuerdo de junta directiva numero 006 de 2016</a></td>
              </tr>
            <tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section><br><br>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>
