<app-menu></app-menu>
<section class="page-title centred"
  style="background-image:url(assets/images/background/banner\ historia\ del\ logo.jpg)">
</section>
<section>
  <div class="container mt-4" style="font-family: Arial, sans-serif;">
    <nav arial-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #ffffff; border-radius: 0; padding: 8px 16px; border-left: 5px solid #17a2b8;">
            <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
                <a routerLink="/inicio" style="color: #17a2b8; text-decoration: none;">
                Inicio
                </a>
            </li>
            <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
              <a routerLink="/ceibas" style="color: #17a2b8; text-decoration: none;">
                Las Ceibas
              </a>
            </li>
            <li class="breadcrumb-item" style="font-size: 22px; color: #6c757d; font-weight: bold;">
               Historia del Logo
            </li>
        </ol>
    </nav>
  </div><br><br><br>
</section>
<section class="feature-section centred about-section">
  <div class="auto-container">
    <div class="inner-container wow fadeInLeft animated" data-wow-delay="00ms" data-wow-duration="1500ms">
      <div class="title-text">
        <img src="assets/images/7.jfif" alt width="800px" height="400px">
      </div>
    </div>
  </div>
</section><br><br><br><br><br>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>
