<app-menu></app-menu>
<section class="page-title centred"
  style="background-image:url(assets/images/background/banner\ redes\ de\ acueducto.jpg)">
</section>
<section>
  <div class="container mt-4" style="font-family: Arial, sans-serif;">
    <nav arial-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
                <a routerLink="/inicio" style=" text-decoration: none;">
                Inicio
                </a>
            </li>
            <li class="" style="font-size: 22px; font-weight: bold;">
              <a routerLink="/ceibas" style=" text-decoration: none;">
                Las Ceibas
              </a>
            </li>
            <li class="" style="font-size: 22px; color: #6c757d; font-weight: bold;">
              Redes de Acueducto
            </li>
        </ol>
    </nav>
  </div>
</section>
<section class="about-section">
  <div class="container pt-4">
    <div class="row">
      <div class="card-body">
        <div class="table-wrapper">
          <table class="fl-table">
            <thead>
              <tr>
                <th>Tipo de documento</th>
                <th>Archivo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="../../../assets/Archivos/documentos-ceibas-pdf/red/10.1.rmneivatotal.pdf"
                    target="_blank">PDF</a>
                </td>
                <td>10.1.rmneivatotal</td>
              </tr>
              <tr>
                <td><a href="../../../assets/Archivos/documentos-ceibas-pdf/red/10.2.rmneivacentro.pdf"
                    target="_blank">PDF</a>
                </td>
                <td>10.2.rmneivacentro</td>
              <tr>
                <td><a href="../../../assets/Archivos/documentos-ceibas-pdf/red/10.3.rmneivanorte.pdf"
                    target="_blank">PDF</a>
                </td>
                <td>10.3.rmneivanorte</td>
              </tr>
              <tr>
                <td><a href="../../../assets/Archivosdocumentos-ceibas-pdf/red/10.4.rmneivaoriente.pdf"
                    target="_blank">PDF</a>
                </td>
                <td>10.4.rmneivaoriente</td>
              </tr>
              <tr>
                <td><a href="../../../assets/Archivosdocumentos-ceibas-pdf/red/10.5.rmneivasuroccidente.pdf"
                    target="_blank">PDF</a></td>
                <td>10.5.rmneivasuroccidente</td>
              </tr>
              <tr>
                <td><a href="../../../assets/Archivosdocumentos-ceibas-pdf/red/10.6.rmneivasuroriente.pdf"
                    target="_blank">PDF</a></td>
                <td>10.6.rmneivasuroriente</td>
              </tr>
            <tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section><br><br>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>
