<div id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button custom-accordion-button" type="button" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseOne" id="Misión">
        <h4 class="custom-accordion-title"><img
            src="../../../../assets/images/icons/iconos-sistema-integrado/motivacion.png" alt width="50px" height="50px"
            hspace="70">Misión</h4>
      </button>
    </h2>
    <div id="collapseOne" [collapse]="isCollapsed" class="accordion-collapse" aria-labelledby="headingOne"
      data-bs-parent="#accordionExample">
      <div class="accordion-body custom-accordion-body">
        <li>
          <a href="../../../../assets/Archivos/mision-vision/mision.pdf" target="_blank" rel="noopener noferrer ">
            <img src="assets/images/icons/pin.png" alt="icono de misión " rel="noopener noferrer " width="20px"
              height="20px" />Misión
          </a>
        </li>
      </div>
    </div>
  </div>

  <br>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button custom-accordion-button" type="button" (click)="isCollapsed2 = !isCollapsed2"
        [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseTwo" id="Visión">
        <h4 class="custom-accordion-title"><img
            src="../../../../assets/images/icons/iconos-sistema-integrado/vision.png" alt width="50px" height="50px"
            hspace="70">Visión</h4>
      </button>
    </h2>
    <div id="collapseTwo" [collapse]="isCollapsed2" class="accordion-collapse" aria-labelledby="headingTwo"
      data-bs-parent="#accordionExample">
      <div class="accordion-body custom-accordion-body">
        <li>
          <a href="../../../../assets/Archivos/mision-vision/vision.pdf" target="_blank" rel="noopener noferrer ">
            <img src="assets/images/icons/pin.png" alt="icono de misión " rel="noopener noferrer " width="20px"
              height="20px" />Visión
          </a>
        </li>
      </div>
    </div>
  </div>

  <br>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button custom-accordion-button" type="button" (click)="isCollapsed3 = !isCollapsed3"
        [attr.aria-expanded]="!isCollapsed3" aria-controls="collapseThree" id="FuncionesYDeberes">
        <h4 class="custom-accordion-title"><img
            src="../../../../assets/images/icons/iconos-sistema-integrado/las-funciones.png" alt width="50px"
            height="50px" hspace="70">Funciones y Deberes</h4>
      </button>
    </h2>
    <div id="collapseThree" [collapse]="isCollapsed3" class="accordion-collapse" aria-labelledby="headingThree"
      data-bs-parent="#accordionExample">
      <div class="accordion-body custom-accordion-body">
        <a href="../../../../assets/Archivos/lasceibas/manual_de_funciones_empleados_publicos.pdf"
          target="_blank">Manual de funciones empleados publicos</a>
      </div>
    </div>
  </div>

  <br>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button custom-accordion-button" type="button" (click)="isCollapsed4 = !isCollapsed4"
        [attr.aria-expanded]="!isCollapsed4" aria-controls="collapseFour" id="">
        <h4 class="custom-accordion-title"><img
            src="../../../../assets/images/icons/iconos-sistema-integrado/charlando.png" alt width="50px" height="50px"
            hspace="70px"> Decálogo de los empleados de las empresas públicas de Neiva</h4>
      </button>
    </h2>
    <div id="collapseFour" [collapse]="isCollapsed4" class="accordion-collapse" aria-labelledby="headingFour"
      data-bs-parent="#accordionExample">
      <div class="accordion-body custom-accordion-body">
        <div class="acc-content">
          <div class="text">
            <ol _ngcontent-nmd-c32>
              <li><b>1. Lo ético como principio básico</b></li>
              <li><b>2. El orden y la limpieza</b></li>
              <li><b>3. La integridad</b></li>
              <li><b>4. La puntualidad</b></li>
              <li><b>5. La responsabilidad</b></li>
              <li><b>6. El deseo de superación</b></li>
              <li><b>7. El respeto a las personas, a las leyes, reglamentos y manuales</b></li>
              <li><b>8. El respeto por el derecho a los demás</b></li>
              <li><b>9. Su amor al trabajo</b></li>
              <li><b>10. Su esfuerzo por la economía y desarrollo de las Empresas Públicas de Neiva.</b></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>


  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button custom-accordion-button" type="button" (click)="isCollapsed5 = !isCollapsed5"
        [attr.aria-expanded]="!isCollapsed5" aria-controls="collapseFive" id="">
        <h4 class="custom-accordion-title"><img
            src="../../../../assets/images/icons/iconos-sistema-integrado/justicia.png" alt width="50px" height="50px"
            hspace="70px"> Principios institucionales</h4>
      </button>
    </h2>
    <div id="collapseFive" [collapse]="isCollapsed5" class="accordion-collapse" aria-labelledby="headingFive"
      data-bs-parent="#accordionExample">
      <div class="accordion-body custom-accordion-body">
        <div class="acc-content">
          <div class="text">
            <p style="color:#000">Son paradigmas o normas válidas, permanentes en el tiempo e incondicionales que deben
              ser practicadas por todos los servidores públicos y trabajadores de las Empresas Públicas, en beneficio de
              cada uno, la empresa y la ciudadanía en general, definidos así:</p>
            <p style="color:#000"><b>Respeto:</b>
              Adecua su conducta hacia el respeto de la Constitución y las Leyes, garantizando que en todas las fases
              del proceso de toma de decisiones o en el cumplimiento de los procedimientos administrativos, se respeten
              los derechos a la defensa y al debido procedimiento.
            </p>
            <p style="color:#000"><b>Ética:</b> Conjunto de normas y costumbres que regulan las relaciones humanas, la
              relación consigo mismo, con el otro (las demás personas) y con lo otro (las cosas y el ambiente). “La
              ética, proyecta al ser humano hacia una finalidad, le hace autodeterminarse, dándole a su vida sentido y
              calidad”. Estudio del bien y el mal y sus relaciones con la moral y el comportamiento humano.</p>
            <p style="color:#000"><b>Transparencia:</b> Es la obligación de los sujetos de hacer del conocimiento
              público la información derivada de su actuación, en ejercicio de sus atribuciones. Genera un ambiente de
              confianza, seguridad y franqueza entre el gobierno y la sociedad, de tal forma que los ciudadanos estén
              informados y conozcan las responsabilidades, procedimientos, reglas, normas y demás información generada
              por el sector público, en un marco de abierta participación social y escrutinio públicos.</p>
            <p style="color:#000"><b>Lealtad: </b>Actúa con fidelidad y solidaridad hacia todos los miembros de su
              institución, cumpliendo las órdenes que le imparta el superior jerárquico competente, en la medida que
              reúnan las formalidades del caso y tengan por objeto la realización de actos de servicio que se vinculen
              con las funciones a su cargo, salvo los supuestos de arbitrariedad o ilegalidad manifiestas, las que
              deberá poner en conocimiento del superior jerárquico de su institución.</p>
            <p style="color:#000"><b>Justicia:</b>
              Tiene permanente disposición para el cumplimiento de sus funciones, otorgando a cada uno lo que le es
              debido, actuando con equidad en sus relaciones con el Estado, con el administrado, con sus superiores, con
              sus subordinados y con la ciudadanía en general.
            </p>
            <p style="color:#000"><b>Compromiso: </b>
              Se dice que una persona se encuentra comprometida con algo cuando cumple con sus obligaciones, con aquello
              que se ha propuesto o que le ha sido encomendado. Es decir, que vive, planifica y reacciona de forma
              acertada para conseguir sacar adelante un proyecto, una familia, el trabajo, sus estudios, etc.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSix">
      <a href="./politicas-institucionales" class="accordion-button custom-accordion-button no-arrow">
        <h4 class="custom-accordion-title">
          <img src="assets/images/icons/iconos-sistema-integrado/conferencia.png" alt="" width="50px" height="50px" hspace="10px">
          Políticas institucionales
        </h4>
      </a>
    </h2>
  </div>
  <!--
  <div class="accordion-item">
    <h2 class="accordion-header" id="politicas">
      <button class="accordion-button custom-accordion-button" type="button" (click)="isCollapsed6 = !isCollapsed6"
        [attr.aria-expanded]="!isCollapsed5" aria-controls="collapseSix" id="politicas">
        <h4 class="custom-accordion-title"><img
            src="../../../../assets/images/icons/iconos-sistema-integrado/conferencia.png" alt width="50px"
            height="50px" hspace="120px"> Políticas institucionales</h4>
      </button>
    </h2>
    <div id="collapseSix" [collapse]="isCollapsed6" class="accordion-collapse" aria-labelledby="headingSix"
      data-bs-parent="#accordionExample">
      <div class="accordion-body custom-accordion-body" id="politicas">
        <div class="acc-content">
          <div class="text">
            <ul class="list clearfix">
              <li>
              <li><a
                  href="../../../../assets/Archivos/lasceibas/politicas/CA-D-01 POLITICA DE ATENCIÓN AL CIUDADANO.pdf "
                  target="_blank"><b>CA-D-01</b> Políticas de atención al ciudadano</a></li>
              <li><a
                  href="../../../../assets/Archivos/lasceibas/politicas/CA-D-02 POLITICA DE INCLUSION DIVERSIDAD Y NO DISCRIMINACION.pdf"
                  target="_blank"><b>CA-D-02</b> Política de inclusión, diversidad y no discriminación</a></li>
              <li><a href="../../../../assets/Archivos/lasceibas/politicas/GF-MN-C03 MANUAL DE POLÍTICAS CONTABLES.pdf"
                  target="_blank"><b>GF-MN-C03</b> Manual de políticas contables</a></li>
              <li><a
                  href="../../../../assets/Archivos/lasceibas/politicas/GJ-MN-01 MANUAL DE POLÍTICAS DE PREVENCIÓN DEL DAÑO ANTIJURIDICO.pdf"
                  target="_blank"><b>GJ-MN-01</b> Manual de políticas de prevención del daño antijurídico</a></li>
              <li><a
                  href="../../../../assets/Archivos/lasceibas/politicas/GA-D-H11 POLÍTICA DE NO USO DE EQUIPOS DE COMUNICACIONES MOVILES MIENTRAS DE CONDUCE.pdf"
                  target="_blank"><b>GA-D-H11</b> Políticas de no uso de de equipos de comunicaciones moviles mientras
                  se conduce</a></li>
              <li><a
                  href="../../../../assets/Archivos/lasceibas/politicas/GA-D-H12 POLITICA DE USO DE ELEMENTOS DE PROTECCIÓN PERSONAL.pdf"
                  target="_blank"><b>GA-D-H12</b> Política de uso de elementos de protección personal</a></li>
              <li><a
                  href="../../../../assets/Archivos/lasceibas/politicas/GA-D-H08 POLITICA DE REGULACION DE HORARIO DE DESCANSO.pdf"
                  target="_blank"><b>GA-D-H08</b> Política de regulación de horario de descanso</a></li>
              <li><a
                  href="../../../../assets/Archivos/lasceibas/politicas/GA-D-H09 POLITICA DE REGULACION DE LA VELOCIDAD.pdf"
                  target="_blank"><b>GA-D-H09</b> Políticas de regulación de la velocidad</a></li>
              <li><a href="../../../../assets/Archivos/lasceibas/politicas/GA-D-H06 POLITICA DE SEGURIDAD VIAL.pdf "
                  target="_blank"><b>GA-D-H06</b> Política de seguridad vial</a></li>
              <li><a
                  href="../../../../assets/Archivos/lasceibas/politicas/GA-D-H07 POLITICA DE PREVENCION DE TABAQUISMO, ALCOHOLISMO Y DE LA DROGADICCION.pdf"
                  target="_blank"><b>GA-D-H07</b> Política de prevención de tabaquismo, alcoholismo y de la
                  drogadicción</a></li>
              <li><a
                  href="../../../../assets/Archivos/lasceibas/politicas/TI-D-04 POLITICA GENERAL DE SEGURIDAD LAS CEIBAS.pdf"
                  target="_blank"><b>TI-D-04</b> Política general de seguridad de Las Ceibas</a></li>
              <li><a
                  href="../../../../assets/Archivos/lasceibas/politicas/GA-D-H05 POLITICA DE SEGURIDAD Y SALUD EN EL TRABAJO.pdf"
                  target="_blank"><b>GA-D-H05</b> Políticas de seguridad y salud eb el trabajo</a></li>
              <li><a
                  href="../../../../assets/Archivos/lasceibas/politicas/TI-D-02 POLÍTICA DE USO CORREO ELECTRÓNICO INSTITUCIONAL.pdf"
                  target="_blank"><b>TI-D-02</b> Política de uso de correo electrónico institucional</a></li>
              <li><a
                  href="../../../../assets/Archivos/lasceibas/politicas/TI-D-03 POLÍTICA TRATAMIENTO DE DATOS PERSONALES.pdf"
                  target="_blank"><b>TI-D-03</b> Política tratamiento de datos personales</a></li>
              <li><a href="../../../../assets/Archivos/lasceibas/politicas/PE-D-04 Politica de la Calidad.pdf"
                  target="_blank"><b>PE-D-04 </b>Política de la Calidad</a></li>
              <li><a
                  href="../../../../assets/Archivos/lasceibas/politicas/PE-D-07 POLITICA DE ADMINISTRACION DEL RIESGO.pdf"
                  target="_blank"><b>PE-D-07</b> Política de administración del riesgo</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->