<app-menu></app-menu>
<section class="page-title centred" style="background-image:url(assets/images/background/banner\ politicas.jpg)">
</section>
<section>
  <div class="container mt-4" style="font-family: Arial, sans-serif;">
    <nav arial-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
                <a routerLink="/inicio" style=" text-decoration: none;">
                Inicio
                </a>
            </li>
            <li class="" style="font-size: 22px; font-weight: bold;">
              <a routerLink="/ceibas" style=" text-decoration: none;">
                Las Ceibas
              </a>
            </li>
            <li class="" style="font-size: 22px; color: #6c757d; font-weight: bold;">
               Políticas
            </li>
        </ol>
    </nav>
  </div>
</section>
<section class="about-section">
  <div class="container pt-4">
    <div class="row">
      <div class="card-body">
        <div class="auto-container">
          <div class="row align-items-center clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 content-column">
              <div class="content_block_1">
                <div class="content-box wow fadeInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                  <div class=sec-title>
                    <h1><b>Política</b></h1>
                  </div>
                </div>
                <div class=text>
                  <h3 align=justify><b style=color:#00556a>LAS EMPRESAS PUBLICAS DE NEIVA ESP</b> es una entidad
                    industrial y
                    comercial del estado, del orden municipal que ofrece y asegura la prestación de los servicios
                    públicos
                    domiciliarios de acueducto y alcantarillado de manera oportuna y en condiciones apropiadas, con el
                    apoyo
                    del talento humano, recursos técnicos, físicos y económicos, contribuyendo al aumento de la calidad
                    de
                    vida de sus usuarios y satisfaciendo sus necesidades con la mejora continua de su eficacia,
                    eficiencia y
                    efectividad de los procesos del sistema de Gestión de la calidad y en coordinación con el sistema de
                    Control Interno, enmarcados en los programas de saneamiento básico y agua potable establecidos en el
                    plan
                    de desarrollo municipal y armonía con el medio ambiente.</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><br><br><br><br>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>
