<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
        aria-expanded="true" aria-controls="collapseOne"><img
          src="../../../../assets/images/icons/iconos-sistema-integrado/diagnostico.png " alt="icono de diagnostico" width="50px" height="50px"
          hspace="70 "> Diagnóstico e identificación de problemas
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <ul class="list clearfix">
          <li><a href="./sala-prensa" target="_blank">6.2.1.a.
              Publicación temas de interés</a>
          </li>
          <ul>
            <li><a
                href="../../../../assets/Archivos/documentos-tranparencia/MENU PARTICIPA/6.2.2b/Orientaciones para promover la participación ciudadana - Julio 2018.pdf "
                target="_blank " rel="noopener noreferrer ">6.2.1.b. Caja de herramientas</a></li>
            <li><a href="https://docs.google.com/forms/d/1FfCaNIPgF6J4pRVrpamG3EuEyExKdg-exwrIGOcEFbw/edit "
                target="_blank " rel="noopener noreferrer ">6.2.1.c. Herramienta de evaluación</a></li>
            <li><a href="../../../../assets/documentos-tranparencia/3/Tabulacion Encuestas de Satisfaccion.xlsx" target="_blank "
                rel="noopener noreferrer ">6.2.1.d. Divulgar resultados (archivo de descarga).</a></li>
          </ul>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
        aria-expanded="false" aria-controls="collapseTwo">
        <img src="../../../../assets/images/icons/iconos-sistema-integrado/normativa.png " alt="icono de normativa " width="50px" height="50px"
          hspace="70">Planeación y presupuesto participativo
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <ul class="list clearfix">
          <li><a style="color:#007bff">6.2.2.a. Porcentaje del presupuesto para el proceso</a>
            <ul>
              <li><b>Nota Aclaratoría:</b>
                <p>El presupuesto participativo es el proceso por medio del cual la ciudadanía, a través de la
                  deliberación y la construcción de acuerdos con el Gobierno, asignan un porcentaje de los recursos del
                  presupuesto a programas y proyectos que consideran prioritarios en armonía con el Plan de Desarrollo;
                  no obstante, de acuerdo con los artículos 89, 90 y 91 de Ley 1757 de 2015, Las Ceibas Empresas
                  públicas de Neiva E.S.P no se encuentra obligada a realizar presupuesto participativo.</p>
              </li>
            </ul>
          </li>
          <li><a
              href="../../../../assets/documentos-tranparencia/MENU PARTICIPA/6.2.2b/Orientaciones para promover la participación ciudadana.pdf"
              target="_blank " rel="noopener noreferrer ">6.2.2.b. Habilitar canales de interacción y caja de
              herramientas</a></li>
          <li><a href="./sala-prensa " target="_blank">6.2.2.c.
              Publicar la información sobre las decisiones</a></li>
          <li><a href=" ./sala-prensa" target="_blank" >6.2.2.d.
              Visibilizar avances de decisiones y su estado (semáforo).</a></li>
          <ul>
          </ul>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
        aria-expanded="false" aria-controls="collapseThree">
        <img src="../../../../assets/images/icons/iconos-sistema-integrado/contratacion.png " alt=" icono contratacion" width="50px" height="50px"
          hspace="70">Consulta Ciudadana
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <ul class="list clearfix">
          <li><a href="../../../../assets/documentos-tranparencia/MENU PARTICIPA/6.3/PE-PR-10 SERVICIO A LA COMUNIDAD (1).pdf"
              target="_blank">6.2.3.a. Tema de consulta (normas, políticas, programas o
              proyectos) y resumen del mismo</a></li>
          <li><a
              href="../../../../assets/documentos-tranparencia/MENU PARTICIPA/6.2.2b/Orientaciones para promover la participación ciudadana.pdf"
              target="_blank">6.2.3.b. Habilitar canales de consulta y caja de
              herramientas</a></li>
          <li><a
              href="../../../../assets/documentos-tranparencia/CONCEPTO JURÍDICO-EPN-PROCESO DE IMPLEMENTACIÓN IND. DE TRANSP. Y ACCESO A LA INFO. PÚBLICA.pdf"
              target="_blank" >6.2.3.c. Publicar observaciones y comentarios y las respuestas
              de proyectos normativos</a></li>
          <li><a href="../../../../assets/documentos-tranparencia/normogrma/Normograma 2023_1.html" target="_blank "
              rel="noopener noreferrer ">6.2.3.d. Crear un enlace que redireccione a la Sección Normativa</a></li>
          <li><a href="https://docs.google.com/forms/d/1FfCaNIPgF6J4pRVrpamG3EuEyExKdg-exwrIGOcEFbw/edit "
              target="_blank" >6.2.3.e. Facilitar herramienta de evaluación</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
        aria-expanded="false" aria-controls="collapseFour">
        <img src="Colaboración e innovación " alt=" icono de financiera" width="50px" height="50px" hspace="70 ">Colaboración e innovación
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <ul class="list clearfix">
          <li><a href="https://forms.office.com/r/f140eAudDh" target="_blank " >6.2.4.a. Disponer un espacio para consulta sobre temas o problemáticas</a></li>
          <li><a href="../../../../assets/documentos-tranparencia/MENU PARTICIPA/6.2.2b/Orientaciones para promover la participación ciudadana - Julio 2018.pdf" target="_blank" >6.2.4.b. Convocatoria con el reto</a></li>
          <li><a href="https://forms.office.com/r/f140eAudDh" target="_blank">6.2.4.c. Informar retos vigentes y reporte con la frecuencia de votaciones de soluciones en cada reto</a></li>
          <li><a href="../../../../assets/documentos-tranparencia/normogrma/Normograma 2023_1.html" target="_blank" >6.2.4.d. Publicar la propuesta elegida y los criterios para su selección</a></li>
          <li><a href="https://docs.google.com/forms/d/1FfCaNIPgF6J4pRVrpamG3EuEyExKdg-exwrIGOcEFbw/edit " target="_blank" >6.2.4.e.Divulgar el plan de trabajo para implementar la solución diseñada</a></li>
          <li><a href="https://forms.office.com/r/f140eAudDh" target="_blank" >6.2.4.f.Publicar la información sobre los desarrollos o prototipos</a></li></ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
        aria-expanded="false" aria-controls="collapseFive">
        <img src="../../../../assets/images/icons/iconos-sistema-integrado/agente-de-servicio-al-cliente.png " alt=" icono servicio al cliente" width="50px" height="50px" hspace="70 ">Rendición de cuentas
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <ul class="list clearfix">
          <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScMrc8MzAy7LZ5PW7BikirBRdZ-TE8oFyUS-qxKAYD5dV0zSg/viewform" target="_blank" >6.2.5.a. Habilitar un espacio para que la ciudadanía postule temáticas</a></li>
          <li><a href=" https://info.lasceibas.gov.co/documentos-tranparencia/MENU%20PARTICIPA/6.2.2b/Orientaciones%20para%20promover%20la%20participaci%C3%B3n%20ciudadana.pdf " target="_blank" >6.2.5.b. Estrategia de comunicación para la rendición de cuentas</a></li>
          <li><a href="../../../../assets/documentos-tranparencia/MENU PARTICIPA/participa/6.2.5.c. Calendario eventos.htm" target="_blank" >6.2.5.c. Calendario eventos de diálogo </a></li>
          <li><a href="ceibas#rendicion" target="_blank " rel="noopener noreferrer ">6.2.5.d. Articular a los informes de rendición de cuentas en el Menú transparencia</a></li>
          <li><a href="https://es-la.facebook.com/lasceibasesp/ " target="_blank " rel="noopener noreferrer ">6.2.5.e.Habilitar un canal para eventos de diálogo Articulación con sistema nacional de rendición de cuentas</a><a href=" " target="_blank " rel="noopener noferrer "></a></li>
          <li><a href="../../../../assets/documentos-tranparencia/MENU PARTICIPA/6f/Tabulacion Encuestas de Satisfaccion.htm " target="_blank" >6.2.5.f Preguntas y respuestas de eventos de diálogo (Formato para descargar)</a></li>
          <li><a href="../../../../assets/documentos-tranparencia/MENU PARTICIPA/participa/WhatsApp Image 2022-09-23 at 4.10.00 PM (1).pdf" target="_blank" >6.2.5.g Memorias de cada evento</a></li>
          <li><a href="../../../../assets/documentos-tranparencia/MENU PARTICIPA/11. Autodiagnoìstico De Rendicioìn De Cuentas.htm" target="_blank" >6.2.5.h. Acciones de mejora incorporadas</a></li>
          </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
        aria-expanded="false" aria-controls="collapseSix">
        <img src="../../../../assets/images/icons/iconos-sistema-integrado/equipo.png " alt="icono de equipo " width="50px" height="50px" hspace="70 ">Control social
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <ul class="list clearfix">
          <li><a href="../../../../assets/documentos-tranparencia/MENU PARTICIPA/6.2.6.d/Imodalidad-contros-social.pdf" target="_blank" >6.2.6.a. Informar las modalidades de control social</a></li>
          <li><a href="../../../../assets/documentos-tranparencia/CONCEPTO JURÍDICO-EPN-PROCESO DE IMPLEMENTACIÓN IND. DE TRANSP. Y ACCESO A LA INFO. PÚBLICA.pdf" target="_blank" >6.2.6.b. Convocar cuando inicie ejecución de programa, proyecto o contratos</a></li>
          <li><a href="https://community.secop.gov.co/Public/Common/GoogleReCaptcha/Index?previousUrl=https%3a%2f%2fcommunity.secop.gov.co%2fPublic%2fTendering%2fContractNoticeManagement%2fIndex%3fcurrentLanguage%3des-CO%26Page%3dlogin%26Country%3dCO%26SkinName%3dCCE " target="_blank">6.2.6.c. Resumen del tema objeto de vigilancia </a></li>
          <li><a href="../../../../assets/documentos-tranparencia/MENU PARTICIPA/6.2.6.d/Informes.pdf " target="_blank " rel="noopener noreferrer ">6.2.6.d. Informes del interventor o el supervisor</a></li>
          <li><a href="../../../../assets/documentos-tranparencia/MENU PARTICIPA/6.2.2b/Orientaciones para promover la participación ciudadana - Julio 2018.pdf" target="_blank" >6.2.6.e. Facilitar herramienta de evaluación de las actividades</a></li>
          <li><a href="../../../../assets/documentos-tranparencia/MENU PARTICIPA/6f/Observaciones de Vedurias.pdf " target="_blank" >6.2.6.f. Publicar el registro de las observaciones de las veedurías</a></li>
          <li><a href="../../../../assets/documentos-tranparencia/MENU PARTICIPA/11. Autodiagnoìstico De Rendicioìn De Cuentas.htm" target="_blank" >6.2.6.g. Acciones de mejora</a></li>
          </ul>
      </div>
    </div>
  </div>
</div>

