<app-menu></app-menu>
<section class="page-title centred"
  style="background-image:url(assets/images/background/banner\ objetivos\ de\ calidad.jpg)">
</section>
<section>
  <div class="container mt-4" style="font-family: Arial, sans-serif;">
    <nav arial-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
                <a routerLink="/inicio" style=" text-decoration: none;">
                Inicio
                </a>
            </li>
            <li class="" style="font-size: 22px; font-weight: bold;">
              <a routerLink="/ceibas" style=" text-decoration: none;">
                Las Ceibas
              </a>
            </li>
            <li class="" style="font-size: 22px; color: #6c757d; font-weight: bold;">
               Objetivos de Calidad
            </li>
        </ol>
    </nav>
  </div>
</section>
<section class="about-section about-section">
  <div class="auto-container">
    <div class="row align-items-center clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 content-column">
        <div class="content_block_1">
          <div class="content-box wow fadeInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms">
            <div class="sec-title text-center">
              <h1>Objetivos de calidad</h1>
            </div>
          </div>
          <div class="text">
            <h3 align=justify><b style=color:#00556a>1.</b> Garantizar la transparencia en la ejecución de todos nuestros
              procesos.</h3>
          </div>
        </div>
        <div class="text">
          <h3 align=justify><b style=color:#00556a>2.</b> Satisfacer las necesidades de nuestros usuarios y partes
            interesadas, con el desarrollo de mejores prácticas de calidad.</h3>
        </div>
        <div class="text">
          <h3 align=justify><b style=color:#00556a>3.</b> Incrementar la eficacia, eficiencia y efectividad de las
            acciones de mejora establecidas para el Sistema de Gestión Integral.</h3>
        </div>
        <div class="text">
          <h3 align=justify><b style=color:#00556a>4.</b> Mantener la calidad y continuidad de los Servicios.</h3>
        </div>
        <div class="text">
          <h3 align=justify><b style=color:#00556a>5.</b> Disponer de los recursos necesarios para implementar y
            mantener el Sistema de Gestión Integral.</h3>
        </div>
      </div>
    </div>
  </div>
</section><br><br><br><br>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>
