<app-menu></app-menu>
<section class="page-title centred" style="background-image:url(assets/images/background/banner\ objeto\ social.jpg)">
</section>
<section>
  <div class="container mt-4" style="font-family: Arial, sans-serif;">
    <nav arial-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #ffffff; border-radius: 0; padding: 8px 16px; border-left: 5px solid #17a2b8;">
            <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
                <a routerLink="/inicio" style="color: #17a2b8; text-decoration: none;">
                Inicio
                </a>
            </li>
            <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
              <a routerLink="/ceibas" style="color: #17a2b8; text-decoration: none;">
                Las Ceibas
              </a>
            </li>
            <li class="breadcrumb-item" style="font-size: 22px; color: #6c757d; font-weight: bold;">
               Objeto Social
            </li>
        </ol>
    </nav>
  </div>
</section>
<section class="about-section about-section">
  <div class="auto-container">
    <div class="row align-items-center clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 content-column">
        <div class="content_block_1">
          <div class="content-box wow fadeInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms">
            <div class="sec-title">
              <h1>Objeto social</h1>
            </div>
            <div>
              <h2>Las Empresas Públicas de Neiva E.S.P. tiene por objeto: </h2>
            </div>
          </div><br><br>
          <div class="text">
            <h3 align="justify"><b style="color:#00556a">1.</b> La prestación y/u operación y/o administración y/o
              distribución y/o generación y/o comercialización, de los servicios públicos de: Acueducto, Alcantarillado,
              Aseo, Tratamiento y Aprovechamiento de basuras, Energía Eléctrica, Gas y sus actividades complementarias o
              conexas, propias de todos y cada uno de los servicios que se indican en su objeto social y de acuerdo al
              marco legal regulatorio, aplicado en el municipio de Neiva y en todo el territorio nacional. </h3>
          </div><br><br>
          <div class="text">
            <h3 align="justify"><b style="color:#00556a">2.</b> La prestación y/o administración del servicio de alumbrado
              público. </h3>
          </div>
        </div><br><br>
        <div class=text>
          <h3 align="justify"><b style="color:#00556a">3.</b> Realización de: Asesoría, Consultoría (en cualquiera de sus
            modalidades), Obras, Intermediación, Importación, Exportación, Comercialización y Venta de toda clase de
            bienes o servicios, Recaudo, Facturación, Toma de lecturas, Reparto de facturas, Construcción de
            infraestructura, Prestación de toda clase de servicios técnicos, De administración, Operación o
            Mantenimiento de cualquier bien; siempre que tenga relación directa con la prestación de servicios públicos.
          </h3>
        </div><br><br>
        <div class="text">
          <h3 align="justify"><b style="color:#00556a"> 4.</b> Celebración de contratos de Leasing o cualquier otro contrato
            de carácter financiero que se requiera, tales como contratos de riesgo compartido o de cualquier otra
            naturaleza que resulten necesarios y convenientes para el ejercicio de su objeto social. Lo anterior de
            conformidad con las leyes vigentes.</h3>
        </div>
      </div>
    </div>
  </div>
</section><br><br><br><br>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>
