<div _ngcontent-dqm-c25 class="gov-header">
  <div _ngcontent-dqm-c25 class="container-header-gov region region-header-top">
    <div _ngcontent-dqm-c25>
      <a _ngcontent-dqm-c25 href="https://www.gov.co/" target="_blank"
        ><img
          _ngcontent-dqm-c25
          src="../../../assets/images/logo-header-gov.svg"
          width="130px"
          alt="logo gov"
          class="logo-header-gov"
      /></a>
      <div class="translate-button-container">
        <app-google-translate-button></app-google-translate-button>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="container z-2 position-absolute position-custom p-0">
    <nav class="navbar navbar-expand-lg bg-body-tertiary size-container">
      <div class="logo-las-ceibas">
        <a class="navbar-brand" href="/home">
          <img
            class="size-img-logo m-3"
            src="https://www.lasceibas.gov.co/assets/images/logo-ceibas.png"
            alt="logo-las-ceibas"
          />
        </a>
      </div>
      <button
        class="navbar-toggler m-3"
        (click)="toggleSection()"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
      <div [ngClass]="{ collapse: !isSectionVisible, 'navbar-collapse': true }">
        <div
          class="d-flex flex-column flex-lg-row w-100 justify-content-between"
        >
          <div class="d-flex flex-column flex-lg-row align-items-center">
            <div class="row m-4">
              <div
                class="d-flex flex-column flex-lg-row justify-content-end align-items-lg-center caja-btn"
              >
                <a href="#" class="btn btn-link my-2 my-lg-0"
                  >Transacciones rápidas</a
                >
                <a href="#" class="btn btn-link my-2 my-lg-0"
                  >Trámites y servicios</a
                >
              </div>
              <div class="mt-4">
                <ul
                  class="navbar-nav d-flex flex-lg-row justify-content-between align-items-lg-center p-0"
                >
                  <li class="nav-item menu-item">
                    <a
                      routerLink="/transparenci"
                      class="nav-link text-dark text-decoration-none p-2"
                      >Transparencia y acceso información pública</a
                    >
                    <img
                      class="menu-item-gif"
                      alt=""
                      src="../../../assets/videos_gif/1_transparencia.gif"
                    />
                  </li>
                  <div class="linea-vertical d-none d-lg-flex"></div>
                  <li class="nav-item menu-item">
                    <a
                      routerLink="/atencion-usuario"
                      class="nav-link text-dark text-decoration-none p-2  "
                      >Atención y servicio a la ciudadanía</a
                    >
                    <img
                      class="menu-item-gif"
                      alt
                      src="../../../assets/videos_gif/2_Atencion.gif"
                    />
                  </li>
                  <div class="linea-vertical d-none d-lg-flex"></div>
                  <li class="nav-item menu-item">
                    <a
                      routerLink="/participa"
                      class="nav-link text-dark text-decoration-none p-2 "
                      >Participa</a
                    >
                    <img
                      class="menu-item-gif"
                      src="../../../assets/videos_gif/3_participa.gif"
                    />
                  </li>
                  <div class="linea-vertical d-none d-lg-flex"></div>
                  <li class="nav-item menu-item">
                    <a
                      routerLink="/ceibas"
                      class="nav-link text-dark text-decoration-none p-2 "
                      >Las Ceibas</a
                    >
                    <img
                      class="menu-item-gif"
                      alt
                      src="../../../assets/videos_gif/4.-La-ceibas.gif"
                    />
                  </li>
                  <div class="linea-vertical d-none d-lg-flex"></div>
                  <li class="nav-item menu-item">
                    <a
                      routerLink="/contactenos"
                      class="nav-link text-dark text-decoration-none p-2 "
                      >Contáctenos</a
                    >
                    <img
                      class="menu-item-gif"
                      alt
                      src="../../../assets/videos_gif/8.-contactenos_1.gif"
                    />
                  </li>
                </ul>
              </div>
              <div>
                <div class="linea-horizontal d-none d-lg-flex"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>

<button class="floating-button" (click)="toggleInfo()">
  <mat-icon></mat-icon>
</button>

<div class="info" *ngIf="showInfo">
  <div>
    <div class="d-flex justify-content-between">
      <img src="../../../assets/images/logo-chat-ceibas.png" alt="Logo" />
      <button
        type="button"
        class="btn-close fs-5"
        aria-label="Close"
        (click)="toggleInfo()"
      ></button>
    </div>
    <h2>Bienvenidos a las Ceibas E.S.P</h2>
    <h3>
      Mejoramos nuestros medios de comunicación<br />dando así un mejor servicio
    </h3>
  </div>
  <div class="step1_wrapper three_messenger_textus_livechat">
    <a href="./pqrs" rel="noopener noferrer">
      <button class="chat_now_btn nav-link">PQRSDF</button></a
    >
    <a
      href="https://wa.me/573247669054"
      target="_blank"
      rel="noopener noferrer"
      target="_blank "
      rel="noopener noferrer"
    >
      <button class="chat_now_btn nav-link">WhatsApp</button></a
    >

    <!-- <a href="https://dattachat.com/chat/loadchat/?wid=5e9e348f8b668541657774&sid=422R51q7vO414ds761Ss&host=portal.lasceibas.gov.co"
      target="_blank " rel="nooperner noferrer">
      <button disabled class="chat_now_btn nav-link">Chat en Vivo</button></a> -->

    <button class="chat_now_btn nav-link text-white" (click)="openTawkChat()">
      Chat en Vivo
    </button>
  </div>
</div>
