.gov-header[_ngcontent-dqm-c25] {
  background-color: #36c;
}

.translate-button-container {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5.3px;
  max-width: 90%;
}

.size-container {
  border-radius: 0px 0px 35px 35px;
}


.logo-las-ceibas {
  width: 18vw;
}

.size-img-logo {
  max-width: 100%;
  height: auto;
}

.caja-btn a {
  margin: 0px 0px 0px 10px;
  min-width: 210px;
  height: 35px;
  color: white;
  background-color: #0078B7;
  border: none;
  border-radius: 50px;
  text-decoration: none;
}

.caja-btn a:hover {
  background-color: #063568;
}

.menu-item-gif {
  display: none;
  max-width: 200px;
  position: absolute;
  z-index: 100;
}


.menu-item:hover .menu-item-gif {
  display: block;
  background-color: #063568;
  color: #063568;  
}


/* ! CORREGIR */
.menu-item li a:hover {
  background-color: #063568;
  color: #ffff;  
}


.linea-horizontal {
  border: 1px solid #0078B7;
  height: 0%;
  margin-top: 15px;
}

.linea-vertical {
  border: 1px solid #0078B7;
  height: 25px;
}

@media (max-width: 768px) {
  /*  El carusel cuando este en dispositivo celular pase a relative */
  .position-custom {
    position: relative !important;
  }
}