<app-menu></app-menu>
<section class="page-title centred" style="background-image:url(assets/images/background/banner\ contact\ center.jpg)">
</section>
<section>
  <div class="container mt-4" style="font-family: Arial, sans-serif;">
    <nav arial-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
                <a routerLink="/inicio" style=" text-decoration: none;">
                Inicio
                </a>
            </li>
            <li class="" style="font-size: 22px; color: #6c757d; font-weight: bold;">
              Contac Center
            </li>
        </ol>
    </nav>
  </div>
</section>
<section class="about-section">
  <div class="auto-container">
    <div class="row align-items-center clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 content-column">
        <div class="content_block_1">
          <div class="content-box wow fadeInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms">
          </div>
          <div class="text">
            <h3 align="justify">
              La línea 116 atiende durante las 24 horas del día las llamadas de los usuarios del servicio de acueducto y
              alcantarillado de Las Ceibas, Empresas Públicas de Neiva, E.S.P, dando respuesta y solución a la mayor
              brevedad posible mediante el sistema de Ordenes de Trabajo generadas por el sistema comercial.</h3>
          </div>
          <div class="text">
            <h3 align="justify">
              En la actualidad se presta el servicio las 24 horas del día, en forma personalizada de lunes a sábado en
              el horario de 7:00 a.m. a 7:00 p.m. (jornada continua). En el horario no hábil el sistema brinda al
              usuario la posibilidad de dejar un mensaje de chat o voz, que permite a los operadores de Contact Center
              contestar a la mayor brevedad, en el horario hábil. El sistema es moderno, de última tecnología, lo que
              permite brindar un mejor servicio a los usuarios.</h3>
          </div>
          <div class="text">
            <h3 align="justify">
              El servicio de Contact Center se presta con 7 personas así: 5 son agentes comercial, bachilleres y con
              orientación de servicio al cliente que atienden los llamados de la ciudadanía y dos profesionales, uno en
              ingeniería Industrial con experiencia en actividades de supervisión y otro en Ingeniería Electrónica y
              Telecomunicaciones, con experiencia en administración de Data Centers, quienes se encargan de supervisar
              la operación para que el servicio sea prestado en forma eficiente.</h3>
          </div>
          <div class="text">
            <h3 align="justify">
              El proceso inicia al momento de la recepción de la llamada del usuario. En forma inmediata el operador
              transmite, por medio de una plataforma digital, el mensaje del usuario a un supervisor que designa a la
              cuadrilla encargada, según la zona y la disponibilidad. Los tiempos de solución a los llamados de la
              comunidad dependen de la magnitud del daño, siendo prioritario la atención de redes matrices principales
              del sistema de acueducto y alcantarillado tal como lo establece el decreto 302 de 2000, 229 de 2002,1077
              de 2015 y Contrato de Condiciones Uniformes.</h3>
          </div>
          <div class="text">
            <h3 align="justify">
              Igualmente nuestros asesores en la línea 116 orientan al usuario en los diferentes procesos personalizados
              que deben realizar ya sea mediante nuestra pagina de Internet <a href="https://lasceibas.gov.co">www.lasceibas.gov.co</a> o a
              través de nuestro Centro de Atención al Usuario en la dirección Calle 6 No. 6 - 02 esquina.</h3>

          </div>
          <div class="text">
            <h3 align="justify">
              Nuestros operadores de Contact Center una vez reciben las llamadas telefónicas, las mismas son
              clasificadas y generan inmediatamente una orden de trabajo para dar solución a los problemas de la
              comunidad. Otras de las muchas actividades programadas es devolver la llamada al usuario para la
              verificación de la satisfacción del usuario en la prestación del servicio, igualmente en forma semanal y
              mensual se presentan estadísticas frente a la respuesta que se esta dando al usuario en la línea 116.</h3>
          </div>
          <div class="text">
            <h3 align="justify">
              El propósito de Las Ceibas es poder tener contacto con nuestros usuarios frente a la forma de como se esta
              prestando el servicio de acueducto y alcantarillado, ademas que este conozca en detalle mediante una
              llamada telefónica los avances y los daños que se presentan en la ciudad de forma diaria como también
              darle a conocer al usuario que la domiciliaria es una responsabilidad que esta su cargo.</h3>
          </div>
          <div class="text">
            <h3 align="justify">Las quejas que normalmente reciben las agentes del Contact Center son por el tema de
              acueducto, alcantarillado, cartera, facturación y conexiones fraudulentas, entre otros.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><br><br><br>
<app-menuinteres></app-menuinteres><br><br><br>
<app-footer></app-footer>
