<app-menu></app-menu>
<section class="page-title centred"
  style="background-image:url(assets/images/background/banner\ directorio\ de\ dependencias.jpg)">
</section>  
<div class="container mt-4" style="font-family: Arial, sans-serif;">
  <nav arial-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
              <a routerLink="/inicio" style=" text-decoration: none;">
              Inicio
              </a>
          </li>
          <li class="" style="font-size: 22px; font-weight: bold;">
            <a routerLink="/ceibas" style=" text-decoration: none;">
              Las Ceibas
            </a>
          </li>
          <li class="" style="font-size: 22px; color: #6c757d; font-weight: bold;">
             Directorio de Dependencias
          </li>
      </ol>
  </nav>
</div>
<section class="about-section">
  <div class="auto-container">
    <div class="row">
      <div class="card-body">
        <table class="fl-table">
          <thead>
            <tr>
              <th>Teléfono</th>
              <th>Área</th>
              <th>Extensión</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="tel:6088711988">Planta Kennedy 6088711988</a></td>
              <td><b>Subgerencia Técnica</b></td>
              <td>101</td>
            </tr>
            <tr>
              <td><a href="tel:6088711988">Planta Kennedy 6088711988</a></td>
              <td><b>Auxiliar Técnico</b></td>
              <td>104</td>
            </tr>
            <tr>
              <td><a href="tel:6088711988">Planta Kennedy 6088711988</a></td>
              <td><b>Directorio Técnico</b></td>
              <td>107</td>
            </tr>
            <tr>
              <td><a href="tel:6088711988">Planta Kennedy 6088711988</a></td>
              <td><b>Topografís</b></td>
              <td>108</td>
            </tr>
            <tr>
              <td><a href="tel:6088711988">Planta Kennedy 6088711988</a></td>
              <td><b>Oficina Jurídica</b></td>
              <td>109</td>
            </tr>
            <tr>
              <td><a href="tel:6088711988">Planta Kennedy 6088711988</a></td>
              <td><b>Oficina Ambiental</b></td>
              <td>114</td>
            </tr>
            <tr>
              <td><a href="tel:6088779455">Planta Jardín 6088779455</a></td>
              <td><b>Coordindor de Planta</b></td>
              <td>101</td>
            </tr>
            <tr>
              <td><a href="tel:6088779455">Planta Jardín 6088779455</a></td>
              <td><b>Oficina Operadores</b></td>
              <td>102</td>
            </tr>
            <tr>
              <td><a href="tel:6088779455">Planta Jardín 6088779455</a></td>
              <td><b>Recepción Laboratorio</b></td>
              <td>107</td>
            </tr>
          <tbody>
        </table>
        </div>
      </div>
    </div>
</section><br><br><br><br><br><br>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>
