<app-menu></app-menu>
<section class="page-title centred"
  style="background-image:url(assets/images/background/banner\ acuerdos\ de\ pago.jpg)">
</section>
<section>
  <div class="container mt-4" style="font-family: Arial, sans-serif;">
    <nav arial-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
                <a routerLink="/inicio" style=" text-decoration: none;">
                Inicio
                </a>
            </li>
            <li class="" style="font-size: 22px; font-weight: bold;">
              <a routerLink="/ceibas" style=" text-decoration: none;">
                Las Ceibas
              </a>
            </li>
            <li class="" style="font-size: 22px; color: #6c757d; font-weight: bold;">
              Acuerdos de Pago
            </li>
        </ol>
    </nav>
  </div>
</section>
<section class="about-section">
  <div class="auto-container">
    <div class="row align-items-center clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 content-column">
        <div class="content_block_1">
          <div class="content-box wow fadeInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms">
            <div class="sec-title">
              <h2>Acuerdos de Pago</h2>
            </div>
          </div>
          <br>
          <div class="text">
            <h3 align="justify">
              Cumplimiento a la Resolución 0072 de 2011, Empresas Públicas de Neiva ofrece a los usuarios planes
              especiales para el pago del servicio del agua en los estratos 1 y 2 de la ciudad de Neiva, como estrategia
              para crear la cultura de pago en usuarios morosos, eliminar fraudes e incrementar los ingresos y reducir
              la cartera existente en la entidad, así como para tratar todos los temas que tengan que ver con los
              asuntos y compromisos entre EPN y la comunidad.</h3>
          </div>
          <br>
          <div class="text">
            <h3 align="justify">
              Esta estrategia, igualmente permite analizar de manera particular la situación socioeconómica de los
              usuarios que los obliga a incumplir con el pago de los servicios públicos domiciliarios prestados por la
              empresa.</h3>
          </div>
          <br>
          <div class="text">
            <h3 align="justify">
              Normalmente los usuarios que incurren en mora en el pago del servicio del agua no vuelven a cancelar el
              valor mensual de sus facturas; esto implica para la empresa el crecimiento de la deuda y una correlativa
              disminución del ingreso. En este punto, las facilidades de pago se convierten en una herramienta eficaz
              para la reactivación de los usuarios morosos, se recupera la cartera vencida y se logra percibir el pago
              mensual, significando un aumento en los ingresos de la empresa.</h3>
          </div>
          <br>
          <div class="content-box wow fadeInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms">
            <div class="sec-title">
              <h2>Financiación</h2>
            </div>
          </div>
          <div class="text">
            <h3 align="justify">
              El plazo máximo para las financiaciones de deudas de usuarios morosos por concepto de los servicios
              prestados para los estratos 1 y 2, oficiales y asociaciones comunitarias dependiendo del valor de la deuda
              será de 240 meses, para los demás estratos residenciales (3,4,5y6) y las categorías comercial e industrial
              será máximo de 60 meses.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><br><br><br><br>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>
