a {
  text-decoration: none;
}

.title-sala-prensa {
  font-size: 30px;
  color: #0078B7;
}

.card-facebook {
  max-width: 500px;
  margin: 25px;
  padding: 10px;
  width: 391px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 2px 2px 8px #0078b7;
  transition: transform 0.3s ease;
}

.card-facebook:hover {
  transform: scale(1.05);
}

.news-section {
  position: relative;
  padding: 0px 0px 0px 0px;
}
<<<<<<< HEAD


.card-info-prensa {
=======
.news-block-one {
  display: flex;
}
.fb-page{
  height: 600px;
}
.card1 {
  max-width: max-content;
>>>>>>> 60d2411efe996f07d1ef879d207f8efe303b1abb
  margin: 25px;
  padding: 10px;
  max-width: 800px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 2px 2px 8px #0078b7;
  transition: transform 0.3s ease;
}

.card-info-prensa:hover {
  transform: scale(1.05);
}

