<app-menu></app-menu>
<section class="page-title centred"
  style="background-image:url(assets/images/background/banner\ plan\ anticorrupcion\ y\ atencion\ al\ ciudadano.jpg)">
</section>
<div class="container mt-4" style="font-family: Arial, sans-serif;">
  <nav arial-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
              <a routerLink="/inicio" style=" text-decoration: none;">
              Inicio
              </a>
          </li>
          <li class="" style="font-size: 22px; font-weight: bold;">
            <a routerLink="/ceibas" style=" text-decoration: none;">
            Las Ceibas
            </a>
          </li>
          <li class="" style="font-size: 22px; color: #6c757d; font-weight: bold;">
            Plan anticorrupción y atención al ciudadano
          </li>
      </ol>
  </nav>
</div>
  <div class="container pt-4">
    <div class="row">
      <div class="card-body">
        <div class="table-wrapper">
          <table class="fl-table">
            <thead>
              <tr>
                <th>Adjunto</th>
                <th>Tamaño</th>
              </tr>
            </thead>
            <tbody>

              <tr>
                <td class="responsive" data-th="Archivo">
                  <a href="../../../assets/Archivos/Plan anticurrupcion/SEGUNDO SEGUIMIIENTO AL PLAN ANTICORRUPCION 2023.pdf" target="_blank">
                    <div class="title-wrapper"><b>PE-PL-01</b>Plan Anticorrupción y Atención al Ciudadano V10 - 2023-2</div>
                  </a>
                </td>
                <td><div class="number-wrapper">7299176</div></td>
              </tr>

              <tr>
                <td class="responsive" data-th="Archivo">
                  <a href="../../../assets/Archivos/Plan anticurrupcion/Plan Anticorrupción y Atención al Ciudadano 2023-F.pdf" target="_blank">
                    <div class="title-wrapper"><b>PE-PL-01</b>Plan Anticorrupción y Atención al Ciudadano V10 - 2023-1</div>
                  </a>
                </td>
                <td><div class="number-wrapper">7299176</div></td>
              </tr>


              <tr>
                <td class="responsive" data-th="Archivo">
                  <a href="../../../assets/Archivos/Plan anticurrupcion/Plan Anticorrupcion y Atencion al Ciudadano 2022 V 09.pdf" target="_blank">
                    <div class="title-wrapper"><b>PE-PL-01</b>Plan Anticorrupción y Atención al Ciudadano V9 - 2022-2</div>
                  </a>
                </td>
                <td><div class="number-wrapper">7299176</div></td>
              </tr>  

              <tr>
                <td class="responsive" data-th="Archivo">
                  <a href="../../../assets/Archivos/Plan anticurrupcion/Plan Anticorrupcion y Atencion al Ciudadano V8 - 2022.pdf" target="_blank">
                    <div class="title-wrapper"><b>PE-PL-01</b>Plan Anticorrupción y Atención al Ciudadano V8 - 2022-1</div>
                  </a>
                </td>
                <td><div class="number-wrapper">7299176</div></td>
              </tr>

              <tr>
                <td class="responsive" data-th="Archivo">
                  <a href="../../../assets/Archivos/Plan anticurrupcion/PE-PL-01 Plan Anticorrupcion y Atencion al Ciudadano - 2021.pdf" target="_blank">
                    <div class="title-wrapper"><b>PE-PL-01</b> Plan Anticorrupcion y Atencion al Ciudadano V7 - 2021-2</div>
                  </a>
                </td>
                <td><div class="number-wrapper">8325972</div></td>
              </tr>

              <tr>
                <td class="responsive" data-th="Archivo">
                  <a href="../../../assets/Archivos/Plan anticurrupcion/PE-PL-01 Plan Anticorrupcion y de Atencion al Ciudadano EPN 2021 V6.pdf" target="_blank">
                    <div class="title-wrapper"><b>PE-PL-01</b> Plan Anticorrupcion y de Atencion al Ciudadano V6 - 2021</div>
                  </a>
                </td>
                <td><div class="number-wrapper">2075874</div></td>
              </tr>

              <tr>
                <td class="responsive" data-th="Archivo">
                  <a href="../../../assets/Archivos/Plan anticurrupcion/PE-PL-01 Plan Anticorrupcion y de Atencion al Ciudadano EPN 2020 - APROBADO COMITE.pdf" target="_blank">
                    <b>PE-PL-01</b> Plan Anticorrupcion y de Atencion al Ciudadano V5 - 2020 
                  </a>
                </td>
                <td>359223</td>
              </tr>

              <tr>
                <td class="responsive" data-th="Archivo">
                  <a href="../../../assets/Archivos/Plan anticurrupcion/PE-PL-01 Plan Anticorrupcion y de Atencion al Ciudadano V4 - EPN 2019.pdf" target="_blank">
                    <b>PE-PL-01</b>Plan Anticorrupcion y de Atencion al Ciudadano V4 - 2019
                  </a>
                </td>
                <td>354893</td>
              </tr>

              <tr>
                <td class="responsive" data-th="Archivo">
                  <a href="../../../assets/Archivos/Plan anticurrupcion/PE-PL-01 Plan Anticorrupcion y de Atencion al Ciudadano EPN 2018-2 V3.pdf" target="_blank">
                    <b>PE-PL-01</b> Plan Anticorrupcion y de Atencion al Ciudadano - V3 - 2018-2
                  </a>
                </td>
                <td>553492</td>
              </tr>

              <tr>
                <td class="responsive" data-th="Archivo">
                  <a href="../../../assets/Archivos/Plan anticurrupcion/PE-PL-01 Plan Anticorrupcion y Atencion al Ciudadano - LasCeibas  Ene2018 V2.pdf" target="_blank">
                    <div class="title-wrapper"><b>PE-PL-01</b> Plan Anticorrupcion y Atencion al Ciudadano - V2 - 2018</div>
                  </a>
                </td>
                <td><div class="number-wrapper">6084093</div></td>
              </tr>

              <tr>
                <td class="responsive" data-th="Archivo">
                  <a href="../../../assets/Archivos/Plan anticurrupcion/PE-PL-01 Plan Anticorrupcion y de atencion al ciudadano V1.pdf" target="_blank">
                    <div class="title-wrapper"><b>PE-PL-01</b> Plan Anticorrupcion y de atencion al ciudadano - V1 - 2017 </div>
                  </a>
                </td>
                <td>332939</td>
              </tr>
              
              
            <tbody>
          </table>
        </div>
      </div>
    </div>
  </div><br><br><br><br>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>
