<app-menu></app-menu>
<section class="page-title centred"
  style="background-image:url(assets/images/background/banner\ agua\ no\ contabilizada.jpg)">
</section>
<div class="container mt-4" style="font-family: Arial, sans-serif;">
  <nav arial-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item" style="font-size: 22px; font-weight: bold;">
              <a routerLink="/inicio" style=" text-decoration: none;">
              Inicio
              </a>
          </li>
          <li class="" style="font-size: 22px; font-weight: bold;">
            <a routerLink="/ceibas" style=" text-decoration: none;">
              Las Ceibas
            </a>
          </li>
          <li class="" style="font-size: 22px; color: #6c757d; font-weight: bold;">
            Agua no Contabilizada
          </li>
      </ol>
  </nav>
</div>
<section class="faq-page-section">
  <div class="container pt-4">
    <div class="row">
      <div class="card-body">
        <div class="auto-container">
          <div class="row clearfix">
            <div class="col-lg-12ne col-md-12 col-sm-12 content-column">
              <li class="accordion block">
                <div class="sec-title">
                  <h4>Agua no Contabilizada</h4>
                  <p>Según los datos reportados por el Contrato 010/2009, PMAA, indican que el índice de agua no
                    contabilizada
                    es del orden del 59,18%, según los siguientes datos: </p><br>

                  <table border="2" >
                    <tbody>
                      <tr>
                        <td colspan="4"><span>ANC SEGUN PMAA (Cto. 010-2009)</span></td>
                      </tr>
                      <tr>
                        <td colspan="4"><span>Agua Suministrada</span></td>
                      </tr>
                      <tr>
                        <td rowspan="2"><span>PTAP</span></td>
                        <td><span>Q max</span></td>
                        <td><span>Q min</span></td>
                        <td><span>Q prom</span></td>
                      </tr>
                      <tr>
                        <td colspan="3"><span>2010</span></td>
                      </tr>
                      <tr>
                        <td>EL RECREO</td>
                        <td>609.99</td>
                        <td>430.00</td>
                        <td>520.00</td>
                      </tr>
                      <tr>
                        <td>KENNEDY</td>
                        <td>77.02</td>
                        <td>36.45</td>
                        <td>56.74</td>
                      </tr>
                      <tr>
                        <td>EL JARDIN</td>
                        <td>962.40</td>
                        <td>647.67</td>
                        <td>805.04</td>
                      </tr>
                      <tr>
                        <td><span>Total</span></td>
                        <td><span>1,649.41</span></td>
                        <td><span>1,114.12</span></td>
                        <td><span>1,381.77</span></td>
                      </tr>
                      <tr>
                        <td colspan=4>&nbsp;</td>
                      </tr>
                      <tr>
                        <td><span>Agua Facturada</span></td>
                        <td>1,464,952</td>
                        <td>M3/mes</td>
                        <td><span>565.18</span></td>
                      </tr>
                      <tr>
                        <td colspan=3><span>AGUA NO CONTABILIZADA-ANC</span></td>
                        <td><span>59.10%</span></td>
                      </tr>
                      <tr>
                        <td colspan="4">Nota: Toman datos de facturación Junio-Julio de 2010</td>
                      </tr>
                    </tbody>
                  </table>
                  <style>
                    table,
                    td {
                      border: 1px solid black
                    }
                  </style>

                </div>
                <div class="sec-title">
                  <p>Además, presentan una distribución por componente en la siguiente forma: </p><br>

                  <table border="1">
                    <tbody>
                      <tr>
                        <td><span>Componente</span></td>
                        <td><span>ANC</span></td>
                      </tr>
                      <tr>
                        <td>Macromedición</td>
                        <td>&nbsp;13.5%</td>
                      </tr>
                      <tr>
                        <td>Micromedición</td>
                        <td>5.0%&nbsp;</td>
                      </tr>
                      <tr>
                        <td>Pérdidas por Fugas</td>
                        <td>25.0%&nbsp;</td>
                      </tr>
                      <tr>
                        <td>Clandestinidad</td>
                        <td>13.0%&nbsp;</td>
                      </tr>
                      <tr>
                        <td><span>&nbsp;TOTAL ANC</span></td>
                        <td>56.5%&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                </div>
                <div class="sec-title">
                  <p>Según las mediciones y evaluación efectuada por Aquadatos el Índice de Agua No Contabilizada arrojó
                    un
                    valor de 56.6% en el 2006, teniendo en consideración los datos de las mediciones de la macromedición
                    del
                    agua suministrada de las tres PTAP, El Recreo, El jardín y Kennedy. </p>
                </div>
                <div class="sec-title">
                  <p>Dado que la PTAP de Kennedy está localizada en una cota inferior a la de El Jardín y no está
                    sectorizada
                    las zonas de servicio de estas dos PTAP, se detectó para las horas de mínimo consumo una entrada de
                    volumen de agua al tanque de la PTAP de Kennedy. </p>
                </div>
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-menuinteres></app-menuinteres><br><br>
<app-footer></app-footer>
